{% extends "bitcaster/base.html" %}
{% block page %}
    <div class="container-fluid">
        <div class=" main-content">
            {% block sidebar %}
                <div class="row d-flex d-md-block flex-nowrap wrapper">
                    <div class="float-left pl-0 collapse width show" id="sidebar">
                        {% if user.is_authenticated and application %}
                            <div class="list-group">
                                <div class="col-md-2 org-sidebar">
                                    <div>
                                        <ul class="nav nav-stacked">
                                            <li><a href="{% url 'app-subscriptions' organization.slug application.slug %}">Subscriptions</a></li>
                                            <li><a href="{% url 'app-events' organization.slug application.slug %}">Events</a></li>
                                            <li><a href="{% url 'app-channels' organization.slug application.slug %}">Channels</a></li>
                                            <li><a href="{% url 'app-messages' organization.slug application.slug %}">Messages</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endblock sidebar %}
            <div class="page-content">
            <div id="messageBar">
                {% block messages %}
                    {% if messages %}
                        <ul class="messagelist">{% for message in messages %}
                            <li{% if message.tags %}
                                class="alert alert-{{ message.tags }} .alert-dismissible"{% endif %}>{{ message|capfirst }}</li>
                        {% endfor %}</ul>
                    {% endif %}
                {% endblock messages %}
            </div>
                {% block content %}
                {% endblock content %}

            </div>
        </div>
    </div>
{% endblock page %}
