{# Load the tag library #}
{% load bc_assets %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block css %}
        <link rel="stylesheet" href="{% asset "dist/bitcaster.css" %}">
    {% endblock %}
    {% block js %}{% endblock %}

    {% block extrahead %}{% endblock %}
    <title>Bitcaster</title>
</head>
<body class="{% block bodyclass %}{% endblock %}">
{% block body %}
    <div class="app">
    <!-- Content here -->
    {% block container %}
        {% block header %}
            <header>
                <div class="logo text-center">
                    <a href="/">bitcaster</a>
                </div>
                {% if user.is_authenticated %}
                    <span class="top-menu">
{% if organization and applications %}
    <div class="dropdown">

                            <a href="{% url "org-index" organization.slug %}">{{ organization.name }}</a>
{#                            {% if application %}{{ application }}{% endif %}#}
                            <a class="dropdown-toggle2"
                               href="#" role="button"
                               id="appMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                / {% if application %}{{ application }}{% else %}Applications{% endif %}
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="appMenuLink">
                                {% for app in applications %}
                                    <a class="dropdown-item application"
                                       href="{% url "app-index" organization.slug app.slug %}">{{ organization.name }}/{{ app.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
{% else %}
    <div class="dropdown">
                            <a class="dropdown-toggle2"
                               href="#" role="button"
                               id="orgMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                              {% if organization %}{{ organization }}{% else %}Organizations{% endif %}
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="orkMenuLink">
                                {% for org in user.organizations.all %}
                                    <a class="dropdown-item organization"
                                       href="{% url "org-index" org.slug %}">{{ org.name }}</a>
                                {% endfor %}
                            </div>
                        </div>

{% endif %}
                    </span>
                    {% block user-menu %}
                        <span class="pull-right user-menu ">
                        <div class="dropdown">
                            <a class="dropdown-toggle2"
                               href="#" role="button"
                               id="userMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                            {{ user.display_name }}<i class="fa fa-angle-down"></i>
                          </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenuLink">
                                {% if user.is_superuser %}
                                    <a class="dropdown-item" href="{% url "admin:index" %}">Admin</a>
                                    <a class="dropdown-item" href="{% url "settings" %}">Settings</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url "user-profile" %}">Profile</a>
                                <a class="dropdown-item" href="#">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </div>
                    </span>
                    {% endblock user-menu %}
                {% endif %}
            </header>
        {% endblock header %}
        {% block messages %}
            <div id="messageBar">
                {% if messages %}
                    <ul class="messagelist">{% for message in messages %}
                        <li{% if message.tags %}
                            class="alert alert-{{ message.tags }} .alert-dismissible"{% endif %}>{{ message|capfirst }}</li>
                    {% endfor %}</ul>
                {% endif %}
            </div>
        {% endblock messages %}
        <div class="container-fluid main-content">
            {% block page %}
            {% endblock page %}
        </div>
        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm justify-content-start">
                            <span class="pull-left">bitcaster
                            <span>{{ bitcaster_version }} </span>
                            <span class="git-status d-inline d-sm-none d-md-inline">{{ git_status }}</span>
                            </span>
                        </div>
                        <div class="col-sm justify-content-center">
                            <a href="//bitcaster.io/"><img src="{% asset "logos/bitcaster32.png" %}"></a>
                        </div>
                        <div class="col-sm justify-content-end">
                            {% if user.is_authenticated %}
                                <span class="pull-right">
                                    <a class="d-none d-md-block" href="/api/">API</a>
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </footer>
        {% endblock footer %}
    {% endblock container %}
{% endblock body %}

</div>

<script src="{% asset "dist/vendor.js" %}"></script>
<script src="{% asset "dist/bitcaster.js" %}"></script>

</body>
</html>
