{% extends "admin_extra_buttons/action_page.html" %}
{% load i18n markdown %}
{% block object-tools-items %}
{% endblock %}
{% block content %}
    {% if form.help_text %}
        <div class="frame">
            {{ form|help_doc }}
        </div>
    {% endif %}
    {% block form %}
        <div class="border-gray-500 rounded border-1">
            <form method="post" id="action-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="my-5 p-3">
                    {{ form }}
                </div>
                {% block submit %}
                    <div class="form-submit-row">
                        <button type="submit" class="button button-primary" id="apply" name="apply">
                            {% translate "Confirm" %}
                        </button>
                    </div>
                {% endblock %}
            </form>
        </div>
    {% endblock form %}
{% endblock content %}
