{% extends "bitcaster/application/events/base_detail.html" %}{% load crispy_forms_filters i18n bitcaster %}
{#{% block pageId %}event{% endblock %}#}
{% block detail %}
    <div class="container">
        <div class="row col-12">
            <div class="container-fluid">
                <form method="post" lass="d-none" id="form-event">
                    {% csrf_token %}
                    <div class="card mb-2">
                        <div class="card-header text-capitalize" href="#">General</div>
                        <ul class="collapse show list-group list-group-flush p-3" id="">
                            {{ form.name|as_crispy_field }}
                            {{ form.description|as_crispy_field }}
                        </ul>
                    </div>
                    <div class="card mb-2">
                        <div class="card-header text-capitalize" href="#">Details</div>
                        <ul class="collapse show list-group list-group-flush p-3" id="">
                            {{ form.channels|as_crispy_field }}
                            {{ form.subscription_policy|as_crispy_field }}
                            {{ form.attachment|as_crispy_field }}
                            {{ form.event_expiration|as_crispy_field }}
                        </ul>
                    </div>
                    <div class="card mb-2">
                        <div class="card-header text-capitalize" href="#">Confirmation</div>
                        <ul class="collapse show list-group list-group-flush p-3" id="">
                            {{ form.need_confirmation|as_crispy_field }}
                            {{ form.reminders|as_crispy_field }}
                            {{ form.reminder_interval|as_crispy_field }}
                        </ul>
                    </div>
                    <div class="pt-5">
                        <input
                            name="save_edit_messages"
                            value="{% trans "Save and edit messages" %}"
                            type="submit" class="pull-right btn btn-default btn-primary">
                        <input type="button" class="btn btn-secondary"
                               onclick="history.back();"
                               value="{% trans "Cancel" %}">

                        <input id="btn-submit"
                               name="save_and_exit"
                               value="{% trans "Save" %}"
                               type="submit" class="btn btn-outline-primary">
                    </div>
                    {#  Arguments #}
                    {#            <a name="arguments"></a>#}
                    {#            <div class="container">#}
                    {#                <div class="row col-12">#}
                    {#                    <div class="pull-right col-12 p-4">#}
                    {#                        <a id="add_more" class="btn btn-danger btn-small pull-right"#}
                    {#                           href="#arguments">{% trans "Add Argument" %}</a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}
                    {#            {{ form.arguments.management_form }}#}
                    {#            <div class="content arguments p-4">#}
                    {#                {% for argument in form.arguments.forms %}#}
                    {#                    <div class="row">#}
                    {#                        <div class="row col-sm">{{ argument.name|as_crispy_field }}</div>#}
                    {#                        <div class="row col-sm">{{ argument.type|as_crispy_field }}</div>#}
                    {#                        <div class="row col-sm align-items-center">#}
                    {#                            <a href="#" class="remove_line">#}
                    {#                                <i class="fa fa-remove">-----</i>#}
                    {#                            </a>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                {% endfor %}#}
                    {#            </div>#}
                    {# End of Arguments #}
                </form>
            </div>
        </div>
    </div>
    {#    </div>#}

{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        (function () {
            {#$("#form-event").removeClass("d-none").show();#}
            $("#id_name").focus();

            function formatData(data) {
                return $(
                    "<span><img width=20 height=20 src='/plugins/icons/channel/" + data.id + "/'/> " + data.text + "</span>"
                );
            }

            $("#id_channels").select2({
                    {#templateResult: formatData,#}
                    {#templateSelection: formatData#}
                }
            );
        })($);

    </script>
{% endblock %}
