{% extends "bitcaster/application/events/base_detail.html" %}{% load i18n bitcaster crispy_forms_filters %}
{% block detail %}
    <div class="container">
        <div class="row col-12">
            <div class="pull-right col-12 p-4">
                <a class="btn btn-danger btn-small pull-right"
                   href="{% app-url "app-key-create" %}">{% trans "Create New Key" %}
                </a>
            </div>
        </div>
    </div>
    {% include "bitcaster/_includes/keys.html" with keys=keys  %}

{% endblock %}
