{% extends "bitcaster/application/base.html" %}{% load crispy_forms_tags i18n bitcaster %}
{% block pageId %}event{% endblock %}
{% block page %}
    <style>
        pre {
            padding: 8px;
            width: 90%;
            font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
            font-size: 15px;
            color: #e8e8e8;
            background-color: black;
        }

        #_hiddenCopyText_ {
            width: 0;
            height: 0;
            position: fixed;
            left: -9999px;
            right: 0;
            z-index: -1000;
            resize: none;
            border: 0 transparent;
        }

    </style>
    <div class="breadcrumbs pb-4">
        <a href="{{ application.urls.events }}">events</a> :
        <a href="{{ event.urls.edit }}">{{ event }}</a> :
        <a href="{{ events.urls.test }}">test</a>
    </div>
    <div class="container border p-1 m-1">
        <div class="p-2">
            <select id="method" class="form-control">
                <option>get</option>
                <option>post</option>
            </select>
        </div>
        <div class="p-2 copy" id="endpoint">
        </div>
    </div>
    {# WEB #}
    {% if event.development_mode %}
        <div class="container border p-1 m-1">
            {#  Arguments #}
            <div class="content arguments">
                <div class="align-items-center row-template d-none">
                    <div class="col-5"><input class="form-control name" type="text"></div>
                    <div class="col-5"><input class="form-control value" type="text"></div>
                    <div class="col-2">
                        <span class="pointer remove-param">
                            <i class="far fa-times-circle"></i>&nbsp;
                        </span>
                    </div>
                </div>
            </div>
            {# End of Arguments #}`
        </div>
        <div class="container border p-1 m-1">
            <pre id="web" style="min-height: 200px"></pre>
            <button id="trigger" class="btn btn-primary">Trigger</button>
            <button id="add-argument" class="btn btn-primary">Add Argument</button>
        </div>
    {% else %}
        {% trans "Developer mode need to be enabled to test event from this interface" %}
    {% endif %}
    <div class="container mt-3">
        <input type="button" class="btn btn-secondary"
               onclick="history.back();"
               value="{% trans "Cancel" %}">

    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
        };
        $('.copy').tooltip({
            trigger: 'hover',
            placement: 'top',
            title: "click to copy",
        }).popover({
            animation: false,
            trigger: 'click',
            placement: 'top',
            content: 'copied'
        }).on('click', function (evt) {
            $(evt.currentTarget).tooltip('hide');
            copyToClipboard(evt.currentTarget);
            setTimeout(function () {
                $(evt.currentTarget).popover('hide');
            }, 800);
        });
    </script>
    <script>
        $("#ser input").change(function () {
            var args = "";
            var j = {};
            $("#ser input").each(function () {
                if ($(this).val() !== "") {
                    args += "\n     " + $(this).attr("name") + "=" + $(this).val() + " \\";
                    j[$(this).attr("name")] = $(this).val();
                }
            });
            $("#params1").text("\\\n     -d '" + JSON.stringify(j) + "'");
            $("#params2").text(args);
            $("#params3").text("\\\n     --post-data='" + JSON.stringify(j) + "'");
        });
    </script>
    <script>
        var BASE_URL = "{{ api_short_url }}";
        var params = {};
        var workingURL = BASE_URL;
        $('#endpoint').html(workingURL);
        $("#add-argument").click(function () {
            $(".row-template").clone()
                .removeClass('row-template d-none')
                .addClass('row')
                .appendTo(".arguments").find('.name').focus();

        });
        $('.arguments').on('click', '.remove-param', function () {
            $(this).parent().parent().remove()
        }).on('keyup', 'input', function () {
            params = {};
            $('.arguments>.row').each(function (i, el) {
                params[$(el).find('.name').val()] = $(el).find('.value').val();
            });
            workingURL = BASE_URL + '?' + $.param(params);
            $('#endpoint').html(workingURL);
        });

        $("#trigger").click(function () {
            var xhttp = new XMLHttpRequest();
            $monitor = $('#web');
            $monitor.html("");
            xhttp.onprogress = function () {
                $monitor.append("LOADING\n"); // readyState will be 3
            };
            /*
            xhttp.onload = function () {
                $monitor.append("SUCCESS\n"); // readyState will be 4
            };
            */
            var method = $('#method').val();
            xhttp.open(method, workingURL, false);
            $monitor.append("METHOD: " + method + "\n");
            $monitor.append("OPEN CONNECTION: " + workingURL + "\n");
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.setRequestHeader("Authorization", "Key {{ key.token }}");
            {#$monitor.append("setRequestHeader: Authorization, \"Key {{ key.token }}\"\n");#}
            $monitor.append("setRequestHeader: Content-type, \"application/json\"\n");
            $monitor.append("SENDING REQUEST\n");
            xhttp.send();
            if (xhttp.status !== 201) {
                $monitor.append("ERROR ", xhttp.status, "\n");
            } else {
                $monitor.append("SUCCESS ", "\n");
            }
            var json = JSON.parse(xhttp.responseText);
            $monitor.append(JSON.stringify(json, null, 4) + "\n");
        });

        $("button.fa-copy").click(function () {
            var $target = $($(this).data("target"));
            var command = $target.text();
            if (!document.getElementById("multiline").checked) {
                command = command.replace(/[\n\\]/g, "").replace(/ {2,}/g, " ");
            }
            $("#_hiddenCopyText_").val(command).select();
            var succeed = document.execCommand("Copy");
        });
    </script>
{% endblock %}
