{% extends "bitcaster/application/base.html" %}{% load crispy_forms_tags i18n bitcaster %}
{% block pageId %}event{% endblock %}
{% block page %}
    <style>
        pre {
            padding: 8px;
            width: 90%;
            font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
            font-size: 15px;
            color: #e8e8e8;
            background-color: black;
        }

        #_hiddenCopyText_ {
            width: 0;
            height: 0;
            position: fixed;
            left: -9999px;
            right: 0;
            z-index: -1000;
            resize: none;
            border: 0 transparent;
        }

    </style>
    <div class="breadcrumbs pb-4">
        <a href="{{ application.urls.events }}">events</a> :
        <a href="{{ event.urls.edit }}">{{ event }}</a> :
        <a href="{{ events.urls.test }}">test</a>
    </div>
    <div class="container-fluid border p-1">
        <div class="row">
            <div class="col-1 m-2">Url:</div>
            <div class="copy col-5 m-2">{{ api_url }}</div>
        </div>
        <div class="row">
            <div class="col-1 m-2">Token:</div>
            <div class="copy col-5 m-2">{{ key.token }}</div>
        </div>
    </div>
    <div class="p-2 m-3">
        {# WEB #}
        <div class="tab-pane" id="tab-web" role="tabpanel" aria-labelledby="profile-tab">
            {% if event.development_mode %}
                <pre id="web" style="min-height: 200px"></pre>
                <button id="trigger" class="btn btn-primary">Trigger</button>
            {% else %}
                {% trans "Developer mode need to be enabled to test event from this interface" %}
            {% endif %}
        </div>
    </div>

    <input type="button" class="btn btn-secondary"
           onclick="history.back();"
           value="{% trans "Cancel" %}">
    </div>

{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
        };
        $('.copy').tooltip({
            trigger: 'hover',
            placement: 'top',
            title: "click to copy",
        }).popover({
            animation: false,
            trigger: 'click',
            placement: 'top',
            content: 'copied'
        }).on('click', function (evt) {
            $(evt.currentTarget).tooltip('hide');
            copyToClipboard(evt.currentTarget);
            setTimeout(function () {
                $(evt.currentTarget).popover('hide');
            }, 800);
        });
    </script>
    <script>
        $("#ser input").change(function () {
            var args = "";
            var j = {};
            $("#ser input").each(function () {
                if ($(this).val() !== "") {
                    args += "\n     " + $(this).attr("name") + "=" + $(this).val() + " \\";
                    j[$(this).attr("name")] = $(this).val();
                }
            });
            $("#params1").text("\\\n     -d '" + JSON.stringify(j) + "'");
            $("#params2").text(args);
            $("#params3").text("\\\n     --post-data='" + JSON.stringify(j) + "'");
        });
    </script>
    <script>
        $("#trigger").click(function () {
            var xhttp = new XMLHttpRequest();
            $monitor = $('#web');
            xhttp.onprogress = function () {
                $monitor.append("LOADING\n"); // readyState will be 3
            };
            /*
            xhttp.onload = function () {
                $monitor.append("SUCCESS\n"); // readyState will be 4
            };
            */
            xhttp.open("POST", "{{ api_url }}", false);
            $monitor.append("OPEN CONNECTION: {{ api_url }}\n");
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.setRequestHeader("Authorization", "Key {{ key.token }}");
            $monitor.append("SENDING REQUEST\n");
            xhttp.send();
            if (xhttp.status !== 201) {
                $monitor.append("ERROR ", xhttp.status, "\n");
            } else {
                $monitor.append("SUCCESS ", "\n");
            }
            $monitor.append(xhttp.responseText, "\n");
        });

        $("button.fa-copy").click(function () {
            var $target = $($(this).data("target"));
            var command = $target.text();
            if (!document.getElementById("multiline").checked) {
                command = command.replace(/[\n\\]/g, "").replace(/ {2,}/g, " ");
            }
            $("#_hiddenCopyText_").val(command).select();
            var succeed = document.execCommand("Copy");
        });
    </script>
{% endblock %}
