#handler-list {
    img {
        width: 50px;
        height: 50px;
    }

    .handler {
        height: 120px;
        min-width: 120px !important;
        margin: 5px;

        &.selected {
            border: 2px solid grey;
            background-color: rgba(249, 253, 19, 0.14);
        }

        //.plugin-info {
        //    bottom: 5px;
        //    height: 18px;
        //    width: 18px;
        //    float: right;
        //    z-index: 10;
        //    position: absolute;
        //    right: 0px;
        //}

        label {
            padding-top: 20px;
            font-weight: bold;
        }
    }

    .handler-row {
        border-bottom: 1px grey solid;
        height: 50px;
        padding: 2px;
        vertical-align: middle;
    }

    .handler-name {
        height: 50px;
        vertical-align: middle;
    }
}

.channel-form {
    textarea {
        height: 50px;
    }

    div.invalid-feedback {
        display: block;
        font-size: 100%;
    }

    p.invalid-feedback {
        display: block;
        font-size: 80%;
        font-weight: normal;
    }
}

.channel-list {
    img {
        width: 30px;
        height: 30px;
    }

    .handler-row {
        border-bottom: 1px grey solid;
        height: 90px;
        padding: 10px;

        .fa {
            padding: 10px;
        }

        .fa-ban {
            color: red;
        }

        .fa-check {
            color: darkgreen;
        }

        .handler-name {
            vertical-align: middle;
        }
    }
}

div.channel-info {
    &.modal{

    }
    ul {
        margin: 0;
        padding: 0;

        a.url {
            font-weight: normal;
            font-size: 12px;
        }

        li {
            display: list-item;
            list-style: none;
            padding-bottom: 20px;

            &.name {
                font-size: larger;
                font-weight: bold;
                padding-top: 10px;
                padding-bottom: 15px;
            }

            .label {
                font-weight: bold;
                padding-bottom: 5px;
            }
        }
    }
}
