.plugin-config-form {
    .field {
        .help-block {
            padding-top: 2px;
            font-size: 12px;
            font-style: italic;
        }
    }

    .form-group {
        .label {
            display: inline-block;
            margin-bottom: 0.5rem;

        }

        &.has-error {
            .errors {
                color: red;
            }

            input {
                border: 1px solid red;
            }
        }
    }
}
