/*
  sidebar.scss
 */
#sidebar {
  background: #0072e2; /* For browsers that do not support gradients */
  background: linear-gradient(to right, #5b9fe2, #4494e2); /* Standard syntax (must be last) */
  z-index: 3;
  width: 200px;
  color: white;
  &.application-sidebar{
    background: #004c97; /* For browsers that do not support gradients */
    background: linear-gradient(to right, #506297, #395497); /* Standard syntax (must be last) */
  }
  .org-logo{
    display: block;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    text-align: center!important;
    padding: 5px;
    img {
      max-height: 190px;
      max-width: 190px;
    }
  }
  a{
    color: white;
    &:hover {
      color: blue;
    }
  }
  .list-group {
    padding-top: 5px;
    //background-color: #333;
    min-height: 100vh;
    li{
      padding-top: 10px;
    }
  }
}
