.user-profile {
  div.avatar {
    width: 220px;
    height: 220px;
    border: 1px solid grey;
    border-radius: 25px;
    overflow: hidden;
    img {
      width: 230px;
      height: 230px;
    }
  }

}
