We sent you a confirmation email!
We sent an email to saxix.rome@gmail.com when you signed up for Gravatar.

In this email you will find a link that, when clicked, will bring you back to a confirmation page. Once you've confirmed your email, you can start using Gravatar.

If for some reason you did not receive the confirmation email, feel free to get in touch and we'll do our best to get you sorted!

You can also review our FAQs or search our support documents.

PLEASE check your junk/spam folder before contacting us, as it is very common to have email delivery problems because of automated filters.

Manage My Gravatars
