<tr class="form-group {% if field.errors %}has-error{% endif %}">
    {% if field.label %}
        <td {% if style.hide_label %}class="sr-only"{% endif %}>{{ field.label }}</td>
    {% endif %}
    <td>
        <input id="id_{{ field.name }}" name="{{ field.name }}" {% if style.input_type != "file" %}class="form-control"{% endif %}
               type="{{ style.input_type }}" {% if style.placeholder %}placeholder="{{ style.placeholder }}"{% endif %}
               {% if field.value %}value="{{ field.value }}"{% endif %}
               {% if style.autofocus and style.input_type != "hidden" %}autofocus{% endif %}>
        <input type="checkbox" onclick="toggle{{ field.name }}()"> Show Password

        {% if field.errors %}
            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        {% endif %}

        {% if field.help_text %}
            <span class="help-block">{{ field.help_text|safe }}</span>
        {% endif %}
    </td>
</tr>
<script>
function toggle{{ field.name }}() {
    var x = document.getElementById("id_{{ field.name }}");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}
</script>
