{% extends "bitcaster/organization/base.html" %}{% load crispy_forms_tags i18n bitcaster %}
{% block content %}
    <h2>Organization Users</h2>

    <div class="container">
        <div class="row col-12">
            <div class="pull-right col-12 p-4">
                <a class="btn btn-danger btn-small pull-right"
                   href="{% url "org-member-invite" organization.slug %}">{% trans "Invite members" %}</a>
            </div>
        </div>
    </div>
    <div class="container">
        <h4>Members</h4>
        <table class="table">
            <thead>
            <tr class="d-flex">
                <th scope="col" class="col-4">User</th>
                <th scope="col" class="col-3">Role</th>
                <th scope="col" class="col-3">Enrollment Date</th>
                <th scope="col" class="col-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="d-flex">
                <td class="col-4">
                    {{ organization.owner }}{% if organization.owner == user %}<span class="you">you</span>{% endif %}
                </td>
                <td class="col-3">Owner</td>
                <td class="col-3"></td>
            </tr>
            {% for membership in memberships.all %}
                <tr class="d-flex">
                    <td class="col-4">
                        {{ membership.user }}{% if membership.user == user %}<span class="you">you</span>{% endif %}
                    </td>
                    <td class="col-3">{{ membership.get_role_display }}</td>
                    <td class="col-3">{{ membership.date_enrolled }}</td>
                    <td>
                        <button onclick="window.location.href = '{% org-url "org-member-delete" membership.pk %}';">
                            <i class="far fa-trash-alt pointer"></i>
                        </button>
                        <button onclick="window.location.href = '{% org-url "org-member-edit" membership.pk %}';">
                            <i class="far fa-edit pointer"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        {% if invitations %}
            <h4>Pending invitations</h4>
            <table class="table">
                <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-4">User</th>
                    <th scope="col" class="col-3">Role</th>
                    <th scope="col" class="col-3">Date</th>
                    <th scope="col" class="col-1"></th>
                </tr>
                </thead>
                <tbody>
                {% for membership in invitations.all %}
                    <tr class="d-flex">
                        <td class="col-4">
                            {{ membership.email }}
                        </td>
                        <td class="col-3">{{ membership.get_role_display }}</td>
                        <td class="col-3">{{ membership.date_added }}</td>
                        <td class="text-nowrap col-1">

                        <button onclick="window.location.href = '{% org-url "org-invite-delete" membership.pk %}';">
                            <i class="far fa-trash-alt pointer"></i>
                        </button>
                            | <form method="post" class="d-inline"
                                                      action="{% url "org-member-send" organization.slug membership.pk %}">
                            {% csrf_token %}
                            <button type="submit" title="resend email" class="pointer">
                                <i class="fa fa-envelope"></i>
                            </button>
                        </form>


                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock %}
