{% extends "bitcaster/application_base.html" %}{% load bitcaster i18n %}
{% block content %}
    <style>
        .enabledTrue{
            color: green;
        }
        .enabledFalse{
            color: red;
        }
    </style>
    <h2>Application Messages</h2>
    <div class="container">
        <div class="row col-12">
            <div class="pull-right col-12 p-4">
                <a class="btn btn-danger btn-small pull-right"
                   href="{% app-url "app-message-create" %}">{% trans "Create Message" %}</a>
            </div>
        </div>
    </div>

    <div class="container-fluid channel-list">
        {% for message in object_list %}
            <div class="row col-10 handler-row">
                <div class="col-4  handler-name">
                    <strong>{{ message.name }}</strong>
                    <div class="pt-3">
                        <a href="{{ message.urls.edit }}">Edit</a>
                        | <a href="{{ message.urls.delete }}">Remove</a>
                    </div>
                </div>
                <div class="col-2 handler-name">
                    {{ message.event }}
                </div>
                <div class="col-4 handler-name nobr">
                    {{ message.channels|display_queryset:"name" }}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
