{% load static %}<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
    <link rel="stylesheet" href="{% static "editor.css" %}"> 
    {{ form.media }}
</head>
<form method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <div>
                    <button id="btn_subject" class="btn" data-panel="#tab_subject" type="button">Subject</button>
                    <button id="btn_content" class="btn" data-panel="#tab_content" type="button">Content</button>
                    <button id="btn_html" class="btn" data-panel="#tab_html" type="button">HTML</button>
                    <button id="btn_context" class="btn" data-panel="#tab_context" type="button">Context</button>
                </div>
                <div id="tab_subject" class="tab">{{ form.subject }}</div>
                <div id="tab_content" class="tab">{{ form.content }}</div>
                <div id="tab_html" class="tab">{{ form.html_content }}</div>
                <div id="tab_context" class="tab">{{ form.context }}</div>
{#                {{ form }}#}
            </td>
            <td>
                <label for="preview">Preview:</label>
                <iframe id="preview"></iframe>
                <input type="submit" value="Save">
            </td>
        </tr>
    </table>
</form>
    <script id="editor-script" src="{% static 'editor.js' %}" data-url="{% url "admin:bitcaster_message_render" original.pk %}"></script>
</html>
