{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ _('Bitcaster') }}{% endblock %}

{% block branding %}
    <div id="site-name"><a href="{% url 'admin:index' %}">{{ _('Bitcaster') }}</a></div>
    {% if user.is_anonymous %}
        {% include "admin/color_theme_toggle.html" %}
    {% endif %}
{% endblock branding %}

{% block nav-global %}{% endblock %}

{% block footer %}
    <div id="footer">
        {% include "fragments/footer.html" %}
    </div>
{% endblock footer %}
