{% extends 'unfold/layouts/unauthenticated.html' %}
{% load i18n static unfold feature_flags socialaccount %}
{% block extrastyle %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}
{% block title %}
    {{ title }} | {{ site_title }}
{% endblock %}
{% block content %}
    {% include "unfold/helpers/messages.html" %}
    <div class="grid grid-cols-1 align-items-center justify-content-center">
        <div class="mt-10">
            <template x-if="adminTheme === 'dark'">
                <img class="w-40 m-auto" src="{% static "bitcaster/images/logos/name_white.svg" %}" />
            </template>
            <template x-if="adminTheme !== 'dark'">
                <img src="{% static "bitcaster/images/logos/name.svg" %}" />
            </template>
        </div>
        <div>
            <img class="w-30 mt-2 m-auto" src="{% static "bitcaster/images/logos/logo400.png" %}" />
        </div>
    </div>
    {% include "admin/_login_form.html" %}
    {% block login_after %}
    {% endblock %}
{% endblock %}
