/LICENSE.md                                              @bitcaster-io/admins

## Migrations
/src/bitcaster/migrations/                               @bitcaster-io/admins

## Dev
/.github/                                                @bitcaster-io/core
.pre-commit-config.yaml                                  @bitcaster-io/core
.github/labels.yml                                       @bitcaster-io/core
