/LICENSE.md                                              Core

## Migrations
/src/bitcaster/migrations/                               Core

## Dev
/.github/                                                Core
.pre-commit-config.yaml                                  Core
.github/labels.yml                                       Core
