{% extends "bitcaster/application/base.html" %}{% load crispy_forms_tags i18n bitcaster %}
{% block pageId %}event{% endblock %}
{% block content %}
    <h2><a href="{% app-url "app-event-update" event.pk %}">{{ event }}</a>: Invite Users</h2>
    <div>
        <a href="{% app-url "app-event-list" %}">events</a> :
        <a href="{% app-url "app-event-update" event.pk %}">{{ event }}</a> :
        <a href="{% app-url "app-event-subscriptions" event.pk %}">subscriptions</a> :
        <a href="{% app-url "app-event-subscriptions-subscribe" event.pk %}">invite users</a>
    </div>

    <div class="container">
        <div class="row col-12">
            <div class="pull-right col-12 p-4">
                <a id="add_more" class="btn btn-danger btn-small pull-right"
                   href="#">{% trans "Add Invitation" %}
                </a>
            </div>
        </div>
    </div>
    <div id="empty-form" class="d-none">
        <div class="row">
            <div class="row col-sm">{{ form.empty_form.email|as_crispy_field }}</div>
            <div class="row col-sm align-items-center"><a href="#" class="remove_line">
                <i class="far fa-trash-alt"></i></a>
            </div>
        </div>
    </div>
    <div class="container">
        <form method="post">
            {{ form.management_form }}
            {% csrf_token %}
            <div class="content invitations">
                {% for invite in form.forms %}
                    <div class="row">
                        <div class="row col-sm">{{ invite.email|as_crispy_field }}</div>
                        <div class="row col-sm align-items-center">
                            <a href="#" class="remove_line">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <input type="submit" id="btn-submit"
                   value="{% trans "Send Invitation" %}"
                   class="btn btn-primary btn-small pull-right">
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
        <script>
        (function() {
            var formsetName = "form";
            var $TOTAL_FORMS = $("#id_" + formsetName + "-TOTAL_FORMS");
            var selector = "div.invitations";
            var $rows = $("div.invitations>div.row");

            $(".remove_line").click(function () {
                $("#btn-submit").prop("disabled", true);
                var $target = $(this).parent().parent();
                $target.remove();
                setTimeout(function () {
                    reNumber();
                }, 20);
            });
            $("#add_more").click(function () {
                $("#btn-submit").prop("disabled", true);
                cloneMore();
            });
            var reNumber = function () {
                var $rows = $("div.invitations>div.row");
                $rows.each(function (i, e) {
                    $(e).find(":input").each(function () {
                        var name = $(this).attr("name").replace(/\-(\d{1,}|__prefix__)\-/, "-" + i + "-");
                        var id = "id_" + name;
                        $(this).attr({"name": name, "id": id})
                    });
                    $(e).find("label").each(function () {
                        var newFor = $(this).attr("for").replace(/\-(\d{1,}|__prefix__)\-/, "-" + i + "-");
                        $(this).attr("for", newFor);
                    });
                    $(e).find("div.form-group").each(function () {
                        var newId = $(this).attr("id").replace(/\-(\d{1,}|__prefix__)\-/, "-" + i + "-");
                        $(this).attr("id", newId);
                    });
                });
                $TOTAL_FORMS.val($rows.length);
                $("#btn-submit").prop("disabled", parseInt($TOTAL_FORMS.val()) < 1);

            };

            function cloneMore() {
                var $newElement = $("#empty-form>div.row").clone(true);
                $newElement.removeClass("d-none");
                $(selector).append($newElement);
                setTimeout(function () {
                    reNumber();
                }, 20);
            };
        })($)
    </script>

{% endblock %}
