{% extends "bitcaster/application/base.html" %}{% load crispy_forms_tags i18n bitcaster %}
{% block pageId %}event{% endblock %}
{% block content %}
    <h2><a href="../..">{{ event }}</a>: Subscriptions</h2>
    <div class="breadcrumbs">
        <a href="{% app-url "app-events" %}">events</a> :
        <a href="{% app-url "app-event-edit" event.pk %}">{{ event }}</a> :
        <a href="{% app-url "app-event-subscriptions" event.pk %}">subscriptions</a>
    </div>

    <div class="container">
        <div class="row col-12">
            <div class="pull-right col-12 p-4">
                <a class="btn btn-danger btn-small pull-right"
                   href="{% app-url "app-event-subscriptions-subscribe" event.pk %}">{% trans "Subscribe User" %}
                </a>
                <a class="btn btn-danger btn-small pull-right mr-3"
                   href="{% app-url "app-event-subscriptions-invite" event.pk %}">{% trans "Send Invitation" %}
                </a>
            </div>
        </div>
    </div>


        <table class="table table-striped table-hover col-12">
        <thead>
        <tr>
            <th>User</th>
            <th>Channel</th>
            <th class="text-center">Active</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for subscription in event.subscriptions.all %}
            <tr>
                <td style="width:5%">{{ subscription.subscriber.email }}</td>
                <td style="width:5%">
                    {{ subscription.channel }}
                </td>
                <td style="width:5%" class="text-center">
                    {% if subscription.active %}
                        <i class="fa fa-check-circle green"></i>
                    {% else %}
                        <i class="fa fa-exclamation-circle red"></i>
                    {% endif %}
                </td>
                <td style="width:10%">
                    {{ subscription.get_status_display }}
                </td>
                <td style="width:10%" class="nowrap">
                    <a class="btn btn-light"
                       data-toggle="tooltip" title="{% if subscription.active %}Disable{% else %}Enable{% endif %}"
                       href="{{ subscription.pk }}/toggle/">
                        <i class="fas {% if subscription.active %}fa-toggle-off red{% else %}fa-toggle-on green{% endif %}"></i>
                    </a>
                    <a class="btn btn-light"
                       data-toggle="tooltip" title="delete"
                       href="{{ subscription.pk }}/delete/">
                        <i class="far fa-trash-alt pointer"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    {% if pending %}
    <h2>Pending Subscriptions</h2>
    <table class="table table-striped table-hover col-12">
        <thead>
        <tr>
            <th scope="col">Event</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        {% for membership in pending %}
            <tr>
                <td>
                    {{ membership.event }}
                </td>
                <td>
                    {{ membership.email }}
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
{% block js %}
    {{ block.super }}
{% endblock %}
