.*
.git
.virtualenv_hooks
/extras
/node_modules
docs
~*
CHANGES
CODE_OF_CONDUCT.md
CONTRIBUTING.rst
LICENSE
MANIFEST.in
Makefile
package-lock.json
package.json
pytest.ini
tests/
tox.ini
webpack.config.js
manage.py
setup.cfg
