**/.*
**/Makefile
**/setup.cfg
**/tests
**/tox.ini
.git
.virtualenv_hooks
/extras
/node_modules
CHANGES
CODE_OF_CONDUCT.md
CONTRIBUTING.rst
docs
LICENSE
manage.py
package-lock.json
package.json
pytest.ini
src/bitcaster.egg-info
src/bitcaster/assets/
webpack.config.js
~*
