[flake8]
max-complexity = 12
max-line-length = 120
exclude = _plugin_template migrations settings python_twitter
ignore = E401,W391,E128,E261,E731,Q000
putty-ignore =
    ;    tests/test_choice_as_instance.py : E501
    tests/test_multiple.py : E501
