.*
~*
*.sh
__pycache__/
dist/
*.py[cod]
!tests/.coveragerc
!.github
!.dockerignore
!.flake8
!.gitignore
!.gitlab/
!.tx/config
!.mypy.ini
!.gitlab-ci.yml
!.pre-commit-config.yaml
!.bumpversion.cfg
!.trivyignore
!*/.pages
!bandit.yaml
coverage.xml
Makefile
site
black.txt
flake8
