.*
~*
*.sh
__pycache__/
dist/
*.py[cod]
*.patch
*.egg-info
*.dylib
libcairo.2.dylib
src/bitcaster/version.py
junit.xml
!.git
!tests/.coveragerc
!.github
!.dockerignore
!.flake8
!.gitignore
!.github/
!.tx/config
!.mypy.ini
!.pre-commit-config.yaml
!.bumpversion.cfg
!.trivyignore
!*/.pages
!bandit.yaml
bitcaster.db
coverage.xml
Makefile
site
black.txt
flake8
