.virtualenv_hooks
.DS_Store
.env*
.venv
.conf*
.local-*
.*client-id*
.demo*
.demo-sax
.yowsup
*.egg-info
.coverage
.pytest_cache
.idea
.tox
/dist
/build
~*
/node_modules
*.mo
bitcaster.json
*.pyc
!.tx
!/bitcaster/_plugin_template/bitcaster-{{cookiecutter.name}}/tests/.env
!/tests/.conf
!.bin
