exclude *

include README.md
include MANIFEST.in
include LICENSE.md
include pyproject.toml
include *.py
include uv.lock

recursive-include src/bitcaster *
recursive-include src/bitcaster *.html
recursive-exclude tests *

prune **/~*
prune docker
prune docs

global-exclude .*
global-exclude *~
global-exclude ~*
global-exclude __pycache__/*
global-exclude *.pyc

exclude manage.py
