include README.rst
include CHANGES
include MANIFEST.in
include LICENSE
include *.py
include tox.ini
include src/mercury/_plugin_template/mercury-{{cookiecutter.name}}/tests/.env

recursive-include docs *
recursive-include src/mercury *
recursive-include src/requirements *.pip
recursive-include tests *

exclude hooks
exclude extras
exclude plugins
exclude src/requirements/*.in
exclude .pytest_cache
exclude .demo
exclude .demo-sax
exclude .DS_Store

recursive-exclude extras *
recursive-exclude plugins *
recursive-exclude hooks *
recursive-exclude . *.pyc
recursive-exclude **/__pycache__ *
recursive-exclude .pytest_cache *
