[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"django-recaptcha2" = "*"
"maxminddb-geolite2" = "*"
"oauth2client" = "*"
"psycopg2-binary" = "*"
"pyxmpp2" = "*"
admin-extra-urls = ">=1.8"
celery = "*"
circus = "*"
click = "*"
Django = ">=2.1,<2.2a"
django-adminfilters = ">=1.0.0"
django-bitfield = "*"
django-cleanup = "*"
django-concurrency = "*"
django-constance = {extras = ["redis", "database"]}
django-cors-headers = "*"
django-countries = "*"
django-crispy-forms = "*"
django-db-logging = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-extensions = "*"
django-fernet-fields = "*"
django-formtools = "*"
django-jsoneditor = "*"
django-model-utils = "*"
django-picklefield = "*"
django-ratelimit = "*"
django-redis = "*"
django-regex = "*"
django-rest-framework-nested = "*"
django-scribbler = "*"
django-strategy-field = ">=1.3.1"
django-sysinfo = ">=1.3.2"
django-timezone-field = "*"
djangorestframework = "*"
fbchat = "*"
google-api-python-client = "*"
gunicorn = "*"
jsonfield = "*"
kombu= "*"
lxml = "<4"
oath = "*"
oauthlib = "*"
Pillow = "*"
plivo = "*"
premailer = "*"
pycountry = "*"
pycrypto = "*"
pyotp = "*"
python-redis-lock = {extras = ["django"]}
pyyaml = ">=4.2b1"
raven = "*"
redis = "*"
requests-oauthlib = "*"
skpy = "*"
social-auth-app-django = "*"
social-auth-core = "*"
twilio = "*"
websocket-client = "*"
whitenoise = "*"
markdown = "*"
dnspython = "*"
zulip = "*"
#python-telegram-bot="*"
django-auth-ldap = "*"
yampy = "*"

[dev-packages]
bumpversion = "*"
coverage = "*"
django-behave = "*"
django-impersonate = "*"
django-webtest = "*"
docker = "*"
factory_boy = "*"
fancycompleter = "*"
flake8 = "==3.7.7"
httpie = "*"
ipython = "*"
isort = "*"
pdbpp = "*"
pre-commit = "*"
pyflakes = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-echo = "*"
requests-html = "*"
responses = "*"
selenium = "*"
tox = "*"
vcrpy = "*"
transifex-client = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
