[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"oauth2client" = "*"
"psycopg2-binary" = "*"
"pyxmpp2" = "*"
#"django-recaptcha2" = "*"
#"maxminddb-geolite2" = "*"
#admin-extra-urls = ">=1.8"
#django-jsoneditor = "*"
#django-scribbler = "*"
#jsonfield = commonmark"*"
celery = "*"
circus = "*"
click = "*"
Django = "==2.2"
django-adminfilters = ">=1.0.0"
django-auth-ldap = "*"
django-autocomplete-light= "*"
django-bitfield = "*"
django-cleanup = "*"
django-concurrency = "*"
django-constance = {extras = ["redis", "database"]}
django-cors-headers = "*"
django-countries = "*"
django-crashlog = "*"
django-crispy-forms = "*"
django-db-logging = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-extensions = "*"
django-fernet-fields = "*"
django-filters = "*"
django-formtools = "*"
django-model-utils = "*"
django-picklefield = "*"
django-ratelimit = "*"
django-redis = "*"
django-regex = "*"
django-rest-framework-nested = "*"
django-reversion = "*"
django-strategy-field = ">=1.3.1"
django-sysinfo = ">=1.3.2"
django-timezone-field = "*"
djangorestframework = "*"
dnspython = "*"
fbchat = "*"
google-api-python-client = "*"
gunicorn = "*"
kombu= "*"
lxml = "<4"
markdown = "*"
oath = "*"
oauthlib = "*"
Pillow = "*"
plivo = "*"
premailer = "*"
pycountry = "*"
pycrypto = "*"
pygments = "*"
pyotp = "*"
python-redis-lock = {extras = ["django"]}
python-slugify = "*"
pyyaml = ">=4.2b1"
redis = "*"
requests-oauthlib = "*"
sentry-sdk = "*"
skpy = "*"
social-auth-app-django = "*"
social-auth-core = "*"
twilio = "*"
websocket-client = "*"
whitenoise = ">=4.0"
yampy = "*"
zulip = "*"
django-impersonate = "*"
qrcode = "*"
viberbot = "*"

[dev-packages]
bumpversion = "*"
coverage = "*"
django-behave = "*"
django-impersonate = "*"
django-webtest = "*"
docker = "*"
factory_boy = "*"
fancycompleter = "*"
flake8 = "==3.7.7"
httpie = "*"
ipython = "*"
isort = "*"
ipdb = "*"
pre-commit = "*"
pyflakes = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-echo = "*"
requests-html = "*"
responses = "*"
selenium = "*"
transifex-client = "*"
pytest-lazy-fixture = "*"
vcrpy = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = false
