{% extends "bitcaster/base.html" %}{% load bc_permissions bitcaster i18n menu %}
{% block bodyclass %}organization{% endblock %}
{% block left-menu %}
    <div class="text-center">{{ organization }}</div>
    <ul class="list-unstyled components">
        <li>
            <a class="{{ view|menu_item:'dashboard' }}"
               href="{{ organization.urls.dashboard }}">
                <i class="fas fa-tachometer-alt"></i>{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a class="{{ view|menu_item:'organizationconfiguration' }}"
                href="{{ organization.urls.config }}">
                <i class="fas fa-cogs"></i>{% trans "Configuration" %}</a>
        </li>
        <li>
            <a class="{{ view|menu_item:'channel' }}"
                href="{{ organization.urls.channels }}">
                <i class="fas fa-broadcast-tower"></i>{% trans "Channels" %}</a>
        </li>
        <li>
            <a class="{{ view|menu_item:'applicationview' }}"
               href="{{ organization.urls.applications }}">
                <i class="fas fa-server"></i>{% trans "Applications" %}</a>
        </li>
        <li><hr/>
        </li>
        <li>
            <a class="{{ view|menu_item:'memberview' }}"
               href="{{ organization.urls.members }}">
                <i class="fas fa-users"></i>{% trans "Members" %}</a>
        </li>
        <li>
            <a class="{{ view|menu_item:'groups' }}"
               href="{{ organization.urls.groups }}">
                <i class="fas fa-users"></i>{% trans "Groups" %}</a>
        </li>
        <li>
            <a class="{{ view|menu_item:'api' }}"
               href="/api/">
                <i class="fas fa-font"></i>{% trans "API" %}</a>
        </li>
    </ul>
    <ul class="list-unstyled components sidebar-footer">
        <li>
            <a style="bottom:0;" href="/">
                <i class="fas fa-home"></i>{% trans "User Home" %}</a>
        </li>
    </ul>
{% endblock left-menu %}
{% block content %}
{% endblock content %}
