{% extends "bitcaster/organization/base.html" %}{% load bc_permissions bc_dashboard i18n static %}
{% block head %}
    {{ block.super }}
    <script src="{% static "bitcaster/charts.js" %}"></script>

{% endblock head %}
{% block page %}
    <div class="row col-12 p-3 m-1">
        <div style="width:1000px;">
            <div class="h4">Overview</div>
            <canvas id="ts"></canvas>
        </div>
        {#        <div tyle="width:1000px;height:100px">#}
        <div class="container-fluid">
            <div class="h4">Buffers</div>
            <div class="row">
                <div class="col-5">
                    <canvas id="occurence"></canvas>
                </div>
                <div class="col-5">
                    <canvas id="notification"></canvas>
                </div>
            </div>
            >
        </div>
    </div>
{% endblock page %}
{% block js %}
    <script>
        var tsUrls = ['{{ organization.urls.charts_occurence}}',
            '{{ organization.urls.charts_notification }}',
            '{{ organization.urls.charts_errors}}'];

        charts.setupMainChart('ts', tsUrls);
        charts.setupOccurenceQueueChart('occurence', '/os4d/charts/buffers/occurence/');
        charts.setupNotificationQueueChart('notification', '/os4d/charts/buffers/notification/');
    </script>

{% endblock %}
