{% extends "bitcaster/organization/base.html" %}{% load crispy_forms_tags i18n bc_permissions %}
{% block page %}
    {% check_permissions organization %}
    {% include 'bitcaster/_includes/_filter_queryset.html' %}

    <table class="table table-striped table-hover col-12 log-list">
        <tbody>
        <tr>
            <th>
                {% trans "date" %}
            </th>
            <th>
                #
            </th>
            <th>
                {% trans "application/event" %}
            </th>
            <th>
                {% trans "user" %}
            </th>
            <th>
                {% trans "channel" %}
            </th>
            <th>
                {% trans "confirmed" %}
            </th>
            <th>
                {% trans "status" %}
            </th>
        </tr>
        {% for entry in object_list %}
            <tr>
                <td>
                    {{ entry.timestamp|date:"j M Y H:i" }}
                </td>
                <td>
                    {{ entry.occurence_id }}
                </td>
                <td>
                    {{ entry.application }}<br/>
                    {{ entry.event }}
                </td>
                <td>
                    {{ entry.user }}
                </td>
                <td>
                    {{ entry.channel }}
                </td>
                <td>
                    {% if entry.need_confirmation %}
                        {{ entry.confirmed|default_if_none:"No" }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    {{ entry.get_status_display }}
                    {% if entry.status < 100 %}
                    ({{ entry.reminders }}/{{ entry.max_reminders }})
                    {{ entry.next_sent|date:"H:i:s" }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- pagination-->
    {% if is_paginated %}
        {% include "bitcaster/_includes/pagination.html" with page_obj=page_obj %}
    {% endif %}
    <!-- end pagination-->

{% endblock %}
