<div class="form-group {% if field.errors %}has-error{% endif %}">
    <div class="label {% if style.hide_label %}sr-only{% endif %}">{{ field.label }}</div>
    <div class="field">
        <input id="id_{{ field.name }}" name="{{ field.name }}" {% if style.input_type != "file" %}class="form-control"{% endif %}
               type="{{ style.input_type }}" {% if style.placeholder %}placeholder="{{ style.placeholder }}"{% endif %}
               {% if field.value %}value="{{ field.value }}"{% endif %}
               {% if style.autofocus and style.input_type != "hidden" %}autofocus{% endif %}>
        <span toggle="#password-field"
              onclick="toggle{{ field.name }}(this);"
              class="fa fa-fw fa-eye field-icon toggle-password"></span>
        <div class="errors">
            {% if field.errors %}
                {% for error in field.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        {% if field.help_text %}
            <div class="help-block">{{ field.help_text|safe }}</div>
        {% endif %}
    </div>
</div>
<style>
    .field-icon {
        float: right;
        margin-top: -27px;
        margin-right: 10px;
        position: relative;
        z-index: 2;
        cursor: pointer;

    }

    .container {
        padding-top: 50px;
        margin: auto;
    }
</style>
<script>
    function toggle{{ field.name }}(sender) {
        var $target = $("#id_{{ field.name }}");
        if ($target.attr('type') === 'password'){
            $target.attr('type', 'text');
            $(sender).removeClass('fa-eye').addClass('fa-eye-slash')
        }else{
            $target.attr('type', 'password');
            $(sender).removeClass('fa-eye-stash').addClass('fa-eye')
        }
    }
</script>
