<div class="form-group {% if field.errors %}has-error{% endif %}">
    <div class="label {% if style.hide_label %}sr-only{% endif %}">{{ field.label }}</div>
    <div class="field">
        <input id="id_{{ field.name }}" name="{{ field.name }}" {% if style.input_type != "file" %}class="form-control"{% endif %}
               type="{{ style.input_type }}" {% if style.placeholder %}placeholder="{{ style.placeholder }}"{% endif %}
               {% if field.value %}value="{{ field.value }}"{% endif %}
               {% if style.autofocus and style.input_type != "hidden" %}autofocus{% endif %}>
        <span toggle="#password-field"
              onclick="toggle{{ field.name }}()"
              class="fa fa-fw fa-eye field-icon toggle-password"></span>
        <div class="errors">
            {% if field.errors %}
                {% for error in field.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        {% if field.help_text %}
            <div class="help-block">{{ field.help_text|safe }}</div>
        {% endif %}
    </div>
</div>

{#<div class="form-group {% if field.errors %}has-error{% endif %}">#}
{#    {% if field.label %}#}
{#        <td {% if style.hide_label %}class="sr-only"{% endif %}>{{ field.label }}</td>#}
{#    {% endif %}#}
{##}
{#    <div>#}
{#        <input id="id_{{ field.name }}" name="{{ field.name }}"#}
{#               {% if style.input_type != "file" %}class="form-control"{% endif %}#}
{#               type="{{ style.input_type }}" {% if style.placeholder %}placeholder="{{ style.placeholder }}"{% endif %}#}
{#               {% if field.value %}value="{{ field.value }}"{% endif %}#}
{#               {% if style.autofocus and style.input_type != "hidden" %}autofocus{% endif %}>#}
{#        <span toggle="#password-field"#}
{#              onclick="toggle{{ field.name }}()"#}
{#              class="fa fa-fw fa-eye field-icon toggle-password"></span>#}
{#</div>#}
{#        {% if field.errors %}#}
{#            <ul class="errorlist">#}
{#                {% for error in field.errors %}#}
{#                    <li>{{ error }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}
{##}
{#        {% if field.help_text %}#}
{#            <span class="help-block">{{ field.help_text|safe }}</span>#}
{#        {% endif %}#}
{#    #}
{#</div>#}
<style>
    .field-icon {
        float: right;
        {#margin-left: -55px;#}
        margin-top: -24px;
        {#margin-right: 10px;#}
        position: relative;
        z-index: 2;

    }

    .container {
        padding-top: 50px;
        margin: auto;
    }
</style>
<script>
    function toggle{{ field.name }}() {
        var x = document.getElementById("id_{{ field.name }}");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
