{% extends "bitcaster/organization/base.html" %}{% load crispy_forms_tags i18n bc_permissions %}
{% block page %}
    {% check_permissions organization %}
    <div class="container">
        <div class="row col-12 mb-5">
            <div class="col-7">
                <form id="search">
                    <input type="text" name="filter" maxlength="50"
                           value="{{ request.GET.filter }}"
                           placeholder="insert email to filter"
                           onfocus="this.placeholder=''"
                           onblur="this.placeholder='type your filter'"
                           class="textinput textInput form-control">
                </form>
            </div>
            <div class="col-1">
                <input class="btn btn-primary"
                       onclick="search.submit()"
                       type="submit" value="{% trans "Search" %}">
            </div>

            <div class="pull-right col-3">
            </div>
        </div>
    </div>

    <table class="table table-striped table-hover col-12 log-list">
        <tbody>
        <tr>
            <th>
                {% trans "date" %}
            </th>
            <th>
                {% trans "message" %}
            </th>
        </tr>
        {% for entry in object_list %}
            <tr>
                <td>
                    {{ entry.timestamp }}
                </td>
                <td>
                    {{ entry }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- pagination-->
    {% if is_paginated %}
        {% include "bitcaster/_includes/pagination.html" with page_obj=page_obj %}
    {% endif %}
    <!-- end pagination-->

{% endblock %}
