{% extends "bitcaster/application/base.html" %}{% load bc_permissions bc_dashboard bitcaster static i18n %}
{% block head %}
    {{ block.super }}
    <script src="{% static "bitcaster/charts.js" %}"></script>
{% endblock head %}
{% block page %}
    <div class="container border border-secondary p-3">
        <div style="width:1000px;">
            <div class="h4">Overview</div>
            <canvas id="ts"></canvas>
        </div>

        <div class="container-fluid">
            <div class="h4">Buffers</div>
            <div class="row">
                <div class="col-5">
                    <canvas id="occurence"></canvas>
                </div>
                <div class="col-5">
                    <canvas id="notification"></canvas>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-2 border border-secondary p-3">
        <div class="row">
{#            <div class="col-sm mr-1">#}
{#                <div class="card">#}
{#                    <div class="card-header w-100"><i class="fas fa-lock"></i> Locks</div>#}
{#                    {% if locks %}#}
{#                        <div class="list-group list-group-flush w-100">#}
{#                            {% for n,c in locks.items %}#}
{#                                <div class="list-group-item w-100">#}
{#                                    {{ c }}#}
{#                                    <span data-url="{% org-url 'locks-unlock' c %}"#}
{#                                          class="pull-right d-block pointer remove-lock">#}
{#                                    <i class="far fa-times-circle"></i>#}
{#                                </span>#}
{#                                </div>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    {% else %}#}
{#                        <div class="card-body">#}
{#                            <i class="far fa-check-circle green"></i> {% trans "No locks found" %}#}
{#                        </div>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}

{#            <div class="col-sm ml-1">#}
{#                <div class="card">#}
{#                    <div class="card-header w-100"><i class="fas fa-stream"></i> Occurences</div>#}
{#                    {% if occurences %}#}
{#                        <div class="list-group list-group-flush w-100">#}
{#                            {% for n in occurences %}#}
{#                                <div class="list-group-item w-100">#{{ n.id }} {{ n.event }}</div>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    {% else %}#}
{#                        <div class="card-body">#}
{#                            <i class="far fa-check-circle green"></i> {% trans "No pending occurences" %}#}
{#                        </div>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
        </div>


    </div>


{% csrf_token %}

{% endblock page %}
{% block js %}
    <script>
        var tsUrls = ['{{ application.urls.charts_occurence}}',
            '{{ application.urls.charts_notification }}',
            '{{ application.urls.charts_errors}}'];
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();

        charts.setupMainChart('ts', tsUrls);
        charts.setupOccurenceQueueChart('occurence', '/os4d/charts/buffers/occurence/');
        charts.setupNotificationQueueChart('notification', '/os4d/charts/buffers/notification/');
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                $('#message').html('');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        });

        $('.remove-lock').on('click', function (e) {
            $target = $(e.currentTarget);
            var url = $target.data('url');
            $.post(url)
                .done(function (data) {
                    $target.parent().hide();
                })
                .fail(function (resp, msg, data) {

                })


        });
    </script>

{% endblock %}
