<style>
#DIV_11, #DIV_12 {
    box-sizing: border-box;
    color: rgb(47, 41, 54);
    height: 389px;
    text-decoration: none solid rgb(47, 41, 54);
    text-size-adjust: 100%;
    width: 1265px;
    column-rule-color: rgb(47, 41, 54);
    perspective-origin: 632.5px 194.5px;
    transform-origin: 632.5px 194.5px;
    caret-color: rgb(47, 41, 54);
    border: 0px none rgb(47, 41, 54);
    font: normal normal 400 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
    outline: rgb(47, 41, 54) none 0px;
}/*#DIV_11, #DIV_12*/

#DIV_13 {
    box-sizing: border-box;
    color: rgb(47, 41, 54);
    display: flex;
    height: 389px;
    text-decoration: none solid rgb(47, 41, 54);
    text-size-adjust: 100%;
    width: 1265px;
    column-rule-color: rgb(47, 41, 54);
    perspective-origin: 632.5px 194.5px;
    transform-origin: 632.5px 194.5px;
    caret-color: rgb(47, 41, 54);
    border: 0px none rgb(47, 41, 54);
    flex-flow: column nowrap;
    font: normal normal 400 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
    outline: rgb(47, 41, 54) none 0px;
}/*#DIV_13*/

#DIV_14 {
    box-sizing: border-box;
    color: rgb(47, 41, 54);
    display: flex;
    height: 389px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(47, 41, 54);
    text-size-adjust: 100%;
    width: 1265px;
    column-rule-color: rgb(47, 41, 54);
    perspective-origin: 632.5px 194.5px;
    transform-origin: 632.5px 194.5px;
    caret-color: rgb(47, 41, 54);
    border: 0px none rgb(47, 41, 54);
    flex-flow: column nowrap;
    font: normal normal 400 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
    outline: rgb(47, 41, 54) none 0px;
}/*#DIV_14*/

#DIV_15 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(47, 41, 54);
    height: 389px;
    left: 0px;
    max-width: 860px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(47, 41, 54);
    text-size-adjust: 100%;
    top: 0px;
    width: 860px;
    column-rule-color: rgb(47, 41, 54);
    perspective-origin: 430px 194.5px;
    transform-origin: 430px 194.5px;
    caret-color: rgb(47, 41, 54);
    border: 0px none rgb(47, 41, 54);
    font: normal normal 400 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
    margin: 0px 202.5px;
    outline: rgb(47, 41, 54) none 0px;
    padding: 10px 30px 0px;
}/*#DIV_15*/

#DIV_16 {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 12px 0px;
    box-sizing: border-box;
    color: rgb(47, 41, 54);
    height: 359px;
    text-decoration: none solid rgb(47, 41, 54);
    text-size-adjust: 100%;
    width: 800px;
    column-rule-color: rgb(47, 41, 54);
    perspective-origin: 400px 179.5px;
    transform-origin: 400px 179.5px;
    caret-color: rgb(47, 41, 54);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(203, 195, 211);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(47, 41, 54) none 0px;
}/*#DIV_16*/

#DIV_1 {
    box-sizing: border-box;
    color: rgb(47, 41, 54);
    height: 309px;
    text-decoration: none solid rgb(47, 41, 54);
    text-size-adjust: 100%;
    width: 798px;
    column-rule-color: rgb(47, 41, 54);
    perspective-origin: 399px 154.5px;
    transform-origin: 399px 154.5px;
    caret-color: rgb(47, 41, 54);
    border: 0px none rgb(47, 41, 54);
    font: normal normal 400 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
    outline: rgb(47, 41, 54) none 0px;
    padding: 20px 30px 0px;
}/*#DIV_1*/

#H3_2 {
    box-sizing: border-box;
    color: rgb(47, 41, 54);
    height: 31px;
    text-decoration: none solid rgb(47, 41, 54);
    text-size-adjust: 100%;
    width: 738px;
    column-rule-color: rgb(47, 41, 54);
    perspective-origin: 369px 15.5px;
    transform-origin: 369px 15.5px;
    caret-color: rgb(47, 41, 54);
    border: 0px none rgb(47, 41, 54);
    font: normal normal 600 normal 26px / 31.2px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(47, 41, 54) none 0px;
}/*#H3_2*/

#P_3 {
    box-sizing: border-box;
    color: rgb(47, 41, 54);
    height: 48px;
    text-decoration: none solid rgb(47, 41, 54);
    text-size-adjust: 100%;
    width: 738px;
    column-rule-color: rgb(47, 41, 54);
    perspective-origin: 369px 24px;
    transform-origin: 369px 24px;
    caret-color: rgb(47, 41, 54);
    border: 0px none rgb(47, 41, 54);
    font: normal normal 400 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(47, 41, 54) none 0px;
}/*#P_3*/

#FORM_4 {
    box-sizing: border-box;
    color: rgb(47, 41, 54);
    height: 170px;
    text-decoration: none solid rgb(47, 41, 54);
    text-size-adjust: 100%;
    width: 738px;
    column-rule-color: rgb(47, 41, 54);
    perspective-origin: 369px 85px;
    transform-origin: 369px 85px;
    caret-color: rgb(47, 41, 54);
    border: 0px none rgb(47, 41, 54);
    font: normal normal 400 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
    margin: 0px;
    outline: rgb(47, 41, 54) none 0px;
}/*#FORM_4*/

#DIV_5 {
    box-sizing: border-box;
    color: rgb(47, 41, 54);
    height: 66px;
    text-decoration: none solid rgb(47, 41, 54);
    text-size-adjust: 100%;
    width: 738px;
    column-rule-color: rgb(47, 41, 54);
    perspective-origin: 369px 33px;
    transform-origin: 369px 33px;
    caret-color: rgb(47, 41, 54);
    border: 0px none rgb(47, 41, 54);
    font: normal normal 400 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
    margin: 0px 0px 15px;
    outline: rgb(47, 41, 54) none 0px;
}/*#DIV_5*/

#DIV_6 {
    box-sizing: border-box;
    color: rgb(47, 41, 54);
    height: 66px;
    text-decoration: none solid rgb(47, 41, 54);
    text-size-adjust: 100%;
    width: 738px;
    column-rule-color: rgb(47, 41, 54);
    perspective-origin: 369px 33px;
    transform-origin: 369px 33px;
    caret-color: rgb(47, 41, 54);
    border: 0px none rgb(47, 41, 54);
    font: normal normal 400 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
    outline: rgb(47, 41, 54) none 0px;
}/*#DIV_6*/

#LABEL_7 {
    box-sizing: border-box;
    color: rgb(47, 41, 54);
    display: inline-block;
    height: 24px;
    max-width: 100%;
    text-decoration: none solid rgb(47, 41, 54);
    text-size-adjust: 100%;
    width: 161.312px;
    column-rule-color: rgb(47, 41, 54);
    perspective-origin: 80.6562px 12px;
    transform-origin: 80.6562px 12px;
    caret-color: rgb(47, 41, 54);
    border: 0px none rgb(47, 41, 54);
    font: normal normal 600 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
    margin: 0px 0px 5px;
    outline: rgb(47, 41, 54) none 0px;
}/*#LABEL_7*/

#LABEL_7:after {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    content: '"[required]"';
    text-decoration: none solid rgb(153, 153, 153);
    text-size-adjust: 100%;
    text-transform: uppercase;
    vertical-align: bottom;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 600 normal 12px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
    margin: 0px 0px 0px 10px;
    outline: rgb(153, 153, 153) none 0px;
}/*#LABEL_7:after*/

#INPUT_8 {
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 0px 0px inset;
    color: rgb(73, 62, 84);
    display: block;
    height: 37px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(73, 62, 84);
    text-size-adjust: 100%;
    top: 0px;
    width: 738px;
    column-rule-color: rgb(73, 62, 84);
    perspective-origin: 369px 18.5px;
    transform-origin: 369px 18.5px;
    caret-color: rgb(73, 62, 84);
    border: 1px solid rgb(201, 192, 209);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 14px / 20px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
    outline: rgb(73, 62, 84) none 0px;
    padding: 8px 12px 7px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}/*#INPUT_8*/

#DIV_9 {
    box-sizing: border-box;
    color: rgb(47, 41, 54);
    height: 79px;
    text-align: right;
    text-decoration: none solid rgb(47, 41, 54);
    text-size-adjust: 100%;
    width: 738px;
    column-rule-color: rgb(47, 41, 54);
    justify-content: flex-end;
    perspective-origin: 369px 39.5px;
    transform-origin: 369px 39.5px;
    caret-color: rgb(47, 41, 54);
    border-top: 1px solid rgb(233, 235, 236);
    border-right: 0px none rgb(47, 41, 54);
    border-bottom: 0px none rgb(47, 41, 54);
    border-left: 0px none rgb(47, 41, 54);
    font: normal normal 400 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
    margin: 25px 0px 0px;
    outline: rgb(47, 41, 54) none 0px;
    padding: 20px 0px;
}/*#DIV_9*/

#BUTTON_10 {
    color: rgb(150, 139, 160);
    cursor: not-allowed;
    height: 38px;
    text-decoration: none solid rgb(150, 139, 160);
    text-size-adjust: 100%;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 119.453px;
    column-rule-color: rgb(150, 139, 160);
    perspective-origin: 59.7188px 19px;
    transform-origin: 59.7188px 19px;
    user-select: none;
    caret-color: rgb(150, 139, 160);
    border: 1px solid rgb(226, 222, 230);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 600 normal 14px / 20px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
    outline: rgb(150, 139, 160) none 0px;
    padding: 8px 16px;
    transition: all 0.1s ease 0s;
}/*#BUTTON_10*/


</style>

<div id="DIV_11">
	<div id="DIV_12">
		<div id="DIV_13">
			<div id="DIV_14">
				<div id="DIV_15">
					<div id="DIV_16">
						<div id="DIV_1">
							<h3 id="H3_2">
								Create a New Team
							</h3>
							<p id="P_3">
								Teams group members' access to a specific focus, e.g. a major product or application that may have sub-projects.
							</p>
							<form id="FORM_4">
								<div id="DIV_5">
									<div id="DIV_6">
										<label for="id-name" id="LABEL_7">
											Team Name
										</label>
										<input type="text" id="INPUT_8" placeholder="e.g. Operations, Web, Desktop" />
									</div>
								</div>
								<div id="DIV_9">
									<button type="submit" id="BUTTON_10">
										Save Changes
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="box box-modal">
    <div class="box-header"><a href="/">
        <span class="icon-sentry-logo"></span></a>
    </div>
    <div class="box-content with-padding"><h3>Create a New Team</h3>
        <p>Teams group members' access to a specific focus, e.g. a major product or application that may have
            sub-projects.</p>
        <form class="form-stacked">
            <div class="control-group required">
                <div class="controls">
                    <label for="id-name" class="control-label">Team Name</label>
                    <input type="text"
                           id="id-name"
                           class="form-control"
                           placeholder="e.g. Operations, Web, Desktop"
                           required=""
                           value="">
                </div>
            </div>
            <div class="form-actions align-right" style="margin-top: 25px;">
                <button class="btn btn-primary" disabled="" type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</div>
