[run]
branch = True
source = src
source_pkgs = bitcaster
;relative_files = True
disable_warnings =
    CoverageWarning
    UserWarning

concurrency =
    thread
    multiprocessing
omit =
    **/~*/*
    **/~*
    **/migrations/**
    **/debug_toolbar.py
    **/management/commands/vapid.py
    src/bitcaster/types/*.py
    src/bitcaster/version.py
    src/bitcaster/management/commands/develop.py


[report]
exclude_also =
    ; Comments to turn coverage on and off:
    no-cover: start(?s:.)*?no-cover: stop
    ; A pragma comment that excludes an entire file:
    \A(?s:.*# pragma: exclude file.*)\Z
    pragma: no cover
    pragma: no-cover
    def __repr__
    pass
    if settings.DEBUG:
    if DEBUG
    if SENTRY_ENABLED
    if typing.TYPE_CHECKING:
    if TYPE_CHECKING:
    if self\.debug
    if __name__ == .__main__.:
    except JSONDecodeError
    except ValidationError
    except Exception
    raise AssertionError
    raise NotImplementedError
    except ImportError
    except BaseException as e
    raise CommandError.*
    self.halt\(.*
    @abc.abstractmethod
    @abstractmethod

;show_missing = true
fail_under=90
precision=2
ignore_errors = True
skip_covered = True

[html]
directory = ./~build/coverage
