[run]
branch = True
#source = bitcaster
include =
        src/bitcaster/modeles
# partial_branches =
# fail_under = 90
omit =
        ~*
        tests/**
        */bitcaster/config/wsgi.py
        */bitcaster/config/settings/dev.py
        */bitcaster/dispatchers/console.py
        */management/commands/*
        */bitcaster/admin/*
        */bitcaster/cli/commands/reindex.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    pragma: no-cover
    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    except ImportError
    # Don't complain if non-runnable code isn't run:
    #if 0:
    if __name__ == .__main__.:
    except ValidationError
    except Exception
    if settings.DEBUG:


ignore_errors = True
omit =
    src/bitcaster/utils/tests/*
    src/bitcaster/cli/*

include =
    src/bitcaster/middleware/*
    src/bitcaster/models/*
    src/bitcaster/utils/*
    src/bitcaster/web/templatetags/*

[html]
directory = ~build/coverage
