{% extends "bitcaster/users/user_base.html" %}{% load crispy_forms_utils crispy_forms_tags crispy_forms_field crispy_forms_filters i18n %}
{% block page %}
    <h2>User Addresses</h2>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url "user-addresses" %}">Address</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "user-address-assignment" %}">Assignments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">{{ address }}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="container">
            <h3 class="p-2">{{ address }} ({{address.address}})</h3>
            <div>used by:</div>
            <ul>
            {% for a in address.used_by.all %}
                <li class="p-3">{{ a.dispatcher.name }}</li>
            {% endfor %}
            </ul>
        </div>
    </div> <!-- tab-content -->
{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        (function () {
            var formsetName = "addresses";
            var $TOTAL_FORMS = $("#id_" + formsetName + "-TOTAL_FORMS");
            var selector = "div.invitations";
            {#var $rows = $("div.invitations>div.row");#}
            var $submit = $("#btn-submit");
            $(":input[type=checkbox]").hide();
            $(".remove_line").click(function () {
                $submit.prop("disabled", true);
                var $target = $(this).parent().parent().parent();
                var $deletion = $target.find(":input[type=checkbox]");
                if ($deletion) {
                    $deletion.prop('checked', true);
                    $target.hide();
                } else {
                    $target.remove();
                }
                setTimeout(function () {
                    reNumber();
                }, 20);
            });
            $("#add_more").click(function () {
                $submit.prop("disabled", true);
                cloneMore();
            });
            var reNumber = function () {
                var $rows = $("div.invitations>div.row");
                $rows.each(function (i, e) {
                    $(e).find(":input").each(function () {
                        var name = $(this).attr("name").replace(/\-(\d{1,}|__prefix__)\-/, "-" + i + "-");
                        var id = "id_" + name;
                        $(this).attr({"name": name, "id": id});
                    });
                    $(e).find("label").each(function () {
                        var newFor = $(this).attr("for").replace(/\-(\d{1,}|__prefix__)\-/, "-" + i + "-");
                        $(this).attr("for", newFor);
                    });
                    $(e).find("div.form-group").each(function () {
                        var newId = $(this).attr("id").replace(/\-(\d{1,}|__prefix__)\-/, "-" + i + "-");
                        $(this).attr("id", newId);
                    });
                });
                $TOTAL_FORMS.val($rows.length);
                $submit.prop("disabled", $rows.length === 0);
            };

            function cloneMore() {
                var $newElement = $("#empty-form>div.row").clone(true);
                $newElement.removeClass("d-none");
                $(selector).append($newElement);
                setTimeout(function () {
                    reNumber();
                }, 20);
            };
        })($);
    </script>

{% endblock %}
