{% extends "bitcaster/users/base.html" %}
{% load bitcaster crispy_forms_utils crispy_forms_tags crispy_forms_field i18n %}
{% block page %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url "user-addresses" %}">{% trans "Addresses" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url "user-address-assignment" %}">{% trans "Assignments" %}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="row">
            <div class="row col-12">
                <div class="pull-right col-12 p-4">
                    <a id="add_more" class="btn btn-danger btn-small pull-right"
                       href=".">{% trans "Add Assignment" %}
                    </a>
                </div>
            </div>
        </div>

        <div id="empty-form" class="d-none">
            <div class="row col-12">
                <div class="row col-12">
                    {{ form.empty_form.user }}
                    {{ form.empty_form.id }}
                    <div class="row col-4">{{ form.empty_form.channel|as_crispy_field }}</div>
                    <div class="col-7">{{ form.empty_form.address|as_crispy_field }}</div>
                    <div class="col-1 mt-2 align-middle align-items-center"><a href="#" class="remove_line">
                        <i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
                <div class="red">{{ form.empty_form.non_field_errors.as_text }}</div>
            </div>
        </div>
        <div class="container">
            <form method="post" id="Form">
                {{ form.management_form }}
                {% csrf_token %}
                <div class="content assignments">
                    {% for form in form.forms %}
                        <div class="row col-12">
                            <div class="row col-12">
                                <div class="hidden">{{ form.user }}
                                {{ form.id }}
                                {{ form.DELETE }}</div>
                                <span class="row col-4">{{ form.channel|as_crispy_field }}</span>
                                <span class="col-6">{{ form.address|as_crispy_field }}</span>
                                <span class="col-2  mt-2 align-middle align-items-center">
                                    <a href="#" class="btn remove_line mr-2">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                    {% if form.instance.channel %}
{#                                    <a class="btn" rel="modal:open"#}
{#                                       href="{% url "org-channel-usage" form.instance.channel.organization.slug form.instance.channel.pk %}">#}
{#                                        <i class="fa fa-info">&nbsp;</i>#}
{#                                    </a>#}
                                    {% endif %}
                                </span>
                            </div>
                            <div class="row red">{{ form.non_field_errors.as_text }}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row col-12 p-4">
                    <div class="row col-9"></div>
                    <div class="row col-3">
                        <input type="submit" id="btn-submit"
                               value="{% trans "Save" %}"
                               class="btn btn-primary btn-small mr-3">

                        <input type="button" id="btn-cancel" class="btn btn-secondary"
                               onclick="location.href='{% url "user-address-assignment" %}'" value="Cancel">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        (function () {
            var formsetName = "assignments";
            var $TOTAL_FORMS = $("#id_" + formsetName + "-TOTAL_FORMS");
            var selector = "div.assignments";
            var $submit = $("#btn-submit");
            var $cancel = $("#btn-cancel");
            $(":input[type=checkbox]").hide();

            $("#Form")
                .on("input", function (e) {
                    console.log($(e.target).parents('div.row'));
                    $(e.target).parents('div.row').css('background-color', '#fffccf');
                });

            $(".remove_line").click(function () {
                $("#btn-submit").prop("disabled", true);
                var $rows = $("div.assignments>div.row");
                var $target = $(this).parent().parent().parent();
                var $deletion = $target.find(":input[type=checkbox]");
                if ($deletion) {
                    $deletion.prop('checked', true);
                    $target.hide();
                } else {
                    $target.remove();
                }
                setTimeout(function () {
                    reNumber();
                }, 20);
            });

            $("#add_more").click(function (e) {
                e.preventDefault();
                $submit.prop("disabled", true);
                cloneMore();
            });
            var reNumber = function () {
                var $rows = $("div.assignments>div.row");
                $rows.each(function (i, e) {
                    console.log(i, e);
                    $(e).find(":input").each(function () {
                        var name = $(this).attr("name").replace(/\-(\d{1,}|__prefix__)\-/, "-" + i + "-");
                        var id = "id_" + name;
                        $(this).attr({"name": name, "id": id});
                    });
                    $(e).find("label").each(function () {
                        var newFor = $(this).attr("for").replace(/\-(\d{1,}|__prefix__)\-/, "-" + i + "-");
                        $(this).attr("for", newFor);
                    });
                    $(e).find("div.form-group").each(function () {
                        var newId = $(this).attr("id").replace(/\-(\d{1,}|__prefix__)\-/, "-" + i + "-");
                        $(this).attr("id", newId);
                    });
                });
                $TOTAL_FORMS.val($rows.length);
                $("#btn-submit").prop("disabled", false);
            };

            function cloneMore() {
                var $newElement = $("#empty-form>div.row").clone(true);
                $newElement.removeClass("d-none");
                $(selector).append($newElement);
                setTimeout(function () {
                    reNumber();
                }, 20);
            };
        })($);
    </script>

{% endblock %}
