{% extends "bitcaster/base.html" %}{% load  i18n %}
{% block page %}
    <div class="container">
        <div class="row col-12 justify-content-center align-items-center">
            <div class="box box-modal login-form col-6 p-3">
                <div class="text-center align-middle h1">
                    <i class="fa fa-ban red mr-5 fa-large"></i>
                    <span class="mb-5">Access not allowed</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
