{% extends "bitcaster/base.html" %}{% load bc_assets crispy_forms_utils crispy_forms_tags crispy_forms_filters i18n %}
{% block content %}
    <div class="container-fluid">
        <div>
            <div class="col-12 social-auth">
                Register with:
                <div class="row  justify-content-center">
                    <a href="{% url "social:begin" "google-oauth2" %}">
                        <img src="{% asset "social_auth_google.png" %}">
                    </a>
                    <a href="{% url "social:begin" "github" %}">
                        <img src="{% asset "social_auth_github.png" %}">
                    </a>
                    <a href="{% url "social:begin" "linkedin" %}">
                        <img src="{% asset "social_auth_linkedin.png" %}">
                    </a>
                </div>
            </div>
        </div>
        <div class="row col-12 pl-3 justify-content-center">
            OR
        </div>
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Register" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}
