{% extends "bitcaster/base2.html" %}{% load gravatar crispy_forms_utils crispy_forms_tags crispy_forms_field crispy_forms_filters i18n %}
{% block page %}
    <div class="container-fluid">
        <div class="row col-12">
            <div class="container-fluid user-profile">
                <form method="post" enctype="multipart/form-data" action=".">
                    <div class="row">
                        <div class="col-4">
                            <div class="avatar">
                                <img src="{{ user|gravatar:200 }}">
                            </div>
                            <div class="small" style="max-width: 230px;text-align: center"> {% trans "To change your picture, go to" %}
                                <a href="https://en.gravatar.com/">https://gravatar.com</a>
                            </div>
                        </div>
                        <div class="col-8">
                            {% for field in form %}
                                {% if field.name != "avatar" %}
                                    {{ field|as_crispy_field }}
                                {% endif %}
                            {% endfor %}
                            {% csrf_token %}
                            <input type="submit" value="{% trans "Save" %}" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        $("select").select2();
    </script>
{% endblock %}
