{% extends "bitcaster/users/user_base.html" %}
{% block page %}
    {% for application, events in menu.items %}
        <ul>
            <h2>{{ application }}</h2>
        {% for event, channels in events.items %}
            <li><span class="title">{{ event }}</span>
                <select>
                    <option></option>
                    {% for channel, subscription in channels.items %}
                        <option {% if subscription %}selected="selected"{% endif %}>{{channel}}</option>
                    {% endfor %}
                </select>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
{##}
{#    {% for subscription in user.subscriptions.all %}#}
{#        <div>{{ subscription }}</div>#}
{#    {% endfor %}#}
{##}
{##}
{#    {% for e in events %}#}
{#        <div>{{ subscription }}</div>#}
{#    {% endfor %}#}


{#    <div class="container-fluid">#}
{#        <div class="row col-10">#}
{#            <div>#}
{#                {% if user.is_authenticated %}#}
{#                    {{ user.organizations }}#}
{#                    <h1>Welcome back.</h1>#}
{#                    {% for membership in user.memberships.all %}#}
{#                        <li>#}
{#                            <ul>{{ membership.organization.name }}</ul>#}
{#                            {% for app in  membership.organization.applications.all %}#}
{#                                <li>{{ app }}</li>#}
{#                            {% endfor %}#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}
