{% extends 'bitcaster/base.html' %}
{% block bodyclass %}user{% endblock %}
{% block pageId %}user{% endblock %}
{% block css %}
    {{ block.super }}
    <style>
        #user {
            padding: 15px 60px;
        }
    .tab-content{
        border-color: #dee2e6 #dee2e6 #fff;
        border-left: 1px solid  #dee2e6;
        border-right: 1px solid  #dee2e6;
        border-bottom: 1px solid  #dee2e6;
    }
    </style>
{% endblock css %}
{% block nav-menu %}
    <span class="top-menu">
    {% if organizations and organization%}
        <div class="dropdown">
            <a class="dropdown-toggle2"
               href="#" role="button"
               id="orgMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               [{{ organization }}]
                <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="orkMenuLink">
            <a class="dropdown-item organization" href="">Switch organization</a>
            </div>
        </div>
    {% elif organization %}
            <div class="dropdown">
            <a class="dropdown-toggle2"
               href="#"
               aria-haspopup="true" aria-expanded="false">
               [{{ organization }}]
            </a>
            </div>
    {% endif %}

    </span>
{% endblock nav-menu %}
