{% extends "bitcaster/organization/groups/base.html" %}{% load crispy_forms_filters menu i18n bitcaster %}
{% block tab %}
        <form method="post" action="." class="col-12">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-small pull-left mr-3" href=".">{% trans "Save" %}</button>
            <button type="button"
                    class="btn btn-light btn-small pull-left"
                    onclick="window.location.href = '{{ organization.urls.groups }}';">
                Cancel
            </button>
        </form>
{% endblock %}
