{% extends "bitcaster/organization/base.html" %}{% load crispy_forms_filters i18n bitcaster %}
{% block page %}
    <div class="container">
        <div class="row col-12">
        <form method="post" action="." class="col-12 m-5">
            {% csrf_token %}
            {{ form.errors }}
            {{ form.non_field_errors }}
            {{ form|crispy }}
            <button type="submit" class="btn btn-danger btn-small pull-left">{% trans "Save" %}</button>
            <button type="button"
                    class="btn btn-light btn-small pull-left"
                    onclick="window.location.href = '{{ organization.urls.groups }}';">
                Cancel
            </button>
        </form>
        </div>
    </div>
{% endblock %}
