{% extends "bitcaster/organization/groups/base.html" %}{% load i18n bitcaster %}
{% block tab %}

    <div class="container mt-3 pl-0">
        <form id="search" class="row">

            <div class="row col-12">
                <div class="col-7">
                    <input type="text" name="filter" maxlength="50"
                           size="50"
                           value="{{ request.GET.filter }}"
                           placeholder="insert email to filter"
                           onfocus="this.placeholder=''"
                           onblur="this.placeholder='insert email to filter'"
                           class="textinput form-control">&nbsp;
                </div>
                <div class="col-1 align-middle">
                    <input class="btn btn-primary push-right"
                           type="submit" value="{% trans "Search" %}">

                </div>
                <div class="col-2 align-middle">
                    <a class="btn btn-light" id="add" href="#"><i class="fas fa-plus-circle"></i>Add new</a>
                </div>
            </div>
        </form>
    </div>

    <div class="container hidden pl-0" id="add-form">
        <form method="post" id="addForm">
            <div class="row col-12">
                <div class="col-7 pl-0">
                    {% csrf_token %}
                    <select id="id_user" style="width:100%" class="select2 form-control"
                            name="user"
                            data-url="{{ member_automplete_url }}"
                            tabindex="-1" aria-hidden="true">
                        <option value="" selected=""></option>
                    </select>
                </div>
                <div class="col-1">
                    <input class="btn btn-dark" id="add-button" type="submit" value="{% trans "Add" %}">
                </div>

                <div class="pull-right col-3">
                </div>
            </div>
        </form>
    </div>


    <div class=" table-responsive ">
        <table class="table table-hover table-striped">
            <thead>
            <tr lass="d-flex">
                <th cope="col" colspan="2" class="col-4 inline_block">


                </th>
            </tr>
            </thead>
            <tbody>
            {% for membership in object_list %}
                <tr>
                    <td>
                        {{ membership.user.email }}{% if membership.user == user %}
                            <span class="label warn">you</span>{% endif %}
                    </td>
                    <td class="formset-commands">
                        <a class="btn btn-outline-light"
                           data-toggle="tooltip" title="remove"
                           href="{% org-url 'org-group-member-remove' group.pk membership.pk %}">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- pagination-->
        {% if is_paginated %}
            {% include "bitcaster/_includes/pagination.html" with page_obj=page_obj %}
        {% endif %}
        <!-- end pagination-->
    </div>
{% endblock %}
{% block js %}
    <script>
        $('#add').on('click', function () {
            $('#add-form').toggle();
        });
        $('#id_user').select2({
            ajax: {
                url: '{{ member_automplete_url }}',
                dataType: 'json'
            }
        });
    </script>
{% endblock %}
