{% extends "bitcaster/admin/action_form.html" %}
{% load i18n %}
{% block content %}
    <div class="p-3">
        <div class="mb-3">
            <span class="font-bold">{% translate "Simulation" %}:</span>
            <a href="{% url "admin:bitcaster_event_change" simulation.event.pk %}">{{ simulation }}</a>
        </div>
        {% if simulation.status == "NEW" %}
            <div class="bg-blue-100 border border-blue-400 text-blue-800 p-3 rounded">
                {% translate "Simulation running..." %}
            </div>
        {% else %}
            {% include "bitcaster/admin/event/includes/simulation_results.html" %}
            <div class="mt-3 flex gap-2 justify-between">
                {% if page_obj.has_previous %}
                    <a class="button" href="?page={{ page_obj.previous_page_number }}">{% translate "Previous" %}</a>
                {% else %}
                    <span></span>
                {% endif %}
                <span>{% blocktranslate with page=page_obj.number pages=page_obj.paginator.num_pages %}Page {{ page }} of {{ pages }}{% endblocktranslate %}</span>
                {% if page_obj.has_next %}
                    <a class="button" href="?page={{ page_obj.next_page_number }}">{% translate "Next" %}</a>
                {% else %}
                    <span></span>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock content %}
