{% extends "admin/change_form.html" %}
{% load i18n admin_urls static mercury %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'change' original.pk %}">{{ original }}</a>
        &rsaquo; Test
    </div>
{% endblock %}

{% block content %}
    <style>
    .errors{
        {#float:right;#}
        color: red;
    }
        .form-group {
            padding: 10px;
        }
        .help-block{
            color: grey;
        }
        .form-group .label {
            width: 100%;
            display: inline-block;
        }
        .form-group .field {
            width: 100%;
            display: inline-block;
        }
        .form-group .field input{
            width: 100%;
            display: inline-block;
        }
    </style>
    <table with="100%">
        <tr>
            <td width="80%">
                {% if oauth_request %}
                    {% oauth_button original %}
                {% else %}

                    <form action="." method="POST">
                        {% csrf_token %}
                            {% render_serializer serializer "rest_framework/inline2" %}
                            <input type="submit" value="Save configuration">
                    </form>
                {% endif %}

            </td>
            <td>

                <div>
                    <img width="100" height="100" src="{% url "plugin-icon" handler_fqn %}">
                </div>
                <div>{{ original.handler.name }}</div>

                <div>Author</div>
                <div>{{ original.handler.author }}</div>

                <div>Version</div>
                <div>{{ original.handler.version }}</div>

                <div>License</div>
                <div>{{ original.handler.license }}</div>


                <div>{{ original.handler.help }}</div>
            </td>
        </tr>
    </table>
{% endblock %}
