{% extends "admin_extra_buttons/action_page.html" %}
{% load json %}
{% block content %}
    {{ media }}
    <table class="w-full">
        <tr>
            <th>
                Date
            </th>
            <td>
                {{ original.timestamp }}
            </td>
        </tr>
        <tr>
            <th>
                Event
            </th>
            <td>
                {{ original.event }}
            </td>
        </tr>
    </table>
    <h3 class="text-lg text-strong">
        Payload
    </h3>
    {{ original.context|beautify }}
    <h3 class="text-lg text-strong">
        Options
    </h3>
    <code>
        {{ original.options }}
    </code>
{% endblock content %}
