{% extends "bitcaster/application/base.html" %}{% load crispy_forms_tags i18n bc_permissions %}
{% block page %}
    {% check_permissions application %}
    {% if permissions.add_monitor %}
        <div class="container">
            <div class="row col-12">
                <div class="pull-right col-12 p-4">
                    <a class="btn btn-danger btn-small pull-right"
                       href="{{ application.urls.monitor_create }}">{% trans "Create monitor" %}</a>
                </div>
            </div>
        </div>
    {% endif %}
    <table class="table table-striped table-hover col-12 channel-list">
        <tbody>
        {% for monitor in object_list %}
            <tr>
                <td>
                    {% if monitor.handler %}
                        <img width="100" class="{% if not monitor.enabled %}blur{% endif %}"
                             height="100"
                             src="{% url "plugin-icon" monitor.handler.fqn %}">
                    {% endif %}
                </td>
                <td>
                    {{ monitor.name }}
                </td>
                <td style="width:30%" class="nowrap formset-commands">
                    <a class="btn btn-light"
                       data-toggle="tooltip" title="configure"
                       href="{{ monitor.urls.edit }}">
                        <i class="fas fa-wrench pointer"></i>
                    </a>
                    <a class="btn btn-light"
                       data-toggle="tooltip" title="delete"
                       href="{{ monitor.urls.delete }}">
                        <i class="far fa-trash-alt pointer"></i>
                    </a>
                    {% if monitor.handler %}
                        <a class="btn btn-light"
                           data-toggle="tooltip" title="{% if monitor.enabled %}Disable{% else %}Enable{% endif %}"
                           href="{{ monitor.urls.toggle}}">
                            <i class="fas {% if monitor.enabled %}fa-toggle-on green{% else %}fa-toggle-off red{% endif %}"></i>
                        </a>
                        <a class="btn btn-light"
                           data-toggle="tooltip" title="test monitor"
                           href="{{ monitor.urls.test }}">
                            <i class="fas fa-broadcast-tower"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}
