{% load i18n %}
<div class="container">
    <div class="row col-12 mb-2">
        <div class="col-10">
            {% trans "type your filters" as placeholder %}

            <form id="search">
                <input type="search" name="filter" maxlength="50"
                       value="{{ request.GET.filter }}"
                       placeholder="{{ placeholder }}"
                       onfocus="this.placeholder=''"
                       onblur="this.placeholder='{{ placeholder }}'"
                       class="textinput  textInput form-control">
            </form>
            {% if view.filtering_errors %}
                {% for err in view.filtering_errors %}
                    <div class="red">{{ err }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-1">
            <input class="btn btn-primary"
                   onclick="search.submit()"
                   type="submit" value="{% trans "Search" %}">
        </div>
        <div class="col-1 d-flex  text-center align-middle">
            &nbsp;{% if request.GET.filter %}
            <span class="p-2 pointer" id="fa"><i class="fas fa-filter"></i></span>
        {% endif %}
        </div>
    </div>
</div>
<script>
    $('#fa').click(function () {
        $('input[name=filter]').val('');
        $('#search').submit();
    })    
</script>
