{% extends "bitcaster/base.html" %}{% load crispy_forms_utils bc_assets crispy_forms_tags crispy_forms_field crispy_forms_filters i18n %}
{% block body %}

    <div class="container">
        <div class="row col-12 justify-content-center align-items-center">
            <div class="box box-modal login-form col-6 p-3">
                {% if invitation %}
                    {% if invitation.user %}
                        <div>Registration token already used</div>
                    {% else %}
                        <form method="post" class="mb-1">
                            <div class="container-fluid p-3">
                                {% csrf_token %}
                                {{ form.errors|as_crispy_errors }}
                                {{ form.friendly_name|as_crispy_field }}
                                {{ form.email|as_crispy_field }}
                                {{ form.password1|as_crispy_field }}
                                <div class="password-strength"></div>
                                {{ form.password2|as_crispy_field }}
                            </div>
                            <input type="submit" value="Register"
                                   class="btn btn-primary"/>
                        </form>
                        {% include "bitcaster/_includes/oauth.html" %}
                    {% endif %}
                {% else %}
                    <div class="text-center align-middle h1">
                        <i class="fa fa-ban red mr-5 fa-large"></i>
                        <span class="mb-5">Invitation not found</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% asset "bitcaster/pwstrength.js" %}"></script>
    <script>
        if (window.pwds) {
            window.pwds.addStrengthIndicator(
                "#id_password",
                ".password-strength"
            );
        }
    </script>
{% endblock %}
