<div class="form-group {% if field.errors %}has-error{% endif %}">
    <div class="label {% if style.hide_label %}sr-only{% endif %}">{{ field.label }}</div>
    <div class="field">
        <input id="id_{{ field.name }}" name="{{ field.name }}"
               {% if style.input_type != "file" %}class="form-control"{% endif %}
               type="{{ style.input_type }}" {% if style.placeholder %}placeholder="{{ style.placeholder }}"{% endif %}
               {% if field.value %}value="{{ field.value }}"{% endif %}
               {% if style.autofocus and style.input_type != "hidden" %}autofocus{% endif %}>
        <span data-toggle="#id_{{ field.name }}"
              onmousedown="bitcaster.passwords.show(this);"
              onmouseup="bitcaster.passwords.hide(this);"
              class="fa fa-fw fa-eye-slash widget-eye-icon toggle-password"></span>
        <div class="errors">
            {% if field.errors %}
                {% for error in field.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        {% if field.help_text %}
            <div class="help-block">{{ field.help_text|safe }}</div>
        {% endif %}
    </div>
</div>
