<div class="footer w-100">
    <div class="text-center">
        Version {{ bitcaster.version }}
        - Copyright &copy; 2022-<script>document.write(new Date().getFullYear())</script> OS4D ltd
        - <a href="https://github.com/bitcaster-io/bitcaster/issues/new/choose">Open Issue</a>
        -  <a href="/api/">API</a>
        -  <a href="{{ bitcaster.doc_site }}">Documentation</a>
        -  <a href="{{ bitcaster.doc_site }}/license/">License</a>
        -  <a href="https://github.com/bitcaster-io">GitHub</a>
    </div>
</div>
