<div class="footer w-100">
    <div class="text-center">
        Version {{ bitcaster.version }} 
        - Copyright &copy; 2022-<script>document.write(new Date().getFullYear())</script> OS4D ltd
        - <a href="https://github.com/bitcaster-io/bitcaster/issues/new/choose">Open Issue</a> 
        -  <a href="/api/">API</a>
        -  <a href="https://bitcaster-io.github.io/bitcaster/">Documentation</a> 
        -  <a href="https://bitcaster-io.github.io/bitcaster/license/">License</a> 

    </div>
</div>
