{% extends "bitcaster/base.html" %}{% load bc_assets crispy_forms_utils crispy_forms_tags crispy_forms_filters i18n %}
{% block extrahead %}
    <script src='https://www.google.com/recaptcha/api.js'></script>

{% endblock extrahead %}
{% block sidebar %}

{% endblock %}
{% block page %}
    <section class="hero pb-3 pb-md-5 pt-2 pt-md-4 bg-black">
        <div class="container text-center">

            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <img src="{% asset "/logos/bitcaster32.png" %}">
                </div>
                <div class="col-xl-10 offset-xl-1">
                    <h1 class=" color-white">Sign up for bitcaster</h1>
                    <p class="mb-0 color-purple-light family-mono">
                        Fire your events everywhere, by all means
                    </p>

                </div>
            </div>


        </div>
    </section>
    <div class="container-fluid">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                {{ org_form|crispy }}
                <div>
                    I agree to the <a href="{% url "legal-terms" %}">Terms of Service</a>
                    and the <a href="{% url "legal-privacy" %}">Privacy Policy</a>
                </div>
                <input type="submit" value="Register" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}
