{% load crispy_forms_tags i18n bc_channels %}
<h2>{{ title }}</h2>
<div class="container">
    <div class="row col-12">
        <div class="pull-right col-12 p-4">
            <a class="btn btn-danger btn-small pull-right"
               href="{{ create_url }}">{% trans "Create channel" %}</a>
        </div>
    </div>
</div>
<div class="container-fluid channel-list">
    {% for channel in object_list %}
        <div class="row col-10 handler-row">
            <style>
                .blur {
                    filter: blur(5px);
                }
            </style>
            <div class="col-2 handler-logo">
                <img width="100" class="{% if channel.enabled and channel.deprecated %}blur{% endif %}" height="100"
                     src="{% url "plugin-icon" channel.handler.fqn %}">
            </div>
            <div class="col-7 handler-name">
                <strong>{{ channel.name }}</strong>
                {% channel_type channel %}
                {% channel_configurable channel as configurable %}
                {% if configurable %}
                <div class="pt-3">
                    <a href="{{ channel.pk }}/edit/">Configure</a>
                    | <a href="{{ channel.pk }}/toggle/">{% if channel.enabled %}Disable{% else %}<strong>Enable</strong>{% endif %}</a>
                    | <a href="{{ channel.pk }}/delete/">Remove</a>
                    | <a href="{{ channel.pk }}/deprecate/">{% if channel.deprecated %}<strong>Show</strong>{% else %}Hide{% endif %}
                    | <a href="{% url "plugin-info" channel.handler.fqn %}">Plugin Info</a>
                </div>
                {% endif %}
            </div>
            <div class="col-1 text-center vertical-align-center h4">
                {% if channel.enabled %}
                    <i class="fa fa-check"></i>
                {% else %}
                    <i class="fa fa-ban"></i>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
