@charset "UTF-8";
#DIV_1 {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 12px 0px;
  box-sizing: border-box;
  color: #2f2936;
  height: 359px;
  text-decoration: none solid #2f2936;
  text-size-adjust: 100%;
  width: 800px;
  column-rule-color: #2f2936;
  perspective-origin: 400px 179.5px;
  transform-origin: 400px 179.5px;
  caret-color: #2f2936;
  background: white none repeat scroll 0% 0%/auto padding-box border-box;
  border: 1px solid #cbc3d3;
  border-radius: 3px 3px 3px 3px;
  font: normal normal 400 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
  margin: 0px 0px 20px;
  outline: #2f2936 none 0px; }

/*#DIV_1*/
#DIV_2 {
  bottom: 0px;
  box-sizing: border-box;
  color: #2f2936;
  height: 48px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid #2f2936;
  text-size-adjust: 100%;
  top: 0px;
  width: 798px;
  column-rule-color: #2f2936;
  perspective-origin: 399px 24px;
  transform-origin: 399px 24px;
  caret-color: #2f2936;
  background: #fbfbfc none repeat scroll 0% 0%/auto padding-box border-box;
  border-top: 0px none #2f2936;
  border-right: 0px none #2f2936;
  border-bottom: 1px solid #e2dee6;
  border-left: 0px none #2f2936;
  border-radius: 3px 3px 0 0;
  font: normal normal 400 normal 16px / 16px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
  outline: #2f2936 none 0px;
  padding: 15px 30px 10px; }
  #DIV_2:after {
    box-sizing: border-box;
    clear: both;
    color: #2f2936;
    content: '"' '"';
    display: table;
    height: 0px;
    text-decoration: none solid #2f2936;
    text-size-adjust: 100%;
    width: 0px;
    column-rule-color: #2f2936;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: #2f2936;
    border: 0px none #2f2936;
    font: normal normal 400 normal 16px / 16px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
    outline: #2f2936 none 0px; }
  #DIV_2:before {
    box-sizing: border-box;
    color: #2f2936;
    content: '"' '"';
    display: table;
    height: 0px;
    text-decoration: none solid #2f2936;
    text-size-adjust: 100%;
    width: 0px;
    column-rule-color: #2f2936;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: #2f2936;
    border: 0px none #2f2936;
    font: normal normal 400 normal 16px / 16px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
    outline: #2f2936 none 0px; }

/*#DIV_2*/
/*#DIV_2:after*/
/*#DIV_2:before*/
#A_3 {
  box-sizing: border-box;
  color: #493e54;
  text-decoration: none solid #493e54;
  text-size-adjust: 100%;
  column-rule-color: #493e54;
  caret-color: #493e54;
  border: 0px none #493e54;
  font: normal normal 400 normal 20px / 20px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
  outline: #493e54 none 0px;
  transition: color 0.2s linear 0s; }

/*#A_3*/
#SPAN_4 {
  box-sizing: border-box;
  color: #493e54;
  cursor: pointer;
  speak: none;
  text-decoration: none solid #493e54;
  text-size-adjust: 100%;
  column-rule-color: #493e54;
  caret-color: #493e54;
  border: 0px none #493e54;
  font: normal normal 400 normal 20px / 20px sentry-simple;
  outline: #493e54 none 0px; }
  #SPAN_4:before {
    box-sizing: border-box;
    color: #493e54;
    content: '""';
    cursor: pointer;
    speak: none;
    text-decoration: none solid #493e54;
    text-size-adjust: 100%;
    column-rule-color: #493e54;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: #493e54;
    border: 0px none #493e54;
    font: normal normal 400 normal 20px / 20px sentry-simple;
    outline: #493e54 none 0px; }

/*#SPAN_4*/
/*#SPAN_4:before*/
#DIV_5 {
  box-sizing: border-box;
  color: #2f2936;
  height: 309px;
  text-decoration: none solid #2f2936;
  text-size-adjust: 100%;
  width: 798px;
  column-rule-color: #2f2936;
  perspective-origin: 399px 154.5px;
  transform-origin: 399px 154.5px;
  caret-color: #2f2936;
  border: 0px none #2f2936;
  font: normal normal 400 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
  outline: #2f2936 none 0px;
  padding: 20px 30px 0px; }

/*#DIV_5*/
#H3_6 {
  box-sizing: border-box;
  color: #2f2936;
  height: 31px;
  text-decoration: none solid #2f2936;
  text-size-adjust: 100%;
  width: 738px;
  column-rule-color: #2f2936;
  perspective-origin: 369px 15.5px;
  transform-origin: 369px 15.5px;
  caret-color: #2f2936;
  border: 0px none #2f2936;
  font: normal normal 600 normal 26px / 31.2px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
  margin: 0px 0px 20px;
  outline: #2f2936 none 0px; }

/*#H3_6*/
#P_7 {
  box-sizing: border-box;
  color: #2f2936;
  height: 48px;
  text-decoration: none solid #2f2936;
  text-size-adjust: 100%;
  width: 738px;
  column-rule-color: #2f2936;
  perspective-origin: 369px 24px;
  transform-origin: 369px 24px;
  caret-color: #2f2936;
  border: 0px none #2f2936;
  font: normal normal 400 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
  margin: 0px 0px 20px;
  outline: #2f2936 none 0px; }

/*#P_7*/
#FORM_8 {
  box-sizing: border-box;
  color: #2f2936;
  height: 170px;
  text-decoration: none solid #2f2936;
  text-size-adjust: 100%;
  width: 738px;
  column-rule-color: #2f2936;
  perspective-origin: 369px 85px;
  transform-origin: 369px 85px;
  caret-color: #2f2936;
  border: 0px none #2f2936;
  font: normal normal 400 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
  margin: 0px;
  outline: #2f2936 none 0px; }

/*#FORM_8*/
#DIV_9 {
  box-sizing: border-box;
  color: #2f2936;
  height: 66px;
  text-decoration: none solid #2f2936;
  text-size-adjust: 100%;
  width: 738px;
  column-rule-color: #2f2936;
  perspective-origin: 369px 33px;
  transform-origin: 369px 33px;
  caret-color: #2f2936;
  border: 0px none #2f2936;
  font: normal normal 400 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
  margin: 0px 0px 15px;
  outline: #2f2936 none 0px; }

/*#DIV_9*/
#DIV_10 {
  box-sizing: border-box;
  color: #2f2936;
  height: 66px;
  text-decoration: none solid #2f2936;
  text-size-adjust: 100%;
  width: 738px;
  column-rule-color: #2f2936;
  perspective-origin: 369px 33px;
  transform-origin: 369px 33px;
  caret-color: #2f2936;
  border: 0px none #2f2936;
  font: normal normal 400 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
  outline: #2f2936 none 0px; }

/*#DIV_10*/
#LABEL_11 {
  box-sizing: border-box;
  color: #2f2936;
  display: inline-block;
  height: 24px;
  max-width: 100%;
  text-decoration: none solid #2f2936;
  text-size-adjust: 100%;
  width: 161.312px;
  column-rule-color: #2f2936;
  perspective-origin: 80.6562px 12px;
  transform-origin: 80.6562px 12px;
  caret-color: #2f2936;
  border: 0px none #2f2936;
  font: normal normal 600 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
  margin: 0px 0px 5px;
  outline: #2f2936 none 0px; }
  #LABEL_11:after {
    box-sizing: border-box;
    color: #999999;
    content: '"[required]"';
    text-decoration: none solid #999999;
    text-size-adjust: 100%;
    text-transform: uppercase;
    vertical-align: bottom;
    column-rule-color: #999999;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: #999999;
    border: 0px none #999999;
    font: normal normal 600 normal 12px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
    margin: 0px 0px 0px 10px;
    outline: #999999 none 0px; }

/*#LABEL_11*/
/*#LABEL_11:after*/
#INPUT_12 {
  bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 0px 0px inset;
  color: #493e54;
  display: block;
  height: 37px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid #493e54;
  text-size-adjust: 100%;
  top: 0px;
  width: 738px;
  column-rule-color: #493e54;
  perspective-origin: 369px 18.5px;
  transform-origin: 369px 18.5px;
  caret-color: #493e54;
  border: 1px solid #c9c0d1;
  border-radius: 3px 3px 3px 3px;
  font: normal normal 400 normal 14px / 20px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
  outline: #493e54 none 0px;
  padding: 8px 12px 7px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }

/*#INPUT_12*/
#DIV_13 {
  box-sizing: border-box;
  color: #2f2936;
  height: 79px;
  text-align: right;
  text-decoration: none solid #2f2936;
  text-size-adjust: 100%;
  width: 738px;
  column-rule-color: #2f2936;
  justify-content: flex-end;
  perspective-origin: 369px 39.5px;
  transform-origin: 369px 39.5px;
  caret-color: #2f2936;
  border-top: 1px solid #e9ebec;
  border-right: 0px none #2f2936;
  border-bottom: 0px none #2f2936;
  border-left: 0px none #2f2936;
  font: normal normal 400 normal 16px / 24px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
  margin: 25px 0px 0px;
  outline: #2f2936 none 0px;
  padding: 20px 0px; }

/*#DIV_13*/
#BUTTON_14 {
  color: #968ba0;
  cursor: not-allowed;
  height: 38px;
  text-decoration: none solid #968ba0;
  text-size-adjust: 100%;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 119.453px;
  column-rule-color: #968ba0;
  perspective-origin: 59.7188px 19px;
  transform-origin: 59.7188px 19px;
  user-select: none;
  caret-color: #968ba0;
  border: 1px solid #e2dee6;
  border-radius: 3px 3px 3px 3px;
  font: normal normal 600 normal 14px / 20px Lato, "Avenir Next", "Helvetica Neue", sans-serif;
  outline: #968ba0 none 0px;
  padding: 8px 16px;
  transition: all 0.1s ease 0s; }

/*#BUTTON_14*/

/*# sourceMappingURL=box-modal.css.map */
