<script>
    (function ($) {
        var formsetName = "{{ formsetName }}";
        var $TOTAL_FORMS = $("#id_{{ formsetName }}-TOTAL_FORMS");
        var selector2 = "div.fieldset>.row:first";
        var $commands = $(".commands");
        var modified = false;

        {% if form.errors %}$(".commands").show();{% endif %}

        $('.commands>.btn-save').on('click', function () {
            $("#Form").submit();
        });
        $("#Form")
            .on("input", function (e) {
                $(e.target).parents('div.row').css('background-color', '#fffccf');
                $commands.show();
            });
        $("select")
            .on("change", function (e) {
                $(e.target).parents('div.row').css('background-color', '#fffccf');
                $commands.show();
            });

        $(".remove_line").click(function (e) {
            $commands.prop("disabled", true);
            var $target = $(this).parent().parent().parent();
            var $deletion = $target.find(":input[type=checkbox]");
            $deletion.prop('checked', true);
            $target.hide();
            var $rows = $("div.fieldset>div.row:visible");
            $commands.show();
            e.preventDefault();
        });
        $("#add_more").click(function (e) {
            e.preventDefault();
            $commands.prop("disabled", true);
            cloneMore();
            $commands.show();
        });

        var setNumber = function (e) {
            var $rows = $("div.fieldset>div.row");
            $TOTAL_FORMS.val($rows.length);
            var ID = $rows.length - 1;
            $(e).find(":input").each(function () {
                var name = $(this).attr("name").replace(/__prefix__/, ID);
                var id = "id_" + name;
                $(this).attr({"name": name, "id": id});
            });
            $(e).find("div.form-group").each(function () {
                var newId = $(this).attr("id").replace(/__prefix__/, ID);
                $(this).attr("id", newId);
            });

        };

        function cloneMore() {
            var $newElement = $("#empty-form>div.row").clone(true);
            $newElement.removeClass("d-none");
            $(selector2).before($newElement);
            setNumber($newElement);
        }
    })($);
</script>
