<tr class="{% if field.errors %}has-error{% endif %}">
    <td class="label {% if style.hide_label %}sr-only{% endif %}">{{ field.label }}</td>
    <td class="field">
    <div class="errors">
        {% if field.errors %}
            {% for error in field.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
        <input name="{{ field.name }}" {% if style.input_type != "file" %}class="form-control"{% endif %}
               type="{{ style.input_type }}" {% if style.placeholder %}placeholder="{{ style.placeholder }}"{% endif %}
               {% if field.value %}value="{{ field.value }}"{% endif %}
               {% if style.autofocus and style.input_type != "hidden" %}autofocus{% endif %}>
        {% if field.help_text %}
            <div class="help-block">{{ field.help_text|safe }}</div>
        {% endif %}
    </td>
    {#    </td>#}
</tr>
