{% extends "admin_extra_buttons/change_form.html" %}
{% block field_sets %}
    <div class="content" style="display: inline;">
        <div style="display: inline-block">
            {{ block.super }}
        </div>
        <div style="display: inline-block">
            {% if original.pk and original.schedule and  original.schedule.crontab %}
                <div class="frame loat-right">
                    <fieldset>
                        <div class="form-row">
                            <div>Refresh:</div>
                            <div>
                                <a href="{% url "admin:bitcaster_monitor_schedule" original.pk %}">{{ original.schedule.crontab.human_readable }}</a>
                            </div>
                            <div>
                                <a href="{% url "admin:django_celery_beat_periodictask_change" original.schedule.pk %}">Periodic
                                    Task</a></div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-row">
                            <div>Last Run:</div>
                            {{ original.schedule.last_run_at|default_if_none:"Never" }}
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-row">
                            <div>Last Status:</div>
                            {{ original.result }}
                        </div>
                    </fieldset>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block after_field_sets %}
{% endblock %}
