{% extends "admin_extra_buttons/change_form.html" %}{% load usage %}
{% block field_sets %}
    <div class="content">
        <div {% if original.pk %}style="display: inline-flex;flex:max-content" {% endif %}>
            {{ block.super }}
        </div>
        <div style="display: inline-flex; flex:min-content">
            {% if original.pk and original.schedule and original.schedule.crontab %}
                <div class="boxed">
                    <fieldset>
                        <div class="form-row">
                            <h3>Refresh:</h3>
                            <div style="text-wrap: nowrap;">
                                <a href="{% url "admin:bitcaster_monitor_schedule" original.pk %}">{{ original.schedule.crontab|cron_human_readable }}</a>
                            </div>
                            <div>
                                <a href="{% url "admin:django_celery_beat_periodictask_change" original.schedule.pk %}">Periodic
                                    Task</a></div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-row">
                            <h3>Last Run:</h3>
                            {{ original.schedule.last_run_at|default_if_none:"Never" }}
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-row">
                            <h3>Last Status:</h3>
                            {{ original.result }}
                        </div>
                    </fieldset>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock field_sets %}

{% block after_field_sets %}
{% endblock after_field_sets %}
