{% extends "bitcaster/organization/base.html" %}{% load crispy_forms_tags i18n bitcaster %}
{% block content %}
    <div class="container">
        <h4>{{ title }}</h4>
{#        <form method="post" action=".">#}
            <div class="col-12">
                {% csrf_token %}
                {% crispy form %}
            </div>
{#            <div class="row col-12">#}
{#                <button type="submit" class="btn btn-primary btn-small pull-left" href=".">{% trans "Save" %}</button>#}
{#                <button type="button"#}
{#                        class="btn btn-light btn-small pull-left ml-3"#}
{#                        onclick="window.location.href = '{% org-url "org-member-list" %}';">#}
{#                    Cancel#}
{#                </button>#}
{#            </div>#}
{#        </form>#}
    </div>
{% endblock %}
