{% extends "bitcaster/base.html" %}{% load feature_flags static %}
{% block body %}
    {% flag_enabled 'LOCAL_LOGIN' as LOCAL_LOGIN %}

    <div class="text-center">
        <img style="width: 200px;margin-bottom: 50px" src="{% static "bitcaster/images/logos/logo400.png" %}">
        <div class="login-form">
            {% if LOCAL_LOGIN %}
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form }}
                    <div class="container">
                        <input class="button default" type="submit" value="Login">
                        <a href=".." class="button secondary">Cancel</a>
                    </div>
                </form>
            {% endif %}
            <div class="social-login">
                {% for k,v in sso_providers %}
                    <form action="{% url "social:begin" k %}">
                        <input type="submit" value="{{ v }}"/>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}
