{% load i18n crispy_forms_tags bc_assets %}

{% block body %}
    <div class="jquery-modal blocker current">
        <div class="modal modal-xl p-3 h-75" style="display: inline-block;">
                <div class="container">
                        <div class="box box-modal w-100 h-100 col-12 p-3 ">
                            {% block modal-content %}
                            {% endblock %}

                            <div class="row d-flex justify-content-center w-100 mt-3" style="display: block;">
                                <a href="#close-modal" class="btn btn-primary btn-lg" rel="modal:close">Close</a>
                            </div>
                        </div>
                </div>

        </div>
    </div>
{% endblock %}
