{% extends "bitcaster/app_event_wizard0.html" %}{% load i18n crispy_forms_tags bc_wizard %}
{% block subtitle %}Select channels allowed for this event {% endblock %}
{% block istructions %}
    Select which channels can be selected by your recepient.
    This wizard create one single message you can configure the later
    Only channels with messages will be allowed to be selected

{% endblock %}
{% block wizard-content %}
    {% csrf_token %}
    <div class="row pull-right">
    <a class="btn btn-small m-1 mb-3 btn-secondary " href="#" id="selectAll">Select All</a>
    <a class="btn btn-small m-1 mb-3 btn-secondary" href="#" id="selectNone">Select None</a>
    </div>
    {{ form|crispy }}
{% endblock wizard-content %}
{% block js %}
    <style>
        #div_id_b-channels {
            min-height: 400px;
        }

        .select2-results__option[aria-selected=true] {
            display: none;
        }
    </style>
    {{ block.super }}
    <script>
        var $channels = $('#id_b-channels');
        function formatData(data) {
            //if (!data.id) {
            //    return data.text;
            //}

            return $(
                "<span><img width=40 height=40 src='/plugins/icon/" + data.handler.fqn + "'/> " + data.text + "</span>"
            );
        }
        $("select").select2({
            {#templateResult: formatData,#}
            {#templateSelection: formatData#}
        });
        $("#selectAll").click(function () {
            $channels.find("option").prop("selected","selected");
            $channels.trigger("change");
        });

        $("#selectNone").click(function () {
            $channels.find("option").removeAttr("selected").prop("selected","");
            $channels.trigger("change");
        });
    </script>

{% endblock %}
