{% extends "bitcaster/app_event_wizard0.html" %}{% load i18n crispy_forms_filters bc_wizard %}
{% block subtitle %}Select channels allowed for this event {% endblock %}
{% block istructions %}
    Select which channels can be selected by your recepient.
    This wizard create one single message you can configure the later
    Only channels with messages will be allowed to be selected

{% endblock %}
{% block top %}
    <style>
    .messageForm{
        border: 1px solid grey;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #e4e4e4;
    }
    </style>
    <div id="empty-form" class="d-none">
        <div class="messageForm">
            {{ form.empty_form|crispy }}
        </div>
    </div>
{% endblock %}

{% block wizard-content %}
    {% csrf_token %}
    <div class="container">
        <div class="row col-12">
            <div class="pull-right col-12 p-4">
                <a id="add_more" class="btn btn-danger btn-small pull-right"
                   href="#">{% trans "Add Message" %}</a>
            </div>
        </div>
    </div>
    <div>
    {{ form.errors|as_crispy_errors }}
    </div>
    {{ form.management_form }}
    <div class="messages">
        {% for form in form.forms %}
            <div class="messageForm">{{ form|crispy }}</div>
    {% endfor %}
    </div>
{% endblock wizard-content %}
{% block js %}
    {{ block.super }}
    <script>
        $('.messages select').select2()
    </script>
    <script>
        (function () {
            var formsetName = "b";
            var $TOTAL_FORMS = $("#id_" + formsetName + "-TOTAL_FORMS");
            var selector = "div.messages";
            {#var $rows = $("div.messages>div");#}

            $(".remove_line").click(function () {
                $("#btn-submit").prop("disabled", true);
                var $target = $(this).parent().parent();
                $target.remove();
                setTimeout(function () {
                    reNumber();
                }, 20);
            });
            $("#add_more").click(function () {
                $("#btn-submit").prop("disabled", true);
                cloneMore();
            });
            var reNumber = function () {
                var $rows = $("div.messages>div");
                $rows.each(function (i, e) {
                    $(e).find("div").each(function () {
                        var _id = $(this).attr("id");
                        if (_id) {
                            _id.replace(/\-(\d{1,}|__prefix__)\-/, "-" + i + "-");
                            var id = "id_" + name;
                            $(this).attr({"id": id});
                        }
                    });
                    $(e).find(":input").each(function () {
                        var _name = $(this).attr("name");
                        if (_name) {
                            var name = $(this).attr("name").replace(/\-(\d{1,}|__prefix__)\-/, "-" + i + "-");
                            var id = "id_" + name;
                            $(this).attr({"name": name, "id": id});
                        }
                    });
                    $(e).find("label").each(function () {
                        var newFor = $(this).attr("for").replace(/\-(\d{1,}|__prefix__)\-/, "-" + i + "-");
                        $(this).attr("for", newFor);
                    });

                    $(e).find("div.form-group").each(function () {
                        var newId = $(this).attr("id").replace(/\-(\d{1,}|__prefix__)\-/, "-" + i + "-");
                        $(this).attr("id", newId);
                    });

                });
                $TOTAL_FORMS.val($rows.length);
                $("#btn-submit").prop("disabled", parseInt($TOTAL_FORMS.val()) < 1);

            };

            function cloneMore() {
                var $newElement = $("#empty-form>div").clone(true);
                $newElement.removeClass("d-none");

                $(selector).append($newElement);
                setTimeout(function () {
                    reNumber();
                    $newElement.find("select").each(function () {
                        $(this).select2();
                    });
                }, 20);
            };
        })($);

    </script>

{% endblock %}
