{% extends "bitcaster/application_detail.html" %}{% load i18n crispy_forms_tags bc_wizard %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
    <h2>Create new application channel</h2>
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <h2>{{title}}</h2>
    <form action="" method="post" id="form">{% csrf_token %}
        {{ wizard.management_form }}
        <div class="container-fluid" id="handler-list">
        {% block wizard-content %}
        {% endblock wizard-content %}
        </div>
        {% block wizard-buttons %}
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit"
                        class="btn btn-secondary"
                        value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
            {% endif %}
            <input type="submit" class="btn btn-primary" value="{% trans "next step" %}"/>
        {% endblock %}
    </form>
{% endblock %}
