{% extends "bitcaster/base.html" %}{% load bitcaster %}
{% block bodyclass %}application{% endblock %}
{% block page %}
    <div class="container-fluid">
        <div class=" main-content">
            {% block sidebar %}
                <div class="row d-flex d-md-block flex-nowrap wrapper">
                    <div id="sidebar" class="float-left pl-0 collapse width show application-sidebar">
{#                        <div class="org-logo">#}
{#                            {% if application.avatar %}#}
{#                                <img src="{{ application.avatar.url }}"/>#}
{#                            {% endif %}#}
{#                        </div>#}
                        {% if user.is_authenticated and application %}
                            <div class="list-group">
                                <div class="col-md-2 org-sidebar">
                                    <div>
                                        <ul class="nav nav-stacked">
                                            <li><a href="{% app-url 'app-dashboard' %}">Dashboard</a></li>
                                            <li><a href="{% app-url 'app-update' %}">Configuration</a></li>
                                            <li><a href="{% app-url 'app-key-list' %}">Keys</a></li>
{#                                            <li><a href="{% app-url 'app-channel-list' %}">Channels</a></li>#}
                                            <li><a href="{% app-url 'app-event-list' %}">Events</a></li>
                                            {#                                            <li><a href="{% app-url 'app-message-list' %}">Messages</a></li>#}
                                            <li><a href="{% app-url 'app-subscriptions' %}">Subscriptions</a></li>
                                            <li><a href="#">Roles</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endblock sidebar %}
            <div class="page-content">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock page %}
