{% load bc_assets bc_permissions bitcaster static gravatar cache %}<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    {% block css %}
        <link rel="stylesheet" href="{% asset "bitcaster/bitcaster.css" %}">
    {% endblock %}
    {% block head-js %}{% endblock %}

    {% block extrahead %}{% endblock %}
    <title>Bitcaster</title>
</head>
<body class="{% block bodyclass %}{% endblock %}">
{% block body %}
    <div class="app">
    <!-- Content here -->
    {% block container %}
        {% block header %}
            <header class="{% block header_class %}{% endblock %}">
                <div class="logo text-center">
                    <a href="{% url "index" %}">-</a>
                </div>
                {% block header-content %}
                    {% if user.is_authenticated %}
                        {% check_permissions organization as "permissions" %}
                        {% block nav-menu %}
                            <span class="top-menu">
                    {% if organization and applications %}
                        {% if applications %}
                            <div class="dropdown">

                            <a href="{% url "org-dashboard" organization.slug %}">[{{ organization.name }}]</a>/
                            <a class="dropdown-toggle2"
                               href="#" role="button"
                               id="appMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                {% if application %}{{ application }}{% else %}<span class="italic">~</span>{% endif %}
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="appMenuLink">
                                {% for app in applications %}
                                    <a class="dropdown-item application"
                                       href="{% org-url "app-dashboard" app.slug %}">{{ organization.name }}/{{ app.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        {% elif organizations %}
                            <div class="dropdown">
                            <a class="dropdown-toggle2"
                               href="#" role="button"
                               id="orgMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                              {% if organization %}[{{ organization }}]{% else %}Organizations{% endif %}
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="orkMenuLink">
                                {% for org in organizations %}
                                    <a class="dropdown-item organization"
                                       href="{% url "org-dashboard" org.slug %}">{{ org.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}{# organization and applications #}
                    {% endif %}
                    </span>
                        {% endblock nav-menu %}
                        {% block user-menu %}
                            <span class="pull-right user-menu ">
                        <div class="dropdown">
                            <a class="dropdown-toggle2"
                               href="#" role="button"
                               id="userMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                            {{ user.display_name }} <img src="{{ user|gravatar:30 }}"/><i class="fa fa-angle-down"></i>
                          </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenuLink">
                                {% if permissions.manager %}
                                    <a class="dropdown-item" href="{% url "org-dashboard" organization.slug %}">Configure</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url "user-profile" %}">Profile</a>
                                <a class="dropdown-item" href="{% url "user-addresses" %}">Addresses</a>
                                {% if user.is_superuser %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url "admin:index" %}">Admin</a>
                                    <a class="dropdown-item" href="{% url "settings" %}">Settings</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </div>
                    </span>
                        {% endblock user-menu %}
                    {% endif %}{#  user.is_authenticated #}
                {% endblock header-content %}
            </header>
        {% endblock header %}

        {% block messages %}
            <div id="messageBar">
                {% if messages %}
                    <ul class="messagelist">{% for message in messages %}
                        <li class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} fade show alert-dismissible ">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span>{{ message|capfirst }}</span>
                        </li>
                    {% endfor %}</ul>
                {% endif %}
            </div>
        {% endblock messages %}
        <div class="container-fluid main-content" id="{% block pageId %}page{% endblock %}">
            {% if alarms %}
                <div id="alarmBar">
                    <ul class="messagelist">{% for alarm in alarms %}
                        <li class="alarm {% if alarm.tags %} alert-{{ alarm.tags }}{% endif %} show ">
                            <span>{{ alarm|capfirst }}</span>
                        </li>
                    {% endfor %}</ul>
                </div>
            {% endif %}


            {% block page %}
            {% endblock page %}
        </div>


        {% block footer %}
            {% cache 500 footer bitcaster_version %}
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm justify-content-start">
                            <span class="pull-left">bitcaster
                            <span>{{ bitcaster_version }} </span>
                            <span class="git-status d-inline d-sm-none d-md-inline">{{ git_status }}</span>
                            </span>
                            </div>
                            <div class="col-sm justify-content-center">
                                <a href="//bitcaster.io/"><img src="{% asset "bitcaster/images/bitcaster32.png" %}"></a>
                            </div>
                            <div class="col-sm justify-content-end">
                                {% if user.is_authenticated %}
                                    <span class="pull-right">
                                    <a class="d-none d-md-block" href="/api/">API</a>
                                </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </footer>
            {% endcache %}
        {% endblock footer %}
    {% endblock container %}
{% endblock body %}

</div>
{% block js %}
    <script src="{% static "bitcaster/vendor.js" %}"></script>
    <script src="{% static "bitcaster/bitcaster.js" %}"></script>
    {% if messages %}
        <script>
            setTimeout(function () {
                $('.alert').alert('close');
            }, 5000);
        </script>
    {% endif %}
{% endblock %}
</body>
</html>
