{% extends "bitcaster/application_base.html" %}{% load i18n bitcaster crispy_forms_filters %}
{% block content %}
    <h2><a href="../..">{{ event }}</a>: {{ title }}</h2>
    <style>
        .messageForm {
            border: 1px solid grey;
            padding: 10px;
            margin-bottom: 10px;
            background-color: #e4e4e4;
        }
    </style>
    <form method="post">
        {% csrf_token %}
        {{ form.management_form }}
        {% for frm in form.forms %}
            <div class="messageForm">
                {{ frm.channel }}{{ frm.id }}
                <div>
                    <img width=40 height=40 src="{% url "channel-icon" frm.instance.channel.pk %}"/>
                    {{ frm.instance.channel }}
                    <span class="pull-right">
                                            <a href="#" title="enable/disable message"
                       class="btn btn-small fa toggle {% if frm.instance.enabled %}fa-check green{% else %}fa-ban red{% endif %}"
                       data-target="#{{ frm.enabled.auto_id }}"></a>


                    </span>
                </div>
                {{ frm.name|as_crispy_field }}
                {% if frm.has_subject %}
                    {{ frm.subject|as_crispy_field }}
                {% endif %}
                {{ frm.body|as_crispy_field }}
                {{ frm.enabled|as_crispy_field }}
                <div>
                    <a href="#" title="copy text" class="btn btn-small fa fa-copy copyText" data-target="#{{ frm.body.auto_id }}"></a>
                    <a href="#" class="btn btn-small fa fa-paste pasteText" data-target="#{{ frm.body.auto_id }}"></a>
                    <a href="#" title="broadcast input" class="btn btn-small fa fa-wifi broadcast" data-target="#{{ frm.body.auto_id }}"></a>
                </div>
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Save">
    </form>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        (function () {
            let broadcast = false;
            let $source = null;

            $(".copyText").click(function (event) {
                event.preventDefault();
                let target = $(this).data("target");
                $(target).select();
                document.execCommand("Copy");
                $source = $(target);
            });
            $(".pasteText").click(function (event) {
                event.preventDefault();
                let target = $(this).data("target");
                $(target).val( $source.val() );
            });

            $(".toggle").click(function (event) {
                event.preventDefault();
                var target = $(this).data("target");
                $(target).prop("checked", !$(target).prop("checked"));
                if ($(target).prop("checked")){
                    $(this).removeClass('fa-ban red').addClass('fa-check green')
                }else{
                    $(this).removeClass('fa-check green').addClass('fa-ban red')
                }
                {#$(".broadcast").css("color", broadcast ? "red" : "black");#}

            });

            $(".broadcast").click(function (event) {
                event.preventDefault();
                broadcast = !broadcast;
                $(".broadcast").css("color", broadcast ? "red" : "black");
                var target = $(this).data("target");
                if (broadcast) {
                    $(target).keyup(function () {
                        $("textarea").not(target).val($(target).val());
                    });
                } else {
                    $(target).unbind("keyup");
                }
            });

        })($);

    </script>
{% endblock %}
