{% extends "bitcaster/application_base.html" %}{% load crispy_forms_tags i18n bitcaster %}
{% block pageId %}event{% endblock %}
{% block content %}
    <h2><a href="../..">{{ event }}</a>: Subscriptions</h2>
    <div class="breadcrumbs">
        <a href="{% app-url "app-event-list" %}">events</a> :
        <a href="{% app-url "app-event-update" event.pk %}">{{ event }}</a> :
        <a href="{% app-url "app-event-subscriptions" event.pk %}">subscriptions</a>
    </div>

    <div class="container">
        <div class="row col-12">
            <div class="pull-right col-12 p-4">
                <a class="btn btn-danger btn-small pull-right"
                   href="{% app-url "app-event-subscriptions-subscribe" event.pk %}">{% trans "Subscribe User" %}
                </a>
                <a class="btn btn-danger btn-small pull-right mr-3"
                   href="{% app-url "app-event-subscriptions-invite" event.pk %}">{% trans "Send Invitation" %}
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        {% for s in event.subscriptions.all %}
            <div>{{ s }}</div>
        {% endfor %}
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
{% endblock %}
