{% extends "bitcaster/app.html" %}{% load i18n bitcaster %}
{% block content %}
    <h2>Application Events</h2>
    <div class="container">
        <div class="row col-12">
            <div class="pull-right col-12 p-4">
                <a class="btn btn-danger btn-small pull-right"
                   href="{% app-url "app-event-add" %}">{% trans "Create Event" %}</a>
            </div>
        </div>
    </div>

    <div class="container-fluid channel-list">
        {% for event in object_list %}
            <div class="row col-10 handler-row">
                <div class="col-7 handler-name">
                    <strong>{{ event.name }}</strong>
                    <div class="pt-3">
                        <a href="{{ event.pk }}/edit/">Configure</a>
                        | <a href="{{ event.pk }}/toggle/">
                        {% if event.enabled %}Disable{% else %}<strong>Enable</strong>{% endif %}</a>
                        | <a href="{{ event.pk }}/delete/">Remove</a>
{#                        | <a href="{{ channel.pk }}/deprecate/">#}
{#                        {% if channel.deprecated %}<strong>Show</strong>{% else %}Hide{% endif %}#}
{#                        | <a class="plugin-info-btn" href="{% url "plugin-info" channel.handler.fqn %}">plugin info</a>#}
                    </div>
                </div>
                <div class="col-1 text-center vertical-align-center h4">
                    {% if event.enabled %}
                        <i class="fa fa-check"></i>
                    {% else %}
                        <i class="fa fa-ban"></i>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
