{% extends "bitcaster/application_base.html" %}{% load crispy_forms_tags i18n %}
{% block pageId %}event{% endblock %}
{% block content %}
    <h2>{{ title }}</h2>
    <div class="container-fluid border p-3">
        <div id="empty-form" class="d-none">
            <div class="row">
                <div class="row col-sm">{{ form.arguments.empty_form.name|as_crispy_field }}</div>
                <div class="row col-sm">{{ form.arguments.empty_form.type|as_crispy_field }}</div>
                <div class="row col-sm align-items-center"><a href="#" class="remove_line">
                    <i class="fa fa-remove"></i></a>
                </div>
            </div>
        </div>

        <form method="post" class="d-none" id="form-event">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="container">
                <div class="row col-12">
                    <div class="pull-right col-12 p-4">
                        <a id="add_more" class="btn btn-danger btn-small pull-right"
                           href="#">{% trans "Add Argument" %}</a>
                    </div>
                </div>
            </div>
            {{ form.arguments.management_form }}
            <div class="content arguments p-4">
                {% for argument in form.arguments.forms %}
                    <div class="row">
                        <div class="row col-sm">{{ argument.name|as_crispy_field }}</div>
                        <div class="row col-sm">{{ argument.type|as_crispy_field }}</div>
                        <div class="row col-sm align-items-center">
                            <a href="#" class="remove_line">
                                <i class="fa fa-remove"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="pt-5">
                <input id="btn-submit"
                       name="submit"
                       value="{{ save_label }}"
                       type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>

{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        {#$("#id_manager").select2({});#}
        {#$("#id_members").select2({});#}
        $("#form-event").removeClass("d-none").show();
        (function () {
            var formsetName = "form";
            var $TOTAL_FORMS = $("#id_" + formsetName + "-TOTAL_FORMS");
            var selector = "div.arguments";
            var $rows = $("div.arguments>div.row");

            $(".remove_line").click(function () {
                $("#btn-submit").prop("disabled", true);
                var $target = $(this).parent().parent();
                $target.remove();
                setTimeout(function () {
                    reNumber();
                }, 20);
            });
            $("#add_more").click(function () {
                $("#btn-submit").prop("disabled", true);
                cloneMore();
            });
            var reNumber = function () {
                var $rows = $("div.arguments>div.row");
                $rows.each(function (i, e) {
                    $(e).find(":input").each(function () {
                        var name = $(this).attr("name").replace(/\-(\d{1,}|__prefix__)\-/, "-" + i + "-");
                        var id = "id_" + name;
                        $(this).attr({"name": name, "id": id});
                    });
                    $(e).find("label").each(function () {
                        var newFor = $(this).attr("for").replace(/\-(\d{1,}|__prefix__)\-/, "-" + i + "-");
                        $(this).attr("for", newFor);
                    });
                    $(e).find("div.form-group").each(function () {
                        var newId = $(this).attr("id").replace(/\-(\d{1,}|__prefix__)\-/, "-" + i + "-");
                        $(this).attr("id", newId);
                    });
                });
                $TOTAL_FORMS.val($rows.length);
                $("#btn-submit").prop("disabled", parseInt($TOTAL_FORMS.val()) < 1);

            };

            function cloneMore() {
                var $newElement = $("#empty-form>div.row").clone(true);
                $newElement.removeClass("d-none");
                $(selector).append($newElement);
                setTimeout(function () {
                    reNumber();
                }, 20);
            };
        })($);

    </script>
{% endblock %}
