{% extends "bitcaster/base.html" %}
{% block page %}
    <div class="container-fluid">
        <div class="row col-10">
            <div>
                {% if not user.is_authenticated %}
                    Welcome page.....
                    <ul>
                        <li><a href="{% url "user-register" %}">Register here</a></li>
                        <li><a href="{% url "login" %}">Login</a></li>
                    </ul>
                {% else %}
                    {{ user.organizations.all }}
                    <h1>Welcome back.</h1>
                    {% for membership in user.ownerships.all %}
                        <li>
                            <a href="{% url "org-index" membership.organization.slug %}">{{ membership.organization.name }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
