{% extends "bitcaster/base.html" %}
{% load i18n crispy_forms_tags bc_assets %}

{#{% block header %}{% endblock header %}#}
{% block footer %}{% endblock footer %}
{% block sidebar %}{% endblock sidebar %}
{#{% block messages %}{% endblock messages %}#}
{% block page %}
    <div class="container">
        <div class="row col-12 justify-content-center align-items-center">
            <div class="box box-modal login-form col-6 p-3">
{#                <div class="row">#}
{#                    <div class="pull-right">#}
{#                        <a href="{% url "user-register" %}">Register</a>#}
{#                    </div>#}
{#                </div>#}
                <div class="container-fluid p-3">
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="/">
                        {{ form|crispy }}
                        <input type="submit" value="Login"
                               class="btn btn-primary"/>
                    </form>
                </div>
                {% include "bitcaster/includes/_oauth.html" %}
            </div>
        </div>
    </div>
{% endblock %}
