{% extends "bitcaster/app.html" %}{% load bitcaster i18n %}
{% block content %}
    <style>
        .enabledTrue{
            color: green;
        }
        .enabledFalse{
            color: red;
        }
    </style>
    <h2>Application Messages</h2>
    <div class="container">
        <div class="row col-12">
            <div class="pull-right col-12 p-4">
                <a class="btn btn-danger btn-small pull-right"
                   href="{% app-url "app-message-create" %}">{% trans "Create Message" %}</a>
            </div>
        </div>
    </div>

    <div class="container-fluid channel-list">
        {% for message in object_list %}
            <div class="row col-10 handler-row">
                <div class="col-7 handler-name">
                    <strong>{{ message.name }}</strong>
                    <div class="pt-3">
                        <a href="{% app-url "app-message-update" message.pk %}">Edit</a>
{#                        <a href="{{ message.pk }}/edit/">Edit</a>#}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
