{% extends "bitcaster/organization_detail.html" %}{% load crispy_forms_tags i18n bitcaster%}
{% block content %}
    <h2>{{ organization }} Applications</h2>
    <div class="container-fluid">
        <div class="row col-12">
            <div class="pull-right col-12">
                <a class="btn btn-danger btn-small pull-right"
                   href="{% url "application-add" organization.slug %}">{% trans "Create new application" %}</a>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row col-12">
            {% for app in organization.applications.all %}
                <div class="row">
                    <div class="col-sm"><a href="{% org-url "app-index" app.slug %}">{{ app.name }}</a></div>
                    <div class="col-sm">{{ app.timezone }}</div>
                    <div class="col-sm">{{ membership.date_added }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
