{% extends "bitcaster/organization_base.html" %}{% load crispy_forms_tags i18n bitcaster %}
{% block content %}
    <h2>Organization Teams</h2>

    <div class="container">
        <div class="row col-12">
            <div class="pull-right col-12 p-4">
                <a class="btn btn-danger btn-small pull-right"
                   href="{% url "org-team-create" organization.slug %}">{% trans "Create Team" %}</a>
            </div>
        </div>
    </div>
    <div class="container">
    <table class="table">
        <thead>
        <tr class="d-flex">
            <th scope="col" class="col-sm">Team</th>
            <th scope="col" class="col-sm">Manager</th>
            <th scope="col" class="col-sm">Members</th>
            <th scope="col" class="col-sm">Creation Date</th>
        </tr>
        </thead>
        <tbody>
        {% for team in object_list %}
            <tr class="d-flex">
                <td class="col-sm"><a href="{{ team.urls.edit }}">{{ team.name }}</a></td>
                <td class="col-sm">{{ team.manager.email }}</td>
                <td class="col-sm">{{ team.members.count }}</td>
                <td class="col-sm">{{ team.date_added }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
