{% extends "bitcaster/organization_detail.html" %}{% load crispy_forms_tags i18n %}
{% block pageId %}team{% endblock %}
{% block content %}
    <h2>Edit Team</h2>
    <div class="container-fluid border p-3">
        <form method="post" class="d-none" id="form-team">
{#            <div class="row col-12">#}
                {% csrf_token %}
{#                {{ form.name|as_crispy_field }}#}
{#            </div>#}
{#            <div class="row col-12">#}
{#                {{ form.members }}#}
{#            </div>#}
            {{ form|crispy }}
            <div class="pt-5">
                <input id="btn-submit" type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>

{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        $("#id_manager").select2({});
        $("#id_members").select2({
        });
        $("#form-team").removeClass('d-none').show();
    </script>
{% endblock %}
