{% extends "bitcaster/organization/channel/create_wizard_base.html" %}{% load i18n crispy_forms_filters %}

{% block wizard-content %}
    <div class="row">
        {% for entry in registry %}
            <div id="id_{{ entry.handler.fqn|slugify }}" class="col-2 inline text-center align-content-center handler box p-2">
                <a href="#" class="handler-selector" data-value="{{ entry.handler.fqn }}">
                    <div>
                        <img src="{% url "plugin-icon" entry.handler.fqn %}">
                        <div>
                            <label>{{ entry.handler.name }}</label>
                        </div>
{#                        <div class="plugin-info">#}
{#                            <a rel="modal:open" href="{% url "plugin-info" handler.fqn %}">#}
{#                            <i class="fa fa-info "></i></a>#}
{#                        </div>#}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {{ wizard.form.handler }}
{% endblock wizard-content %}

{% block js %}
    {{ block.super }}
    <script>
        $(".handler-selector").on("click", function () {
            $("#id_a-handler").val($(this).data("value"));
            $("#form").submit();
        });
        {% if selection %}
            $('#id_{{ selection|slugify }}').addClass('selected');
        {% endif %}
    </script>
{% endblock %}
