{% extends "bitcaster/organization/base.html" %}
{% load crispy_forms_tags i18n bc_assets bitcaster bc_permissions %}
{% block page %}
    {% check_permissions organization %}
    {% if permissions.create_channel %}
        <div class="container">
            <div class="row col-12">
                <div class="pull-right col-12 p-4">
                    <a class="btn btn-danger btn-small pull-right"
                       href="{{ organization.urls.channel_create }}">{% trans "Create channel" %}</a>
                </div>
            </div>
        </div>
    {% endif %}
    <table class="table table-striped table-hover col-12 channel-list">
        <tbody>
        {% for channel in object_list %}
            {% if not channel.handler %}
                <tr>
                    <td><img width="100" class="{% if channel.enabled and channel.deprecated %}blur{% endif %}"
                             height="100"
                             src="{% url "plugin-icon" "-" %}">
                    </td>
                    <td>{{ channel.name }}: {% trans "Error. Cannot find handler." %}{{ channel.handler_ }}</td>
                    <td>
                        {% button channel.urls.delete permissions.edit_channel "far fa-trash-alt" "delete" %}
                    </td>
                </tr>
            {% elif channel.metadata.enabled or SHOW_DISABLED_DISPATCHERS %}
                <tr>
                    <td>
                        {% if channel.handler %}
                            <img width="100" class="{% if channel.enabled and channel.deprecated %}blur{% endif %}"
                                 height="100"
                                 src="{% url "plugin-icon" channel.handler.fqn %}">
                        {% endif %}
                    </td>
                    <td>
                        {{ channel.name }}
                    </td>
{#                    <td style="width:10%">#}
{#                    </td>#}
                    <td style="width:40%" class="nowrap formset-commands">
                        {% button channel.urls.delete permissions.edit_channel "far fa-trash-alt" "delete" %}
                        {% if channel.metadata.enabled %}
                            {% button channel.urls.edit permissions.edit_channel "fas fa-wrench" "configure" %}
                            {% button channel.urls.toggle permissions.edit_channel "fas fa-toggle-on green:fas fa-toggle-off red" "Disable:Enable" channel.enabled %}
                            {% button channel.urls.deprecate permissions.edit_channel "fas fa-unlink red:fas fa-link green" "Activate:Deprecate" channel.deprecated %}
                            {% button channel.urls.test permissions.edit_channel "fas fa-broadcast-tower" "Test" %}

                            {#<a data-toggle="modal" href="{{ channel.urls.usage }}" data-target="#exampleModalCenter">Click me !</a>#}

                            {% if channel.handler %}
                                <a class="btn btn-light pointer" rel="modal:open" data-toggle="tooltip" title="Info"
                                   data-remote="{% url 'plugin-info' channel.handler.fqn %}">
                                    <i class="fas fa-info pointer"></i>
                                </a>
                            {% endif %}
                            {#                        {% button channel.urls.usage permissions.edit_channel "fas fa-info" "Info" %}#}
                        {% elif channel.handler %}
                            Channel disabled by System Administrator
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock page %}
