{% extends "bitcaster/organization/base.html" %}{% load crispy_forms_tags i18n %}
{% load crispy_forms_tags i18n bc_assets bitcaster bc_permissions %}
{% block page %}
    {% check_permissions organization %}
    {% if permissions.add_channel %}
        <div class="container">
            <div class="row col-12">
                <div class="pull-right col-12 p-4">
                    <a class="btn btn-danger btn-small pull-right"
                       href="{{ organization.urls.channel_create }}">{% trans "Create channel" %}</a>
                </div>
            </div>
        </div>
    {% endif %}
    <table class="table table-striped table-hover col-12 channel-list">
        <tbody>
        {% for channel in object_list %}
            <tr>
                <td>
                    {% if channel.handler %}
                        <img width="100" class="{% if channel.enabled and channel.deprecated %}blur{% endif %}"
                             height="100"
                             src="{% url "plugin-icon" channel.handler.fqn %}">
                    {% endif %}
                </td>
                <td>
                    {{ channel.name }}
                </td>
                <td style="width:10%">
                </td>
                <td style="width:30%" class="nowrap formset-commands">
                    <a class="btn btn-light"
                       data-toggle="tooltip" title="configure"
                       href="{{ channel.urls.edit }}">
                        <i class="fas fa-wrench pointer"></i>
                    </a>
                    <a class="btn btn-light"
                       data-toggle="tooltip" title="delete"
                       href="{{ channel.urls.delete }}">
                        <i class="far fa-trash-alt pointer"></i>
                    </a>
                    {% if channel.handler %}
                        <a class="btn btn-light"
                           data-toggle="tooltip" title="{% if channel.enabled %}Disable{% else %}Enable{% endif %}"
                           href="{{ channel.urls.toggle }}">
                            <i class="fas {% if channel.enabled %}fa-toggle-on green{% else %}fa-toggle-off red{% endif %}"></i>
                        </a>
                        <a class="btn btn-light"
                           data-toggle="tooltip"
                           title="{% if channel.deprecated %}Activate{% else %}Deprecate{% endif %}"
                           href="{{ channel.urls.deprecate }}">
                            <i class="fas {% if channel.deprecated %}fa-unlink red{% else %}fa-link green{% endif %}"></i>
                        </a>

                        <a class="btn btn-light"
                           data-toggle="tooltip" title="test channel"
                           href="{{ channel.urls.test }}">
                            <i class="fas fa-broadcast-tower"></i>
                        </a>
                        <a
                            rel="modal:open"
                            class="btn btn-light"
                            title="info"
                            data-remote="{% url "plugin-info" channel.handler.fqn %}"
                            href=".">
                            <i class="fa fa-info"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock page %}
