{% extends "bitcaster/base.html" %}{% load crispy_forms_tags %}
{% block bodyclass %}settings{% endblock %}
{% block pageId %}settings{% endblock %}
{% block header_class %}settings{% endblock %}
{% block nav-menu %}<span class="top-menu">System Configuration</span>{% endblock nav-menu %}
{#{% block user-menu %}#}
{#    <span class="pull-right user-menu ">#}
{#        <a class="pull-right" href="{% url "admin:index" %}">admin</a>#}
{#    </span>#}
{#{% endblock user-menu %}#}
{% block page %}
    <div class="container-fluid">
        <div class=" main-content">
            {% block sidebar %}
                <div class="row d-flex d-md-block flex-nowrap wrapper">
                    <div class="float-left pl-0 collapse width show settings-sidebar" id="sidebar">
                        <div class="list-group">
                            <div class="col-md-2 org-sidebar">
                                <div>
                                    <ul class="nav nav-stacked">
                                        <li>
                                            <a href="{% url 'settings' %}">General</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'settings-email' %}">Email</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'settings-oauth' %}">OAuth</a>
                                        </li>
                                        {% if not ON_PREMISE %}
                                            <li>
                                                <a href="{% url 'settings-channels' %}">Channels</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'settings-org-list' %}">Organizations</a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <a href="{% url 'settings-sysinfo' %}">Environment</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock sidebar %}
            <div class="page-content">
                {% block content %}
                    <h2>{{ title }}</h2>
                    {% crispy form %}
{#                    {{ form|crispy }}#}
                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock page %}
