{% extends "bitcaster/application_base.html" %}{% load crispy_forms_tags %}
{% block bodyclass %}settings{% endblock %}
{% block pageId %}settings{% endblock %}

{% block page %}
    <div class="container-fluid">
        <div class=" main-content">
            {% block sidebar %}
                <div class="row d-flex d-md-block flex-nowrap wrapper">
                    <div class="float-left pl-0 collapse width show settings-sidebar" id="sidebar">
                        <div class="list-group">
                            <div class="col-md-2 org-sidebar">
                                <div>
                                    <ul class="nav nav-stacked">
                                        <li>
                                            <a href="{% url 'settings' %}">General</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'settings-email' %}">Email</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'settings-oauth' %}">OAuth</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'settings-channels' %}">Channels</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock sidebar %}
            <div class="page-content">
                {% block content %}
                    <h2>{{ title }}</h2>
                    <div>
                        <form method="POST" action=".">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" class="btn btn-primary" value="Save">
                        </form>
                    </div>

                {% endblock content %}            </div>
        </div>
    </div>
{% endblock page %}

