{% extends "bitcaster/settings/base.html" %}{% load crispy_forms_tags i18n %}
{% block bodyclass %}settings{% endblock %}
{% block pageId %}settings{% endblock %}
{% block header_class %}settings{% endblock %}
{% block nav-menu %}<span class="top-menu">System Configuration</span>{% endblock nav-menu %}
{% block page %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {% block buttons %}
            <input type="submit" name="save" class="btn btn-primary" value="Save">
        {% endblock buttons %}
    </form>
{% endblock page %}
