{% extends "admin/change_form.html" %}
{% load static %}
{% block content %}
    {{ form_help }}
    <form method="post" id="config_form">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div d="submit-row" class="">
            <button type="submit" class="primary">
                Save
            </button>
            <button type="submit" name="check" class="secondary">
                Check + Save
            </button>
        </div>
    </form>
{% endblock content %}
{% block submit_buttons_bottom %}
{% endblock submit_buttons_bottom %}
