{% extends "bitcaster/application/events/base_detail.html" %}{% load crispy_forms_tags i18n bitcaster %}
{% block pageId %}event{% endblock %}
{% block detail %}
    <div class="container">
        <div class="row col-12">
            <div class="pull-right col-12 p-4">
                <a class="btn btn-danger btn-small pull-right"
                   href="{{ event.urls.subscriptions_subscribe }}">{% trans "Subscribe User" %}
                </a>
{#                <a class="btn btn-danger btn-small pull-right mr-3"#}
{#                   href="{{ event.urls.subscriptions_invite }}">{% trans "Send Invitation" %}#}
{#                </a>#}
            </div>
        </div>
    </div>


        <table class="table table-striped table-hover col-12">
        <thead>
        <tr>
            <th>User</th>
            <th>Channel</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for subscription in event.subscriptions.all %}
            <tr>
                <td style="width:5%">{{ subscription.subscriber.email }}</td>
                <td style="width:5%">
                    {{ subscription.channel }}
                </td>
                <td style="width:10%">
                    {{ subscription.get_status_display }}
                </td>
                <td style="width:10%" class="nowrap">
                    <a class="btn btn-outline-light"
                       data-toggle="tooltip"
                       title="edit"
                       href="{% app-url 'app-event-subscription-edit' subscription.event.id subscription.id %}?from=event">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-light"
                       data-toggle="tooltip" title="{% if subscription.enabled %}Disable{% else %}Enable{% endif %}"
                       href="{{ subscription.pk }}/toggle/">
                        <i class="fas {% if subscription.enabled %}fa-toggle-off green{% else %}fa-toggle-on red{% endif %}"></i>
                    </a>
                    <a class="btn btn-light"
                       data-toggle="tooltip" title="delete"
                       href="{{ subscription.pk }}/delete/">
                        <i class="far fa-trash-alt pointer"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    {% if pending %}
    <h2>Pending Subscriptions</h2>
    <table class="table table-striped table-hover col-12">
        <thead>
        <tr>
            <th scope="col">Event</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        {% for membership in pending %}
            <tr>
                <td>
                    {{ membership.event }}
                </td>
                <td>
                    {{ membership.email }}
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
{% block js %}
    {{ block.super }}
{% endblock %}
