{% extends "bitcaster/application/base.html" %}{% load crispy_forms_tags i18n bitcaster %}
{% block pageId %}event{% endblock %}
{% block page %}
    <div>
        <a href="{{ application.urls.events }}">events</a> :
        <a href="{{ event.urls.edit }}">{{ event }}</a> :
        <a href="{{ event.urls.subscriptions }}">subscriptions</a> :
        <a href="{{ event.urls.subscriptions_subscribe }}">subscribe users</a>
    </div>

    <div class="container">
        <div class="row col-12">
            <div class="pull-right col-12 p-4">
                <a id="add_more" class="btn btn-danger btn-small pull-right"
                   href="#">{% trans "Add Subscription" %}
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" id="btn-submit"
                   value="{% trans "Save" %}"
                   class="btn btn-primary btn-small pull-right">
        </form>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        $('select[name=members]').select2({
            placeholder: 'Select users',
            closeOnSelect: true,
            ajax: {
                url: '{{ members_autocomplete_url }}',
                dataType: 'json'
            }
        });

    </script>
{% endblock %}
