{% extends "admin/base_site.html" %}{% load i18n static %}

{% block nav-breadcrumbs %}
    <nav aria-label="{% translate 'Breadcrumbs' %}">
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
            &rsaquo;
            <a href="{% url "locking" %}">{% translate 'Locking' %}</a>
        </div>
    </nav>
{% endblock nav-breadcrumbs %}

{% block content %}
    <h1>{{ step_header }}</h1>

    {% block instructions %}

    {% endblock instructions %}
    <br>
    <form action="" method="post" id="locking">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% block form_content %}
            <table>
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}
                        {{ form.as_table }}
                    {% endfor %}
                {% else %}
                    {{ wizard.form.as_table }}
                {% endif %}
            </table>
        {% endblock form_content %}
        {% block buttons %}
            {# {% if wizard.steps.prev %} #}
            {# <input type="submit" #}
            {# name="wizard_goto_step" class="button" #}
            {# value="{{ wizard.steps.first }}"> #}
            {# <input type="submit" #}
            {# name="wizard_goto_step" class="button" #}
            {# value="{{ wizard.steps.prev }}"> #}

            {# <button name="wizard_goto_step" type="submit" #}
            {# value="{{ wizard.steps.first }}">{% translate "first step" %}</button> #}
            {# <button name="wizard_goto_step" type="submit" #}
            {# value="{{ wizard.steps.prev }}">{% translate "prev step" %}</button> #}
            {# {% endif %} #}

            <input type="submit" value="Submit">
        {% endblock buttons %}
    </form>
{% endblock content %}
