{% extends "bitcaster/application/base.html" %}{% load bc_permissions i18n %}
{% block bodyclass %}organization{% endblock %}
{% block sidebar %}
    <div class="row d-flex d-md-block flex-nowrap wrapper">
        <div class="float-left pl-0 collapse width show organization-sidebar" id="sidebar">
            {% check_permissions organization as "permissions" %}
            {% if permissions.configure %}
                <div class="org-logo">
                    {% if organization.avatar %}
                        <img src="{{ organization.avatar.url }}"/>
                    {% endif %}
                </div>
                <div class="list-group">
                    <div class="col-md-2 org-sidebar">
                        <div>
                            <ul class="nav nav-stacked">
                                <li>
                                    <a href="{% url "org-dashboard" organization.slug %}">{% trans "Dashboard" %}</a>
                                </li>
                                <li>
                                    <a href="{% url "org-config" organization.slug %}">{% trans "Configuration" %}</a>
                                </li>
                                <li>
                                    <a href="{% url "org-channel-list" organization.slug %}">{% trans "Channels" %}</a>
                                </li>
                                <li>
                                    <a href="{% url "org-member-list" organization.slug %}">{% trans "Members" %}</a>
                                </li>
                                <li>
                                    <a href="{% url "org-team-list" organization.slug %}">{% trans "Teams" %}</a>
                                </li>
                                <li>
                                    <a href="{% url "org-applications" organization.slug %}">{% trans "Applications" %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block content %}

{% endblock content %}
