{% extends "bitcaster/organization/base.html" %}{% load crispy_forms_tags i18n bitcaster %}
{% block content %}
    <h2>Organization Applications</h2>

    <div class="container">
        <div class="row col-12">
            <div class="pull-right col-12 p-4">
                <a class="btn btn-danger btn-small pull-right"
                   href="{% url "application-create" organization.slug %}">{% trans "Create new application" %}</a>
            </div>
        </div>
    </div>

    <div class="container">
        <table class="table">
            <thead>
            <tr class="d-flex">
                <th scope="col" class="col-sm">Name</th>
                <th scope="col" class="col-sm">Timezone</th>
                <th scope="col" class="col-sm">Enabled</th>
            </tr>
            </thead>
            <tbody>
            {% for app in organization.applications.all %}
                <tr class="row">
                    <td class="col-sm"><a href="{% org-url "app-dashboard" app.slug %}">{{ app.name }}</a></td>
                    <td class="col-sm">{{ app.timezone }}</td>
                <td class="col-sm">
                {% if app.enabled %}
                    <i class="fa fa-check"></i>
                {% else %}
                    <i class="fa fa-ban"></i>
                {% endif %}
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
