{% extends "bitcaster/organization/base.html" %}{% load crispy_forms_tags i18n bitcaster %}
{% block content %}
    <h2>Organization Applications</h2>

    <div class="container">
        <div class="row col-12">
            <div class="pull-right col-12 p-4">
                <a class="btn btn-danger btn-small pull-right"
                   href="{% url "application-create" organization.slug %}">{% trans "Create new application" %}</a>
            </div>
        </div>
    </div>

    <div class="container">
        <table class="table">
            <thead>
            <tr scope="row">
                <th scope="col" lass="col-sm">Name</th>
                <th scope="col" lass="col-sm">Timezone</th>
                <th scope="col" lass="col-sm"></th>
            </tr>
            </thead>
            <tbody>
            {% for app in organization.applications.all %}
                <tr scope="row">
                    <td lass="col-sm"><a href="{{ app.get_absolute_url }}">{{ app.name }}</a></td>
                    <td lass="col-sm">{{ app.timezone }}</td>
                    <td lass="col-sm">
                        <a class="btn btn-light"
                           data-toggle="tooltip" title="dashboard "
                           href="{% org-url 'app-dashboard' app.slug %}">
                            <i class="fas fa-tachometer-alt"></i>
                        </a>
                        <a class="btn btn-light"
                           data-toggle="tooltip" title="edit"
                           href="{{ app.get_absolute_url }}">
                            <i class="far fa-edit"></i>
                        </a>
                        <a class="btn btn-light"
                           data-toggle="tooltip" title="remove"
                           href="{% org-url "app-delete" app.slug %}">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
