{% extends "bitcaster/organization_base.html" %}{% load bc_permissions bc_dashboard i18n %}

{% block content %}
    <h2>{{ organization }}</h2>
    <div class="row col-12 p-3 m-1">
        {% if organization.issues %}
            <ul class="col-10 issuelist">{% for issue in organization.issues.all %}
                <li class="issue {% if issue.tags %} issue-{{ issue.tags }}{% endif %}">{{ issue.message|safe }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <div class="col-2">
            <a class="btn btn-dark btn-small pull-right"
               href="{% url "org-check" organization.slug %}">{% trans "Validate Configuration" %}</a>
        </div>
    </div>
    <div class="row col-12 p-3 m-1">
        <div class="card mr-3" style="width:30%">
            <div class="card-header bg-{{ data.box_members }}">Members
                <a href="{% url "org-member-list" organization.slug %}" class="pull-right"><i class="fa fa-wrench"></i></a>
            </div>
            <div class="card-body ">
                {% metric "Active Users" data.active_users %}
                {% metric "Pending Invitations" data.pending_users %}
            </div>
        </div>
        <div class="card mr-3" style="width:30%">
            <div class="card-header bg-{{ data.box_channels }}">Channels
                <a href="{% url "org-channel-list" organization.slug %}" class="pull-right"><i class="fa fa-wrench"></i></a>
            </div>
            <div class="card-body ">
                {% metric "Enabled Channels" data.enabled_channels %}
                {% metric "Disabled Channels" data.disabled_channels %}
                {% metric "Deprecated Channels" data.deprecated_channels %}
            </div>
        </div>
        <div class="card mr-3" style="width:30%">
            <div class="card-header bg-{{ data.box_apps }}">Applications
                <a href="{% url "org-applications" organization.slug %}" class="pull-right"><i class="fa fa-wrench"></i></a>
            </div>
            <div class="card-body">
                {% metric "Total" data.applications %}
            </div>
        </div>
    </div>
{% endblock content %}
