{% extends "bitcaster/admin/action_form.html" %}
{% load i18n static usage %}
{% block content %}
    <div class="grid grid-cols-2 gap-4 p-2 mb-4">
        <div>
            Message
        </div>
        <div>
            {{ original }}
        </div>
        <div>
            Channel
        </div>
        <div>
            {{ original.channel }}
        </div>
        <div>
            Dispatcher
        </div>
        <div>
            {{ original.channel.dispatcher }}
        </div>
        <div>
            Protocol
        </div>
        <div>
            {{ original.channel.protocol }}
        </div>
        <div>
            Capabilities
        </div>
        <div>
            {% for s in original.channel.dispatcher.capabilities %}
                {{ s }}
                {% if not forloop.last %}
                    ;
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="module">
        <div class="grid grid-cols-3 gap-4 p-2 mb-4">
            <div>
                Used By
            </div>
            <div>
                Type
            </div>
            <div>
                Id
            </div>
            {% for utilizer in usage %}
                {% usage utilizer as info %}
                <div>
                    <a class="link" href="{{ info.url }}">{{ utilizer }}</a>
                </div>
                <div>
                    {{ info.type }}
                </div>
                <div>
                    {{ utilizer.pk }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
