{% extends "bitcaster/application/base.html" %}{% load i18n bitcaster %}
{% block content %}
    <h2>Application Events</h2>
    <div class="container">
        <div class="row col-12">
            <div class="pull-right col-12 p-4">
                <a class="btn btn-danger btn-small pull-right"
                   href="{% app-url "app-event-create" %}">{% trans "Add Event" %}</a>
            </div>
        </div>
    </div>

    <div class="container-fluid channel-list">
        {% for event in object_list %}
            <div class="row col-10 handler-row">
                <div class="col-10 handler-name">
                    <strong>{{ event.name }}</strong>
                    <div class="pt-4">
                        <a href="{{ event.pk }}/edit/">Configure
                        {% if not event.enabled_channels.exists %}*{% endif %}
                        </a>
                        | <a href="{{ event.pk }}/messages/">Messages
                    {% if not event.valid_channels.exists %}*{% endif %}
                    </a>
                        | <a href="{{ event.pk }}/toggle/">
                        {% if event.enabled %}Disable{% else %}<strong>Enable</strong>{% endif %}</a>
                        | <a href="{{ event.pk }}/delete/">Remove</a>
                        | <a href="{{ event.pk }}/test/">Test</a>
                        | <a href="{{ event.pk }}/subscriptions/">Subscribers</a>
                        | <a href="{{ event.pk }}/keys/">Keys</a>
{#                        | <a href="{{ event.pk }}/test/">Monitor</a>#}
                    </div>
                </div>
                <div class="col-1 text-center vertical-align-center h4">
                    {% if event.enabled %}
                        <i class="fa fa-check"></i>
                    {% else %}
                        <i class="fa fa-ban"></i>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
