{% extends "bitcaster/organization_base.html" %}{% load i18n crispy_forms_tags bc_wizard %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
    <h2>Create application event</h2>
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <h2>{{title}}</h2>
    <h5>{% block subtitle %}{% endblock %}</h5>
    <div class="card p-3">{% block istructions %}{% endblock %}</div>
    {% block top %}
    {% endblock %}
    <form action="" method="post" id="form">{% csrf_token %}
        {{ wizard.management_form }}
        <div class="container-fluid" id="handler-list">
        {% block wizard-content %}
        {% endblock wizard-content %}
        </div>
        {% block wizard-buttons %}
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit"
                        class="btn btn-secondary"
                        value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
            {% endif %}
            {% if wizard.steps.next %}
                <input type="submit" class="btn btn-primary" value="{% trans "next step" %}"/>
            {% else %}
                <input type="submit" class="btn btn-primary" value="{% trans "Save" %}"/>
            {% endif %}
        {% endblock %}
    </form>
{% endblock %}
