{% extends "bitcaster/application/base.html" %}{% load bc_permissions bc_dashboard bitcaster i18n %}

{% block content %}
    <h2>{{ application }}</h2>
    <div class="row col-12 p-3 m-1">
        {% if application.issues %}
            <ul class="col-10 issuelist">{% for issue in application.issues.all %}
                <li class="issue {% if issue.tags %} issue-{{ issue.tags }}{% endif %}">
                <b>{{ issue.section }}</b>: {{ issue.message|safe }}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        <div class="col-2">
            <a class="btn btn-dark btn-small pull-right"
               href="{% app-url "app-check" %}">{% trans "Validate Configuration" %}</a>
        </div>
    </div>

    <div class="row col-12 p-3 m-1">
        <div class="card mr-3" style="width:30%">
            <div class="card-header bg-{{ data.box_events }}">Events
                <a href="{% app-url "app-events" %}" class="pull-right"><i class="fa fa-wrench"></i></a>
            </div>
            <div class="card-body ">
                {% metric "Enabled" data.enabled_events %}
                {% metric "Disabled" data.disabled_events %}
            </div>
        </div>
        <div class="card mr-3" style="width:30%">
            <div class="card-header bg-{{ data.box_channels }}">Channels
{#                <a href="{% app-url "app-channel-list" %}" class="pull-right"><i class="fa fa-wrench"></i></a>#}
            </div>
            <div class="card-body ">
                {% metric "Enabled" data.enabled_channels %}
                {% metric "Disabled" data.disabled_channels %}
            </div>
        </div>
        <div class="card mr-3" style="width:30%">
            <div class="card-header bg-{{ data.box_keys }}">Keys
                <a href="{% app-url "app-keys" %}" class="pull-right"><i class="fa fa-wrench"></i></a>
            </div>
            <div class="card-body ">
                {% metric "Enabled" data.enabled_keys %}
                {% metric "Disabled" data.disabled_keys %}
                {% metric "All Events" data.access_all_events_keys %}
            </div>
        </div>
    </div>
{% endblock content %}
