{% extends "bitcaster/application/base.html" %}{% load crispy_forms_tags i18n bitcaster %}
{% block page %}
    <div class="container">
        <div class="row col-12">
            <div class="pull-right col-12 p-4">
                <a class="btn btn-danger btn-small pull-right"
                   href="{{ application.urls.team_create }}">{% trans "Create Team" %}</a>
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table">
            <thead>
            <tr class="d-flex">
                <th scope="col" class="col-9">Name</th>
                <th scope="col" class="col-3">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for team in object_list %}
                <tr class="d-flex">
                    <td class="col-9">
                        {{ team.name }}
                    </td>
                    <td class="col-3 formset-commands">
                        <a class="btn btn-outline-light"
                           data-toggle="tooltip" title="edit"
                           href="{{ team.urls.edit }}">
                            <i class="far fa-edit"></i>
                        </a>
                        <a class="btn btn-outline-light"
                           data-toggle="tooltip" title="remove"
                           href="{{ team.urls.delete }}">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
