{% extends "bitcaster/application/base.html" %}{% load crispy_forms_tags i18n bitcaster %}
{% block page %}
    <div>
    {% blocktrans %}
        A Team is simply a list of Organization users that can interact with selected application.
    {% endblocktrans %}
    </div>
    <div class="container">
        <div class="row col-12">
            <div class="pull-right col-12 p-4">
                <a class="btn btn-danger btn-small pull-right"
                   href="{% app-url "app-team-create"  %}">{% trans "Create new team" %}</a>
            </div>
        </div>
    </div>
    <div class="container">
    <table class="table table-striped table-hover col-12">
            <thead>
            <tr scope="row" class="row inline-flex">
                <th scope="col" class="col-4">{% trans "Name" %}</th>
                <th scope="col" class="col-6">{% trans "Description" %}</th>
                <th scope="col" class="col-2"></th>
            </tr>
            </thead>
            <tbody>
            {% for team in application.teams.all %}
                <tr scope="row" class="row inline-flex">
                    <td class="col-4">{{ team.name }}</td>
                    <td class="col-6">{{ team.description }}</td>
                    <td class="col-2 formset-commands">
                        <a class="btn btn-light"
                           data-toggle="tooltip" title="edit"
                           href="{% app-url "app-team-edit" team.slug %}">
                            <i class="far fa-edit"></i>
                        </a>
                        <a class="btn btn-light"
                           data-toggle="tooltip" title="remove"
                           href="{% app-url "app-team-delete" team.slug %}">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        {% if invitations %}
            <h4>Pending invitations</h4>
            <table class="table">
                <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-4">User</th>
                    <th scope="col" class="col-3">Role</th>
                    <th scope="col" class="col-3">Date</th>
                    <th scope="col" class="col-1"></th>
                </tr>
                </thead>
                <tbody>
                {% for membership in invitations.all %}
                    <tr class="d-flex">
                        <td class="col-4">
                            {{ membership.email }}
                        </td>
                        <td class="col-3">{{ membership.get_role_display }}</td>
                        <td class="col-3">{{ membership.date_added }}</td>
                        <td class="text-nowrap col-1 formset-commands">

                            <button onclick="window.location.href = '{% org-url "org-invite-delete" membership.pk %}';">
                                <i class="far fa-trash-alt pointer"></i>
                            </button>
                            |
                            <form method="post" class="d-inline"
                                  action="{% url "org-member-send" organization.slug membership.pk %}">
                                {% csrf_token %}
                                <button type="submit" title="resend email" class="pointer">
                                    <i class="fa fa-envelope"></i>
                                </button>
                            </form>


                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock %}
