<li class="max-md:first:rounded-t-default border border-base-200 max-md:-mt-px md:first:rounded-l-default hover:text-primary-600 dark:hover:text-primary-500 max-md:last:rounded-b-default dark:border-base-700 md:-ml-px md:last:rounded-r-default">
    {% if button.enabled %}
        <a href="{{ button.url }}"
           id="{{ button.html_attrs.id }}"
           class="extra-button cursor-pointer flex grow items-center gap-2 px-3 py-2 text-left whitespace-nowrap">
            {% if button.icon %}
                <i class="{{ button.icon }}"></i>&nbsp;
            {% endif %}
            {{ button.label|title }}
        </a>
    {% else %}
        <a href="#"
           id="{{ button.html_attrs.id }}"
           class="cursor-not-allowed flex grow bg-gray-600 hover:text-gray-300 items-center gap-2 px-3 py-2 text-left whitespace-nowrap">
            {% if button.icon %}
                <i class="{{ button.icon }}"></i>&nbsp;
            {% endif %}
            {{ button.label|title }}
        </a>
    {% endif %}
</li>
