/*
  header.scss
 */

header {
  height: 40px;
  //border-bottom: 1px solid #c4c4c4;
  //padding-bottom: 10px;
  //margin-bottom: 10px;
  //background: #0072e2; /* For browsers that do not support gradients */
  //background: linear-gradient(to right, #5b9fe2, #4494e2); /* Standard syntax (must be last) */
  a{
    color: white;
  }
  //a.dropdown-toggle2 {
  //  text-decoration: none !important;
  //  &:hover {
  //    text-transform: none !important;
  //    text-decoration: none !important;
  //  }
  //  i {
  //    box-shadow: 0 1px 1px rgba(0, 0, 0, .08);
  //    line-height: 23px;
  //    position: relative;
  //    top: -1px;
  //    margin-left: 10px;
  //    display: inline-flex;
  //    vertical-align: middle;
  //    padding-left: 4px;
  //    padding-top: 0px;
  //    //display: inline-flex;
  //    border: 1px solid #afa3bb;
  //    border-radius: 50%;
  //    height: 23px;
  //    width: 23px;
  //  }
  //}
  .logo {
    padding: 2px;
    padding-top: 6px;
    color: white;
    //border-right: 1px solid #c4c4c4;
    //background: #0072e2;
    //background: linear-gradient(to bottom right, #6aa7e2, #519ae2); /* Standard syntax (must be last) */
    float: left;
    min-width: 200px;
    height: 100%;
    img{
      height: 100%;
    }
  }
  .top-menu {
    display: inline-block;
    padding-left: 20px;
    line-height: 35px;
    vertical-align: middle;
    font-size: 18px;
  }
  .user-menu {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    line-height: 35px;
    padding-right: 90px;
    a.dropdown-toggle {
      line-height: 40px;
      height: 40px;
      display: block;
      //border: 1px solid red;
      &:hover {
        text-decoration: none;

      }
    }
  }
  .dropdown-menu {
    top: 8px !important;
    left: 1px !important;
    min-width: 10px;
    z-index: 10;
  }
}
