ul.issuelist {
    margin-bottom: 0;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    li.issue {
        list-style-type: none;
        padding: 5px;
        margin: 2px;
        display: block;
        border: 1px solid #dc3545;
        border-radius: 2px;

        &.issue-warning {
            color: black;
            background-color: rgba(255, 154, 34, 0.57) !important;

        }

        &.issue-error {
            color: black;
            background-color: rgba(255, 58, 61, 0.54) !important;
        }
    }
}
