// override bootstrap4 colors/values
.formset-commands {
    a.btn, button {
        min-width: 40px;
        border: 1px solid rgb(206, 212, 218);
        vertical-align: top !important;

        &:hover {
            background-color: darkgrey;
            border: 1px solid #949494;
        }
    }
}


.bg-success {
    background-color: $success-color;
}

.bg-info {
    background-color: #17a2b8 !important;
}

.bg-warning {
    background-color: $warning-color;
}

.bg-danger, .bg-error {
    background-color: $error-color;
}

.bg-primary {
    background-color: #007bff !important;
}

.bg-secondary {
    background-color: #6c757d !important;
}

.bg-dark {
    background-color: #343a40 !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

// select2
.select2 {
    .selection {
        width: 100%;
        height: 50px;

        .select2-selection {
            height: 40px;
        }

        li.select2-selection__choice {
            margin: 0;
            margin-right: 5px;
        }
    }
}
