// override bootstrap4 colors/values
.formset-commands {
    a.btn, button {
        min-width: 40px;
        border: 1px solid rgb(206, 212, 218);
        //vertical-align: top !important;

        &:hover {
            background-color: darkgrey;
            border: 1px solid #949494;
        }
    }
}

.dropdown-item{
    padding: 0.3rem 0.8rem
}

.bg-success {
    background-color: $success-color;
}

.bg-info {
    background-color: #17a2b8 !important;
}

.bg-warning {
    background-color: $warning-color;
}

.bg-danger, .bg-error {
    background-color: $error-color;
}

.bg-primary {
    background-color: #007bff !important;
}

.bg-secondary {
    background-color: #6c757d !important;
}

.bg-dark {
    background-color: #343a40 !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

// select2


//.select2-search--dropdown {
//    padding: 0;
//}
#noty_layout__topRight {
  width: 500px;
}


.select2-container {
    span {
        display: inline;
    }
    span.select2-search--dropdown{
        display: block;
    }

    .selection {
        width: 100%;
    }
    .select2-selection--single{
        min-height: 36px;
        .select2-selection__arrow{
            top:5px
        }
    }
    .select2-selection--multiple{
        min-height: 36px;
        .select2-selection__choice{
            min-height: 30px;
            height: auto;
            line-height: 30px;
        }
        .select2-search--inline{
            line-height: 30px;
        }
    }
}
