// override bootstrap4 colors/values
.formset-commands {
    a.btn, button {
        min-width: 40px;
        border: 1px solid rgb(206, 212, 218);
        //vertical-align: top !important;

        &:hover {
            background-color: darkgrey;
            border: 1px solid #949494;
        }
    }
}


.bg-success {
    background-color: $success-color;
}

.bg-info {
    background-color: #17a2b8 !important;
}

.bg-warning {
    background-color: $warning-color;
}

.bg-danger, .bg-error {
    background-color: $error-color;
}

.bg-primary {
    background-color: #007bff !important;
}

.bg-secondary {
    background-color: #6c757d !important;
}

.bg-dark {
    background-color: #343a40 !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

// select2


//.select2-search--dropdown {
//    padding: 0;
//}
#noty_layout__topRight {
  width: 500px;
}


.select2-container {
    .selection {
        width: 100%;
    }
    .select2-selection--single{
        min-height: 36px;

    }
    .select2-selection--multiple{
        min-height: 36px;
        .select2-selection__choice{
            min-height: 30px;
            height: auto;
            line-height: 30px;
        }
        .select2-search--inline{
            line-height: 30px;
        }
    }
    //height: 36px !important;
    //
    //span.select2-results {
    //    display: block;
    //    margin-top: 2px;
    //}
    //span {
    //    display: inline;
    //}
    //
    //.select2-selection--multiple{
    //    .select2-selection__choice{
    //        min-height: 36px;
    //        height: auto;
    //        line-height: 30px;
    //    }
    //}
    //.select2-selection, .select2-selection--single {
    //    height: 36px !important;
    //    .select2-selection__rendered {
    //        height: 36px;
    //        line-height: 33px;
    //    }
    //}
    //
    //.select2-selection--single {
    //    height: 36px;
    //
    //    .select2-selection__arrow {
    //        height: 36px;
    //        top: 0;
    //
    //    }
    //}
    //
    //.select2-selection--multiple {
    //    min-height: 40px;
    //
    //}

}

//
//        //height: $select2_height;
//    }
//}
//.select2 {
//    height: $select2_height;
//    //&.select2-container--default {
//    //    .select2-selection--single {
//    //        .select2-selection__arrow {
//    //            top: 7px;
//    //        }
//    //    }
//    //}
//
//    //.select2-selection, .select2-selection--multiple {
//    //    height: 40px;
//    //}
//
//    .select2-selection__rendered {
//        line-height: $select2_line-height;
//        //height: 35px !important;
//    }
//
//    .selection {
//        width: 100%;
//        height: $select2_height;
//
//        //.select2-selection {
//        //    height: 36px;
//        //}
//        //
//        //
//        //    li.select2-selection__choice {
//        //        margin: 0;
//        //        padding: 1px;
//        //        //margin-top: 5px;
//        //        margin-right: 5px;
//        //    }
//    }
//}
