//#settings {
//    #sidebar {
//        ul {
//            li {
//                white-space: nowrap;
//                padding: 5px;
//            }
//        }
//    }
//}
body.settings {

    #sidebar {
        h3, i {
            color: black !important;
        }

        ul {
            li {
                a {
                    &.active {
                        background-color: #BBD6FF;
                        color: black;
                    }

                    &:hover {
                        background-color: white;
                    }
                }
            }
        }
    }
}

.oauth-help {
    font-size: 9pt;

    div {
        display: inline;
    }

    .line1 {

    }

    .line2 {

    }

    a {
        color: $blue;

        :hover {
            color: $blue;
        }
    }

    .cb {
        color: black;
        font-weight: bold;
        font-family: monospace;
    }
}
