<div class="flex flex-col h-screen justify-between w-full absolute text-xs"
     style="height: 0;
            position: absolute;
            top:100px;
            width: 100%;
            z-index: 1001">
    <a class="bg-transparent hover:bg-transparent border-none absolute top-0 right-0 float-right w-10 h-10"
       data-bind="click:clickDebug;">&nbsp;
    </a>
    <div id="logArea" style="display:none;" data-bind="visible:debug">
        <div class="bg-gray-200 text-black text-sm p-1 text-xs"
             style="overflow-y:scroll;
                    height: 200px"
             data-bind="foreach: logger().slice(0).reverse()">
            <div class="text-xs" data-bind="text:$data">
            </div>
        </div>
        <button class="bg-red-400 block w-full text-xs p-1 leading-3 m-0" data-bind="click:function(){this.logger([])};">
            Clear
        </button>
    </div>
</div>
