{% extends "bitcaster/user/base.html" %}{% load cache bitcaster i18n %}
{% block page %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-capitalize "
               href="{% url "user-address" organization.slug %}">{% trans "addresses" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-capitalize "
               href="#">{% trans "verify addresses" %}</a>
        </li>
    </ul>
    <div class="tab-content">
        {% cache 500 assignments request.user.pk cache_version %}

        {% if user.assignments.unverified %}
            <div class="container m-3 d-block">
                {% trans "These address/channel pairing need to be validated before they can be used" %}
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans "channel" %}</th>
                    <th>{% trans "address" %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for assignment in user.assignments.unverified %}
                    <tr>
                    <td style="width:5%">{{ assignment.channel }}</td>
                    <td style="width:5%">{{ assignment.address }}</td>
                    <td style="width:5%">
                        {% if not assignment.verified %}
                            <button rel="modal:open"
                                    data-assignment="{{ assignment.id }}"
                                    class="btn btn-outline-danger"
                                    title="verify"
                                    data-owner="btn-verify-{{ assignment.id }}"
                                    data-remote="{% org-url "user-address-verify" assignment.id %}"
                                    href=".">
                                VERIFY
                            </button>
                        {% endif %}
                    </td>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="container p-5 d-block">

                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">{% trans "Well done!" %}</h4>
                    <p>{% trans "all of your addresses are verified!" %}</p>
                    <hr>
                </div>
            </div>
        {% endif %}

        {% endcache %}
    </div>
{% endblock %}
