{% extends "bitcaster/organization/channels/create_wizard_base.html" %}{% load i18n crispy_forms_tags crispy_forms_filters bitcaster %}
{% block wizard-content %}
    <div class="container-fluid">
        <div class="row col-12">
            <div class="col-10">
                <div class="channel-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% render_serializer form.serializer "rest_framework/inline2" %}
                </div>
            </div>
            <div class="col-2 plugin-info">
                <img width="100" height="100" src="{% url "plugin-icon" handler.fqn %}">
                <ul>
                    <li class="name">
                        {{ handler.name }}
                        {% if handler.url %}
                            <a class="url" href="{{ handler.url }}">{{ handler.url }}</a>
                        {% endif %}
                    </li>
                    <li class="author">
                        <div class="label">Author</div>
                        {{ handler.author }}</li>
                    <li class="version">
                        <div class="label">Version</div>
                        {{ handler.version }}</li>

                    <li class="version">
                        <div class="label">License</div>
                        {{ handler.license }}</li>

                    <li class="version">
                        <div class="label">Info</div>
                        {{ handler.help }}</li>

                </ul>
            </div>
        </div>
    </div>
{% endblock wizard-content %}
