{% extends "bitcaster/user/base.html" %}{% load crispy_forms_tags i18n bitcaster %}
{% block pageId %}event{% endblock %}

{% block page %}
    {% if not_usable_channels %}
        <div class="box-container alert-warning border-warning p-2">
            This subscription refers to an event with channels that cannot be used because you don't have any address
            assigned to
            them.
            <div>
                To add missing assignment go to
                <a href="{% url "user-address-assignment" organization.slug %}">Address Assignment page</a>
                and set an appropriate address for the desired channel.
            </div>
            <ul class="pt-3">
                {% for ch in not_usable_channels %}
                    <li>{{ ch }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if form.instance.pk %}
        Change address for channel: <strong>{{ form.instance.channel }}</strong>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary" value="{% trans "Save" %}">
        <input type="button" class="btn btn-secondary"
               onclick="history.back();"
               value="{% trans "Cancel" %}">
    </form>
    {% if subscription %}
        <div class="container p-3 m-3">
        {% for s in subscription.siblings.all %}
            <div>{{ s.address.address }}</div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{% block js %}
    <script>
        $('select').select2();
    </script>
{% endblock %}
