{% extends "bitcaster/application/base.html" %}{% load bitcaster crispy_forms_utils crispy_forms_tags crispy_forms_field crispy_forms_filters i18n %}
{% block page %}
    <div class="tab-content">
        <div class="container pl-0 m-0" style="display: block; min-height: 30px">
            <form method="post" id="Form">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary btn-large" value="{% trans "Save" %}">
            </form>
        </div>
    </div> <!-- tab-content -->
{% endblock %}

{% block js %}
    <script>
        $('select[name=role]').select2();
        $('select[name=members]').select2({
            placeholder: 'Select users',
            closeOnSelect: true,
            ajax: {
                url: '{{ members_autocomplete_url }}',
                dataType: 'json'
            }
        });
    </script>
{% endblock js %}
