<img width="100" height="100" src="{% url "plugin-icon" handler.fqn %}">
<ul>
    <li class="name">
        {{ handler.name }}
        {% if handler.url %}
            <a class="url" href="{{ handler.url }}">{{ handler.url }}</a>
        {% endif %}
    </li>
    <li class="author">
        <div class="label">Author</div>
        {{ handler.author }}</li>
    <li class="version">
        <div class="label">Version</div>
        {{ handler.version }}</li>
    <li class="version">
        <div class="label">License</div>
        {{ handler.license }}</li>
    <a rel="modal:open" href="{% url "plugin-info" handler.fqn %}">
        <i class="fa fa-info">&nbsp;</i> Info </a>

</ul>
