/*
  sidebar.scss
 */
#sidebar {
  background-color: #333;
  z-index: 3;
  width: 200px;
  color: white;
  a{
    color: white !important;
  }
  .list-group {
    padding-top: 20px;
    background-color: #333;
    min-height: 100vh;
    li{
      padding-top: 10px;
    }
  }
}
