{% extends "bitcaster/settings/base.html" %}{% load crispy_forms_tags i18n %}
{% block content %}
    {% include "bitcaster/includes/_channel_list.html" %}
{#    <h2>{{ title }}</h2>#}
{#    <div class="container">#}
{#        <div class="row col-12">#}
{#            <div class="pull-right col-12 p-4">#}
{#                <a class="btn btn-danger btn-small pull-right"#}
{#                   href="{% url "system-channel-create" %}">{% trans "Create channel" %}</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="container-fluid channel-list">#}
{#        {% for channel in channels %}#}
{#            <div class="row col-10 handler-row">#}
{#                <style>#}
{#                    .blur {#}
{#                        filter: blur(5px);#}
{#                    }#}
{#                </style>#}
{#                <div class="col-2 handler-logo">#}
{#                    <img width="100" class="{% if channel.enabled and channel.deprecated %}blur{% endif %}" height="100" src="{% url "plugin-icon" channel.handler.fqn %}">#}
{#                </div>#}
{#                <div class="col-7 handler-name">#}
{#                    <strong>{{ channel.name }}</strong>#}
{#                    <div class="pt-3">#}
{#                        <a href="{% url "system-channel-update" channel.pk %}">Configure</a>#}
{#                        | <a href="{% url "system-channel-toggle" channel.pk %}">#}
{#                        {% if channel.enabled %}Disable{% else %}<strong>Enable</strong>{% endif %}</a>#}
{#                        | <a href="{% url "system-channel-delete" channel.pk %}">Remove</a>#}
{#                        | <a href="{% url "system-channel-deprecate" channel.pk %}">#}
{#                        {% if channel.deprecated %}<strong>Show</strong>{% else %}Hide{% endif %}#}
{#                    </a>#}
{##}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-1 text-center vertical-align-center h4">#}
{#                    {% if channel.enabled %}#}
{#                        <i class="fa fa-check"></i>#}
{#                    {% else %}#}
{#                        <i class="fa fa-ban"></i>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{% endblock content %}
