{% extends "admin_extra_buttons/change_list.html" %}
{# {% block breadcrumbs %}{% endblock %} #}
{# {% block object-tools-items %}{% endblock %} #}
{# {% block action-content %} #}
{# <table> #}
{# {% for n in original.notifications.all %} #}
{# <td> #}
{# <td><a href="{% url 'admin:bitcaster_notification_change' n.pk %}">{{ n }}</a></td> #}
{# <td><a href="{% url 'admin:bitcaster_distributionlist_change' n.distribution.pk %}">{{ n.distribution }}</a> #}
{# </td> #}
{# <td>{{ n.environments }}</td> #}
{# <td> #}
{# </td> #}
{# </tr> #}
{# {% endfor %} #}
{# </table> #}
{# <a href="{% url 'admin:bitcaster_notification_add' %}?event={{ original.pk }}">Add</a> #}
{# {% endblock action-content %} #}
