{% extends "bitcaster/application/base.html" %}{% load i18n bitcaster %}
{% block page %}
    {% include 'bitcaster/_includes/_filter_queryset.html' %}

    <table class="table table-striped table-hover col-12">
        <thead>
        <tr>
            <th scope="col">{% trans "event" %}</th>
            <th scope="col">{% trans "channel" %}</th>
            <th scope="col">{% trans "subscriber" %}</th>
            <th class="text-center" scope="col">{% trans "reason" %}</th>
            <th class="text-center" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for subscription in object_list %}
            <tr>
                <td>
                    {{ subscription.event }}
                </td>
                <td>
                    {{ subscription.channel }}
                </td>
                <td>
                    {{ subscription.subscriber }}
                </td>
                <td>
                    {{ subscription.get_status_display }}
                </td>
                <td class="text-right formset-commands ">
                    <a class="btn btn-outline-light"
                       data-toggle="tooltip" title="{% if subscription.enabled %}{% trans "disable" %}{% else %}{% trans "enable" %}{% endif %}"
                       href="{% app-url 'app-event-subscription-toggle' subscription.event.id subscription.id %}">
                        <i class="fas {% if subscription.enabled %}fa-toggle-on green{% else %}fa-toggle-off red{% endif %}"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- pagination-->
    {% if is_paginated %}
        {% include "bitcaster/_includes/pagination.html" with page_obj=page_obj %}
    {% endif %}
    <!-- end pagination-->

{#    {% if pending %}#}
{#        <h4>Pending Subscriptions</h4>#}
{#        <table class="table table-striped table-hover col-12">#}
{#            <thead>#}
{#            <tr>#}
{#                <th scope="col">{% trans "Address" %}</th>#}
{#                <th scope="col">{% trans "Created" %}</th>#}
{#                <th scope="col">{% trans "Sent" %}</th>#}
{#                <th scope="col"></th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for invitation in pending %}#}
{#                <tr>#}
{#                    <td>#}
{#                        {{ invitation.target }}#}
{#                    </td>#}
{#                    <td>#}
{#                        {{ invitation.date_created }}#}
{#                    </td>#}
{#                    <td>#}
{#                        {{ invitation.date_sent|default_if_none:"" }}#}
{#                    </td>#}
{#                    <td class="text-right">#}
{#                        <a class="btn btn-outline-light" href='{% app-url "app-invitation-delete" invitation.pk %}' ;">#}
{#                        <i class="far fa-trash-alt pointer"></i>#}
{#                        </a>#}
{#                            <form method="post" class="d-inline"#}
{#                                  action="{% app-url "app-invitation-send" invitation.pk %}">#}
{#                                {% csrf_token %}#}
{#                                <button type="submit" title="resend email" class="btn btn-outline-light">#}
{#                                    <i class="fa fa-envelope"></i>#}
{#                                </button>#}
{#                            </form>#}
{##}
{#                    </td>#}
{#                </tr>#}
{##}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    {% endif %}#}
{% endblock page %}
