{% extends "bitcaster/application/base.html" %}{% load crispy_forms_filters i18n %}
{% block page %}
    <div class="container-fluid">
        <div class="row col-12">
            <div class="container-fluid user-profile">
                <form method="post" enctype="multipart/form-data" action=".">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="{% trans "Save" %}" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock page %}
