{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Bitcaster</title>
        <link rel="stylesheet" href="{% static "unfold/css/styles.css" %}" />
        <link rel="stylesheet" href="{% static "css/unfold_ext.css" %}" />
        <script src="{% static "unfold/js/alpine/alpine.anchor.js" %}" defer></script>
        <script src="{% static "unfold/js/alpine/alpine.persist.js" %}" defer></script>
        <script src="{% static "unfold/js/alpine/alpine.sort.js" %}" defer></script>
        <script src="{% static "unfold/js/alpine/alpine.resize.js" %}" defer></script>
        <script src="{% static "unfold/js/alpine/alpine.js" %}" defer></script>
        <script src="{% static "unfold/js/htmx/htmx.js" %}"></script>
        <script src="{% static "unfold/js/chart/chart.js" %}"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body class="dark:bg-gray-900 text-gray-200">
        {% block body %}
        {% endblock %}
        {% include "bitcaster/fragments/footer.html" %}
    </body>
</html>
