{% load bc_assets bc_permissions bitcaster i18n static gravatar cache %}<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Bitcaster: {{ title }}</title>
    <link rel="shortcut icon" type="image/png" href="{% asset "bitcaster/images/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% asset "bitcaster/bitcaster.css" %}">
    <link rel="stylesheet" href="{% asset "bitcaster/public.css" %}">
{#    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>#}

</head>

<body class="{% block bodyclass %}{% endblock %}">
<div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="modalWindowTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {#        <button type="button" class="btn btn-primary">Save changes</button>#}
            </div>
        </div>
    </div>
</div>
{% block body %}
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="{{ sidebar }}">
            <div class="sidebar-header">
                <h3>
                    <img src="{% asset "bitcaster/images/bitcaster64.png" %}">Bitcaster
                    <button type="button" class="btn white toggle" href="#"><i class="fas fa-bars"></i>
                    </button>
                </h3>
                <strong>
                    <button type="button" class="btn white toggle" href="#">
                        <img src="{% asset "bitcaster/images/bitcaster64.png" %}">
                    </button>
                </strong>
            </div>
            {% block left-menu %}{% endblock left-menu %}

        </nav>

        <!-- Page Content  -->
        <div id="content">
            {% block toggler %}
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <h3>{{ title }}</h3>
                    </div>
                    <div class="container-fluid">
                        {% block user-links %}
                            {% if user.is_authenticated %}

                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="nav navbar-nav ml-auto">
                                        <li class="nav-item">
                                            {% if organization %}{{ organization }} /{% endif %} {{ user }}
                                        </li>
                                    </ul>
                                    <img class="gravatar" src="{{ user|gravatar:30 }}"/>
                                </div>
                            {% endif %}
                        {% endblock user-links %}
                    </div>
                </nav>

                {% block messages %}
                    <div id="messageBar">{% if messages %}
                        <ul class="messagelist">{% for message in messages %}
                            <li class="alert {% if message.tags %} {{ message.tags }}{% endif %} fade show alert-dismissible ">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <span>{{ message }}</span>
                            </li>
                        {% endfor %}</ul>
                    {% endif %}</div>
                {% endblock messages %}
            {% endblock toggler %}
            {% if alarms %}
                <div id="alarmBar">
                    <ul class="messagelist">{% for alarm in alarms %}
                        <li class="alarm {% if alarm.tags %} alert-{{ alarm.tags }}{% endif %} show ">
                            <span>{{ alarm|capfirst }}</span>
                        </li>
                    {% endfor %}</ul>
                </div>
            {% endif %}
            {% block page %}

            {% endblock page %}
        </div>
    </div>
    {% block footer %}
        {% cache 500 footer bitcaster_version %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm justify-content-start">
                            <span class="pull-left">
                            <span>{{ bitcaster_version }} </span>
                            <span class="git-status d-inline d-sm-none d-md-inline">{{ git_status }}</span>
                            </span>
                        </div>
                        <div class="col-sm justify-content-center">
                            <a href="//bitcaster.io/"><img src="{% asset "bitcaster/images/bitcaster32.png" %}"></a>
                        </div>
                        <div class="col-sm justify-content-end">
                        </div>
                    </div>
                </div>
            </footer>
        {% endcache %}
    {% endblock footer %}
{% endblock body %}


{#<script src="{% static "bitcaster/jquery.js" %}"></script>#}
<script src="{% static "bitcaster/js-cookie.js" %}"></script>
<script src="{% static "bitcaster/vendor.js" %}"></script>
<script src="{% static "bitcaster/bitcaster.js" %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('button.btn.toggle').on('click', function () {
            bitcaster.toggleSidebar();
        });
    });
    {% if messages %}
        setTimeout(function () {
            $('.alert').not('.keep').alert('close');
        }, 5000);
    {% endif %}
    {% if paginator %}
        bitcaster.paginator({{ page_obj.number }}, {{paginator.num_pages}}, "{{ filters }}");
    {% endif %}
</script>
{% block js %}
{% endblock js %}

{% block js-modal %}
    <script>
        $('[rel="modal:open"]').on('click', function (e) {
            e.preventDefault();
            var url = $(this).data("remote");
            $('#modalWindow .modal-content').load(url, function(result){
                $('#modalWindow').modal({show:true});
            });
        });
    </script>
{% endblock %}
{% if config.GOOGLE_ANALYTICS_CODE %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.GOOGLE_ANALYTICS_CODE }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', '{{ config.GOOGLE_ANALYTICS_CODE }}');
        gtag('version', '{{ bitcaster_version }}');
    </script>
{% endif %}
</body>
</html>
