{% extends "bitcaster/base.html" %}{% load static i18n feature_flags %}

{% block body %}
    {% flag_enabled 'BETA_PREVIEW_LOCKING' as BETA_PREVIEW_LOCKING %}
    <div class="text-center">
        <div>
            <div class="container m-5">
                <img style="width: 400px" src="{% static "bitcaster/images/logos/logo400.png" %}">
            </div>
            <div class="container">
                <img style="width: 400px" src="{% static "bitcaster/images/logos/name.svg" %}">
            </div>
        </div>
        <div class="container m-5 ">
            {% if user.is_authenticated %}
                {% if BETA_PREVIEW_LOCKING %}
                    {% if perms.bitcaster.can_lock_system %}
                        <a class="button" href="{% url "locking" %}">Locking</a>
                    {% endif %}
                {% endif %}
                {% if user.is_staff %}
                    <a class="button default primary" href="{% url "admin:index" %}">Admin</a>
                {% endif %}
                <form method="post" action="{% url "logout" %}" id="logout-form">
                    {% csrf_token %}
                    <input type="submit" class="submit primary" value="{% translate "Logout" %}">
                </form>
            {% else %}
                <a class="button primary" href="{% url "login" %}">{% translate "Login" %}</a>
            {% endif %}

        </div>
    </div>
    <div>

    </div>
{% endblock %}
