{% extends "bitcaster/base.html" %}{% load feature_flags i18n static %}

{% block body %}
    <div class="text-center">
        <div>
            <div class="container m-5">
                <img style="width: 400px" src="{% static "bitcaster/images/logos/logo400.png" %}">
            </div>
            <div class="container">
                <img style="width: 400px" src="{% static "bitcaster/images/logos/name.svg" %}">
            </div>
        </div>
        <div class="container m-5 ">
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <a class="button default primary" href="{% url "admin:index" %}">Admin</a>
                {% endif %}
                <form method="post" action="{% url "logout" %}" id="logout-form">
                    {% csrf_token %}
                    <input type="submit" class="submit primary" value="{% translate "Logout" %}">
                </form>
            {% else %}
                <a class="button primary" href="{% url "login" %}">{% translate "Login" %}</a>
            {% endif %}

        </div>
    </div>
    <div>

    </div>
{% endblock body %}
