{% extends "bitcaster/base.html" %}{% load i18n crispy_forms_tags bc_assets %}

{% block body %}
    {% if alarms %}
        <div id="alarmBar">
            <ul class="messagelist">{% for alarm in alarms %}
                <li class="alarm {% if alarm.tags %} alert-{{ alarm.tags }}{% endif %} show ">
                    <span>{{ alarm|capfirst }}</span>
                </li>{% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if messages %}
        <div id="alarmBar">
            <ul class="messagelist">{% for alarm in messages %}
                <li class="alarm {% if alarm.tags %} alert-{{ alarm.tags }}{% endif %} show ">
                    <span>{{ alarm|capfirst }}</span>
                </li>{% endfor %}
            </ul>
        </div>
    {% endif %}


    <div class="container">
        <div class="row col-12 justify-content-center align-items-center">
            <div class="box box-modal login-form col-6 p-3">
                <div class="container-fluid p-3 align-center">
                    <div class="col-md-12 text-center">
                        <img src="{% asset "bitcaster/images/bitcaster64.png" %}">
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="/">
                        {{ form|crispy }}
                        <div class="col-md-12 text-center">
                            <input type="submit" value="{% trans "Login" %}"
                                   class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
                {% include "bitcaster/_includes/oauth.html" %}
            </div>
            <div class="col-md-12 text-center">
                <span>bitcaster {{ bitcaster_version }} - {{ bitcaster_copyright }}</span>
            </div>
        </div>
    </div>

{% endblock %}
{% block js-modal %}{% endblock js-modal %}
{% block js-base %}{% endblock js-base %}
{% block js-common %}{% endblock js-common %}
