{% extends "bitcaster/base.html" %}{% load crispy_forms_tags crispy_forms_field bc_assets %}
{% block bodyclass %}setup{% endblock %}
{% block header %}{% endblock %}
{% block body %}
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body channel-info">
                <form method="post">
                    {% csrf_token %}
                    <div class="container form-container">
                        {{ form.organization|as_crispy_field }}
                        {{ form.email|as_crispy_field }}
                        {{ register_form|as_crispy_errors }}
                        {{ form.password1|as_crispy_field }}
                        <div class="password-strength"></div>
                        {{ form.password2|as_crispy_field }}
                    </div>
                    <input type="submit" class="btn btn-primary" value="Create superuser">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% asset "bitcaster/pwstrength.js" %}"></script>
    <script>
        if (window.pwds) {
            window.pwds.addStrengthIndicator(
                "#id_password1",
                ".password-strength"
            );
        }
    </script>
{% endblock %}
