{% extends "admin_extra_buttons/action_page.html" %}{% load i18n %}
{% block action-content %}
    <div style="display: flex;width: 100%" >
        <div style="display: inline-flex;width: 40%;margin-right: 10px"  class="wizard-summary">

            <table>
                <tr>
                    <th>Notification</th>
                    <td>{{ original }}</td>
                </tr>
                <tr>
                    <th>Event</th>
                    <td><a href="{% url "admin:bitcaster_event_change" original.event.pk %}">{{ original.event }}</a></td>
                </tr>
                <tr>
                    <th>Distribution</th>
                    <td>{{ original.distribution }}</td>
                </tr>
            </table>

        </div>
        <div style="display: inline-flex;width: 60%">

{# <div>Add another</div> #}
            {{ form.non_field_errors }}
            <div>
                <form method="post" id="messageForm">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="{% translate "Create" %}">
                </form>
            </div>
        </div>
    </div>

    {% if message_templates %}
        <div class="module">
            <table width="100%">
                <tr>
                    <th width="70%">{% translate "Name" %}</th>
                    <td>{% translate "Channel" %}</td>
                </tr>
                {% for msg in message_templates %}
                    <tr {% if msg.pk == message_created.pk %}style="background-color: #2bc06a" {% endif %}>
                        <th width="70%"><a href="{% url "admin:bitcaster_message_change" msg.pk %}">{{ msg }}</a></th>
                        <td>{{ msg.channel }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

{% endblock action-content %}
