* {
  --primary: #e53734;
  --secondary: #e53734;
  --bg-primary: #e53734;
  --bg-secondary: #ef5552;
  --breadcrumbs-bg: #ef5552;
  --button-bg: var(--bg-secondary);
  --button-hover-bg: rgba(223, 207, 75, 0.63);
  --default-button-bg: #980404FF;
  --header-bg: #e53734;
  --link-fg: #e53734;
  --link-hover-color: rgba(223, 207, 75, 0.63);
  --wizard-summary-bg-color: #f8f8f8;
  --darkened-bg: rgba(161, 161, 161, 0.2);
}

@media (prefers-color-scheme: light) {
  :root, html[data-theme=light] {
    --link-hover-color: #951515;
    --button-fg: black;
    --button-hover-fg: black;
  }
}
@media (prefers-color-scheme: dark) {
  :root, html[data-theme=dark] {
    --md-hue: 225deg;
    --body-bg: hsla(var(--md-hue), 15%, 14%, 1);
    --link-hover-color: #951515;
    --button-hover-fg: black;
  }
}
:root a.deletelink, html[data-theme=light] a.deletelink, html[data-theme=dark] a.deletelink {
  border: 1px solid bisque;
}
:root .select2-search--dropdown, html[data-theme=light] .select2-search--dropdown, html[data-theme=dark] .select2-search--dropdown {
  padding: 0;
}
:root .select2-container--filter-autocomplete .select2-results__option--highlighted[aria-selected], html[data-theme=light] .select2-container--filter-autocomplete .select2-results__option--highlighted[aria-selected], html[data-theme=dark] .select2-container--filter-autocomplete .select2-results__option--highlighted[aria-selected] {
  background-color: var(--bg-secondary);
  color: #fff;
}
:root ul.object-tools li a.action, html[data-theme=light] ul.object-tools li a.action, html[data-theme=dark] ul.object-tools li a.action {
  background-color: #3e8f3e;
}
:root ul.object-tools li a.link, html[data-theme=light] ul.object-tools li a.link, html[data-theme=dark] ul.object-tools li a.link {
  background-color: #dfd953;
  color: black;
}
:root ul.object-tools li a.lock, html[data-theme=light] ul.object-tools li a.lock, html[data-theme=dark] ul.object-tools li a.lock {
  background-color: #951515;
  color: white;
}
:root ul.object-tools li a.unlock, html[data-theme=light] ul.object-tools li a.unlock, html[data-theme=dark] ul.object-tools li a.unlock {
  background-color: #86df53;
  color: black;
}
:root ul.object-tools li a.unlock.disabled, html[data-theme=light] ul.object-tools li a.unlock.disabled, html[data-theme=dark] ul.object-tools li a.unlock.disabled {
  background-color: #808080;
  color: #cccccc;
}
:root #channel-add input[type=radio], html[data-theme=light] #channel-add input[type=radio], html[data-theme=dark] #channel-add input[type=radio] {
  height: 30px;
}
:root .channel-wizard-help, html[data-theme=light] .channel-wizard-help, html[data-theme=dark] .channel-wizard-help {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid var(--secondary);
  margin-top: 20px;
  padding: 7px;
  min-height: 100px;
}
:root .wizard-summary, html[data-theme=light] .wizard-summary, html[data-theme=dark] .wizard-summary {
  width: 400px;
  background-color: var(--wizard-summary-bg-color);
  color: black;
}
:root .wizard-summary tr, html[data-theme=light] .wizard-summary tr, html[data-theme=dark] .wizard-summary tr {
  padding: 0;
  margin: 0;
  border-bottom: 0;
}
:root .wizard-summary th, html[data-theme=light] .wizard-summary th, html[data-theme=dark] .wizard-summary th {
  width: 10%;
  background-color: var(--wizard-summary-bg-color);
  border-bottom: 0;
}
:root .wizard-summary td, html[data-theme=light] .wizard-summary td, html[data-theme=dark] .wizard-summary td {
  width: 90%;
  background-color: var(--wizard-summary-bg-color);
  border-bottom: 0;
}

.w-400 {
  width: 400px;
}

#container div.wizard-submit-row {
  display: flex;
}
#container div.wizard-submit-row button {
  padding: 10px 15px;
  color: black;
}
#container div.wizard-submit-row button.cancel {
  float: right;
  margin-left: auto;
}

ul#quick-links {
  margin-left: 0;
  padding: 10px;
  width: 80%;
  line-height: 20px;
}
ul#quick-links li {
  width: 100%;
  list-style: none;
  margin-bottom: 5px;
}
ul#quick-links li a {
  display: block;
  width: 100%;
  background-color: var(--button-bg);
  padding: 5px 15px;
  color: var(--button-fg);
}
ul#quick-links li a:hover {
  background-color: var(--button-hover-bg);
  color: var(--button-hover-fg);
}

/*# sourceMappingURL=admin.css.map */
