@import "colors";


#logout-form {
  display: inline-flex;
}

div.center {
  margin: auto;
}

div.login-form {
  padding: 5px;
  width: 400px;
  margin: auto;

  form {
    label {
      display: inline-flex;
      color: var(--fg-primary);
      width: 220px;
      margin-top: 10px;
    }

    input[type=text], input[type=password] {
      margin: auto;
      width: 200px;
      padding: 12px !important;
      display: block;
    }

    .container {
      padding-top: 20px;
    }
  }


}

.social-login {
  width: 400px;
  border: 1px solid gray;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  form {
    input {
      background-color: var(--button-bg);
      font-weight: bold;
      width: 200px;
    }

    display: inline;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.p-5 {
  padding: 5px;
}

.m-5 {
  margin: 50px;
}

.mb-5 {
  margin-bottom: 50px;
}

.m-1 {
  margin: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

a {
  color: var(--fg-primary);

  &.button {
    padding: 10px 15px;
  }
}

.text-center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

html[data-theme="dark"] {
  .footer {
    margin-bottom:0 !important;
    color: var(--fg-primary);
  }
}

html[data-theme="light"] {
  .footer {
    margin-bottom:0 !important;
    color: var(--fg-primary);
  }
}
