:root {
  --bg-primary: #c31919;
  --bg-secondary: #1616aa;
  --fg-primary: black;
  --jse-theme-color: var(--bg-primary);
}

.social-login {
  width: 400px;
  border: 1px solid gray;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  form{
    input{
      background-color: #217dc5;
      font-weight: bold;
      width: 200px;
    }
    display: inline;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.p-5 {
  padding: 5px;
}

.m-5 {
  margin: 50px;
}

a {
  color: var(--fg-primary);

  &.button {
    padding: 10px 15px;
  }
}

.text-center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}
