{% extends "bitcaster/organization/base.html" %}{% load crispy_forms_filters i18n bitcaster %}
{% block page %}
    <div class="container">
        <div class="row col-12">
        <form method="post" action="." class="col-12">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <table class="table col-12">
                <tbody>
                <tr lass="d-flex">
                    <td style="width: 20%">{% trans "User" %}</td>
                    <td class="col-4">{{ membership.user }}</td>
                </tr>
                <tr lass="d-flex">
                    <td>{% trans "Role" %}</td>
                    <td class="col-4">{{ form.role.errors }}{{ form.role|as_crispy_field }}</td>
                </tr>
                <tr lass="d-flex">
                    <td>{% trans "Enrolled on" %}</td>
                    <td class="col-4">{{ membership.date_enrolled|default_if_none:"" }}</td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary btn-small pull-left mr-3" href=".">{% trans "Save" %}</button>
            <button type="button"
                    class="btn btn-light btn-small pull-left"
                    onclick="window.location.href = '{{ organization.urls.members }}';">
                Cancel
            </button>

        </form>
    </div>
    </div>
{% endblock %}
