{% extends "bitcaster/organization/base.html" %}{% load partition i18n %}
{% block page %}
    {% blocktrans %}Invite a member to join this organization via their email address.
        If they do not already have an account, they will first be asked to create one.
        Multiple emails delimited by commas.{% endblocktrans %}
    <form method="post">
        {% csrf_token %}
        <div class="container-fluid border p-3 mt-3 mb-3">
            <ul class="errors red">{{ form.role.errors }}</ul>
            <textarea class="textinput textInput form-control" name="emails"></textarea>
        </div>
        <div class="container-fluid border">
            <div class="p-3 container-fluid border-bottom">{% trans "Role" %}</div>
            {{ form.role.errors }}
            {% for role in roles %}
                <div>
                    <div class="row p-3">
                        <input type="radio" name="role" value="{{ role.0 }}">
                        <div class="pl-3">{{ role.1 }}
                            <div>
                                {#                            <div class="help-block">Members can view and act on events, as well as view most other data#}
                                {#                                within the organization.#}
                                {#                            </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="container-fluid border mt-3">
            <div class="p-3 container-fluid border-bottom">{% trans "Groups" %}</div>
            <div class="row p-3">
                <div class="container">
                    {% for subgroup in organization.groups.all|columns:"4" %}
                        <div class="row p-2">{% for group in subgroup %}
                            <div class="col-2">
                                <input type="checkbox" name="groups" value="{{ group.id }}">
                                {{ group }}
                            </div>
                        {% endfor %}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <input type="submit" value="Save" class="btn btn-primary">
    </form>
{% endblock %}
