{% extends "bitcaster/user/base.html" %}{% load bitcaster crispy_forms_utils crispy_forms_tags crispy_forms_field crispy_forms_filters i18n %}
{% block page %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="{% url "user-address" organization.slug %}">{% trans "Addresses" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               href="{% url "user-address-assignment" organization.slug %}">{% trans "Assignments" %}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="row">
            <div class="row col-12 p-3">
                <div class="pull-left col-10">{% blocktrans %}
Add here all your addresses.
<b>Note:</b> because each channel has different requirements, each address can be validated only after it has
                    been assigned to a Channel.
For this reason, is possible that you are forced to insert the same address multiple times.
i.e SMS channel that uses E.164 and other SMS Channell that uses a different number format.
                {% endblocktrans %}</div>
                <div class="pull-left col-2">
                    <a id="add_more" class="btn btn-danger btn-small pull-right"
                       href=".">{% trans "Add Address" %}
                    </a>
                </div>
            </div>
        </div>

        {% include "bitcaster/_includes/formset/commands.html" with label="Save" %}

        <div id="empty-form" class="d-none">
            <div class="row col-12 m-0 p-0 {% if form.errors %}has-error{% endif %}">
                <div class="row m-0 p-0 col-12 line-fields" style="display: inline-flex">
                    <div class="hidden order" data-order="__prefix__">
                        {{ form.empty_form.id }}{{ form.empty_form.user }}{{ form.empty_form.DELETE }}</div>
                    <div class="col col-3">{{ form.empty_form.label|as_crispy_field }}</div>
                    <div class="col col-5">{{ form.empty_form.address|as_crispy_field }}</div>
                    <div class="col col-2 align-middle align-items-center formset-commands">
                        <a href="." class="btn remove_line">
                            <i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="invalid-feedback">{{ form.empty_form.non_field_errors.as_text }}</div>
        </div>
        <div class="container pl-0 m-0" style="display: block; min-height: 30px">
            <div class="row col-12 m-0 p-0 {% if form.errors %}has-error{% endif %}">
                <div class="row m-0 p-0 col-12 line-fields" style="display: inline-flex">
                    <div class="col col-3">{% trans "Label" %}</div>
                    <div class="col col-5">{% trans "Address" %}</div>
                    <div class="col col-2 align-middle align-items-center formset-commands">
                    </div>
                </div>
            </div>

            <form method="post" id="Form">
                {{ form.management_form }}
                {% csrf_token %}
                <div class="content addresses fieldset">
                    {% for form in form.forms|order_formset %}
                        <div class="row col-12 m-0 p-0 {% if form.errors %}has-error{% endif %}">
                            <div class="row m-0 p-0 col-12 line-fields" style="display: inline-flex">
                                <div class="hidden">{{ form.user }}{{ form.id }}{{ form.DELETE }}</div>
                                <div class="col col-3">{{ form.label|as_crispy_field }}</div>
                                <div class="col col-5">{{ form.address|as_crispy_field }}</div>
                                <div class="col col-2 align-middle align-items-center formset-commands">
                                    <a href="." class="btn btn-outline-light remove_line align-top">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
{#                                    {% if not form.instance.verified %}#}
{#                                        <a href="#" class="btn btn-outline-light info align-top">#}
{#                                            <i class="fas fa-exclamation-circle red"></i>#}
{#                                        </a>#}
{#                                        <i class="far fa-trash-alt"></i>#}
{#                                        {% else %}#}
{#                                        <i class="far fa-trash-alt"></i>#}
{#                                    {% endif %}#}
                                </div>
                                {% if form.non_field_errors %}
                                    <div
                                        class="row non-field-errors invalid-feedback">{{ form.non_field_errors.as_text }}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>

        {% include "bitcaster/_includes/formset/commands.html" with label="Save" %}

    </div> <!-- tab-content -->
{% endblock %}
{% block js %}
    {% include "bitcaster/_includes/formset/js_code.html" with formsetName="addresses" %}
    <script>
        $('.info').on('click', function (e) {
            Swal.fire({
                title: 'info!',
                text: "{% trans 'This address has not been verified. Assign it to a channel and insert the verification code you receive' %}",
                type: 'info',
                confirmButtonText: 'Ok'
            })
        });
    </script>
{% endblock js %}
