{% extends "bitcaster/user/base.html" %}{% load bitcaster crispy_forms_utils crispy_forms_tags crispy_forms_field i18n %}
{% block page %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url "user-address" organization.slug %}">{% trans "Addresses" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active"
               href="{% url "user-address-assignment" organization.slug %}">{% trans "Assignments" %}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="row">
            <div class="row col-12 p-3">
                <div class="pull-left col-12">
                    <a id="add_more" class="btn btn-danger btn-small pull-right"
                       href=".">{% trans "Add Assignment" %}
                    </a>
                    {#                    <a class="btn btn-dark btn-small pull-left ml-3"#}
                    {#                       href="{{ organization.urls.members }}">{% trans "Back" %}#}
                    {#                    </a>#}
                </div>
            </div>
        </div>
        {% include "bitcaster/_includes/formset/commands.html" with label="Save" %}

        <div id="empty-form" class="d-none">
            <div class="row col-12 m-0 p-0 {% if form.errors %}has-error{% endif %}">
                <div class="row m-0 p-0 col-12 line-fields" style="display: inline-flex">
                    <div class="hidden">
                        {{ form.empty_form.id }}{{ form.empty_form.user }}{{ form.empty_form.DELETE }}</div>
                    <div class="col col-3">{{ form.empty_form.channel|as_crispy_field }}</div>
                    <div class="col col-5">{{ form.empty_form.address|as_crispy_field }}</div>
                    <div class="col col-2 align-middle align-items-center formset-commands">
                        <a href="#" class="btn remove_line mr-2">
                            <i class="far fa-trash-alt pointer"></i>
                        </a>
                    </div>
                </div>
                <div class="invalid-feedback">{{ form.empty_form.non_field_errors.as_text }}</div>
            </div>
        </div>
        <div class="container">
            <form method="post" id="Form">
                {{ form.management_form }}
                {% csrf_token %}
                <div class="content assignments fieldset">
                    {% for form in form.forms|order_formset %}
                        <div class="row col-12 m-0 p-0  {% if form.errors %}has-error{% endif %}">
                            <div class="row m-0 p-0 col-12 line-fields" style="display: inline-flex">
                                <div class="hidden">{{ form.user }}{{ form.id }}{{ form.DELETE }}</div>
                                <div class="col col-3">{{ form.channel|as_crispy_field }}</div>
                                <div class="col col-5">{{ form.address|as_crispy_field }}</div>
                                <div class="col col-2 align-middle align-items-center formset-commands">
                                    <a href="#" class="btn remove_line mr-2 btn-outline-light align-top">
                                        <i class="far fa-trash-alt pointer"></i>
                                    </a>
                                    {% if form.instance.id %}
                                        <a rel="modal:open"
                                           class="btn btn-outline-light align-top"
                                           title="info"
                                           data-remote="{% org-url "user-address-info" form.instance.id %}"
                                           href="."><i class="fa fa-info"></i></a>
                                        {% if not form.instance.address.verified %}
                                            <a rel="modal:open"
                                               data-assignment="{{ form.instance.id }}"
                                               class="btn btn-outline-light align-top"
                                               title="verify"
                                               data-remote="{% org-url "user-address-verify" form.instance.id %}"
                                               href="."><i class="fas fa-exclamation-circle red"></i>
                                            </a>
                                        {% endif %}

                                    {% endif %}
                                </div>
                                {% if form.non_field_errors %}
                                    <div
                                        class="row non-field-errors invalid-feedback">{{ form.non_field_errors.as_text }}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>
        {% include "bitcaster/_includes/formset/commands.html" with label="Save" %}
    </div>
{% endblock %}
{% block js %}
    {% include "bitcaster/_includes/formset/js_code.html" with formsetName="assignments" %}
{% endblock js %}
