{% extends "bitcaster/base.html" %}{% load i18n crispy_forms_tags menu bc_permissions %}
{% block bodyclass %}user{% endblock %}

{% block page %}

{% endblock page %}
{% block left-menu %}
    <ul class="list-unstyled components">
        <li>
            <a class="{{ view|menu_item:'home' }}" href="{% url 'me' organization.slug %}">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <li>
            <a class="{{ view|menu_item:'address' }}" href="{% url 'user-address' organization.slug %}">
                <i class="fas fa-mail-bulk"></i>
                {% trans "Addresses" %}
            </a>
        </li>
{#        <li>#}
{#            <a class="{{ view|menu_item:'profile' }}" href="{% url 'user-profile' organization.slug %}">#}
{#                <i class="fas fa-user"></i>#}
{#                {% trans "Profile" %}#}
{#            </a>#}
{#        </li>#}
        <li>
            <a class="{{ view|menu_item:'subscriptions' }}" href="{% url 'user-subscriptions' organization.slug %}">
                <i class="fas fa-bookmark"></i>
                {% trans "Subscriptions" %}
            </a>
        </li>
        <li>
            <a class="{{ view|menu_item:'events' }}" href="{% url 'user-events' organization.slug %}">
                <i class="fas fa-rss"></i>
                {% trans "Events" %}
            </a>
        </li>
{#        <li>#}
{#            <a class="{{ view|menu_item:'logout' }}" href="{% url 'logout' %}">#}
{#                <i class="fas fa-sign-out-alt"></i>#}
{#                {% trans "Logout" %}#}
{#            </a>#}
        </li>
    </ul>
    <ul class="list-unstyled components sidebar-footer">
    {% check_permissions organization as org_perm %}
        {% if org_perm.manage_organization %}
            <li>
                <a class="{{ view|menu_item:'organization' }}" style="bottom:0;" href="{{ organization.urls.dashboard }}">
                    <i class="fas fa-sitemap"></i>{% trans "Admin" %} {{ organization }}</a>
            </li>
        {% endif %}
        {% if user.is_manager %}
            <li>
                <a class="{{ view|menu_item:'application' }}" href="{% url 'user-applications' organization.slug %}">
                    <i class="fas fa-sign-out-alt"></i>
                    {% trans "Applications" %}
                </a>
            </li>
        {% endif %}

{#        {% if user.is_superuser %}#}
{#            <li>#}
{#                <a style="bottom:0;" href="{% url 'settings' %}">#}
{#                    <i class="fas fa-cog"></i>#}
{#                    {% trans "Settings" %}#}
{#                </a>#}
{#            </li>#}
{#        {% endif %}#}
    </ul>
{% endblock left-menu %}
