{% extends "bitcaster/user/base.html" %}{% load i18n bitcaster %}
{% block page %}
    {% include 'bitcaster/_includes/_filter_queryset.html' %}

    <table class="table table-striped table-hover col-12">
        <thead>
        <tr>
            <th>{% trans "application" %}</th>
            <th>{% trans "event" %}</th>
            <th>{% trans "description" %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for event in event_list %}
            <tr class="inline-flex">
                <td class="app">{{ event.application }}</td>
                <td class="event">{{ event }}</td>
                <td class="description">{{ event.description }}</td>
                <td class="nowrap formset-commands">
                    <a class="btn btn-light"
                       data-toggle="tooltip" title="subscribe"
                       href="{% org-url 'user-event-subscribe' event.pk %}">
                        {% if event.pk in subscripted_events %}
                            <i class="fas fa-bookmark"></i>
                        {% else %}
                            <i class="far fa-bookmark"></i>
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock page %}
{% block js %}
    {{ block.super }}
    <script>

        $.expr[":"].contains = $.expr.createPseudo(function (arg) {
            return function (elem) {
                return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
            };
        });
        $("#filter").keyup(function () {
            var target = $(this).val().toUpperCase();
            if (target) {
                $("tr.inline-flex").hide();
                $("tr:contains('" + target + "')").show();
            } else {
                $("tr.inline-flex").show();
            }
        });
    </script>
{% endblock %}
