@import "tailwindcss";

@source "../../**/*.{html,py,js}";
@source "../../../**/*.{html,py,js}";
@source "../../../../**/*.{html,py,js}";


@theme {
  /* BASE
  --color-base-50: 249 250 251;
  --color-base-100: 243 244 246;
  --color-base-200: 229 231 235;
  --color-base-300: 209 213 219;
  --color-base-400: 156 163 175;
  --color-base-500: 107 114 128;
  --color-base-600: 75 85 99;
  --color-base-700: 55 65 81;
  --color-base-800: 31 41 55;
  --color-base-900: 17 24 39;
  --color-base-950: 3 7 18;

  --color-primary-50: 235 248 253;
  --color-primary-100: 209 237 250;
  --color-primary-200: 163 219 245;
  --color-primary-300: 117 201 240;
  --color-primary-400: 71 183 235;
  --color-primary-500: 28 171 226;
  --color-primary-600: 24 148 196;
  --color-primary-700: 20 125 160;
  --color-primary-800: 16 101 129;
  --color-primary-900: 12 77 98;
  --color-primary-950: 8 54 68;
  */
  --radius-default: 6px;
  --radius-2xl: 20px;
  --color-primary-600: #ef4434;
  --color-green-600: rgba(71, 239, 52, 0.88);

  --font-default-light: 400;
  --text-default-light: var(--color-base-600);
  --font-default-dark: 400;
  --text-default-dark: var(--color-base-600);
  --font-size-3xl: 1.875rem;
  --line-height-3xl: 2.25rem;

  --font-size-4xl: 2.25rem;
  --line-height-4xl: 2.5rem;

  --font-size-5xl: 3rem;
  --line-height-5xl: 1;

  --font-size-6xl: 3.75rem;
  --line-height-6xl: 1;

  --font-size-7xl: 4.5rem;
  --line-height-7xl: 1;

  --font-size-8xl: 6rem;
  --line-height-8xl: 1;

  --font-size-9xl: 8rem;
  --line-height-9xl: 1;

}
@utility text-font-default-light {
  font-weight: var(--font-default-light);
  color: rgb(var(--text-default-light) / 10);
}
@utility text-font-default-dark {
  font-weight: var(--font-default-dark);
  color: rgb(var(--text-default-dark) / 10);
}
@utility unfold-input {
  @apply font-medium min-w-20 rounded-default shadow-xs text-font-default-light text-sm px-3 py-2 w-full max-w-2xl;
  @apply border-gray-500 border-1;
}

@utility unfold-select {
  @apply font-medium min-w-20 rounded-default shadow-xs text-font-default-light text-sm px-3 py-2 w-full max-w-2xl;
  @apply border-gray-500 border-1;
  /*
  @apply border border-base-200 bg-white font-medium min-w-20 placeholder-base-400 rounded-default shadow-xs text-font-default-light text-sm
  @apply focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 group-[.errors]:border-red-600 focus:group-[.errors]:outline-red-600
  @apply dark:bg-base-900 dark:border-base-700 dark:text-font-default-dark dark:group-[.errors]:border-red-500 dark:focus:group-[.errors]:outline-red-500 dark:scheme-dark group-[.primary]:border-transparent disabled:!bg-base-50 dark:disabled:!bg-base-800 px-3 py-2 w-full pr-8! max-w-2xl appearance-none text-ellipsis
  */
}

.tox-tinymce {
  @apply dark:text-white dark:bg-gray-300 w-full !rounded-none;
}

@layer theme {
  .tox-tinymce {
    @apply dark:text-white dark:bg-gray-300 w-full rounded-none;
  }
}

@layer components {
  select#select_language {
    @apply border rounded w-full p-2 capitalize;
  }
  a.link{
    @apply text-red-700;
  }
  #inspect-page {
    .status-processed {
      @apply text-green-500 ;

    }

    .status-new {
      @apply dark:text-white ;
    }

    .status-failed {
      @apply text-red-500 ;
    }

    li {
      &.active {
        @apply text-red-500 border-b-red-500 border-b-2;
      }
    }

    a {
      color: #ef4434;
    }

    div.grid {

    }

    .tab-content {

    }
  }

  .outer_jsoneditor {
    @apply rounded-lg;
  }

  div.jsoneditor {
    @apply !border-gray-900 text-black;
    @apply dark:!border-gray-500 rounded-lg dark:text-white;
    .jsoneditor-poweredBy {
      @apply hidden;
    }

    .ace-jsoneditor .ace_marker-layer .ace_active-line {
      @apply !bg-transparent;
    }

    div.jsoneditor-menu {
      @apply !bg-gray-400 !border-gray-900 !border-b-gray-900 text-black;
      @apply dark:bg-gray-900 dark:border-b-gray-500;
    }

    .ace_gutter-active-line {
      @apply !bg-red-500 !border-none;
    }

    div.jsoneditor-outer {
      .ace_scroller, .ace_gutter {
        @apply !border-gray-100 !bg-gray-100 text-black;
        @apply dark:!bg-gray-600  dark:!text-white;
        .ace_line_group {
          * {
            @apply !border-gray-100 text-black;
            @apply dark:!bg-gray-600  dark:!text-white;
          }
        }
      }

    }

    .jsoneditor-statusbar {
      @apply !bg-gray-900 dark:!border-red-500 mx-2;
    }
  }

  .adminfilters {
    input {
      @apply unfold-input;
    }

    select {
      @apply unfold-select;
    }
  }

  div.edit-message-body {
    @apply border-none;
    #preview {
      border: 1px solid black;
      width: 100%;
      height: 400px;
    }

    input, textarea {
      @apply unfold-input
      /*
      @apply bg-white;
      @apply focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 group-[.errors]:border-red-600 focus:group-[.errors]:outline-red-600;
      @apply dark:bg-base-900 dark:border-base-700 dark:text-font-default-dark dark:group-[.errors]:border-red-500 dark:focus:group-[.errors]:outline-red-500 dark:scheme-dark;
      @apply border-base-200 bg-white font-medium min-w-20 placeholder-base-400 rounded-default shadow-xs text-font-default-light text-sm focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 group-[.errors]:border-red-600 focus:group-[.errors]:outline-red-600 dark:bg-base-900 dark:border-base-700 dark:text-font-default-dark dark:group-[.errors]:border-red-500 dark:focus:group-[.errors]:outline-red-500 dark:scheme-dark group-[.primary]:border-transparent disabled:!bg-base-50 dark:disabled:!bg-base-800 px-3 py-2 w-full max-w-2xl;
      @apply dark:text-white dark:bg-gray-900 border-base-200 bg-white font-medium min-w-20 placeholder-base-400 rounded-default shadow-xs text-font-default-light text-sm focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600 group-[.errors]:border-red-600 focus:group-[.errors]:outline-red-600 dark:bg-base-900 dark:border-base-700 dark:text-font-default-dark dark:group-[.errors]:border-red-500 dark:focus:group-[.errors]:outline-red-500 dark:scheme-dark group-[.primary]:border-transparent disabled:!bg-base-50 dark:disabled:!bg-base-800 px-3 py-2 w-full max-w-2xl;
      */
    }

    textarea {
      @apply h-100;
    }

    .toolbar {
      button {
        @apply rounded-none border-transparent;
        @apply dark:text-white;
        &.active {
          @apply bg-red-500;
        }
      }
    }

    table {
      tr td {
        @apply align-top px-2;
      }
    }

    iframe#preview {
      @apply dark:text-white dark:bg-gray-300 w-full;

    }
  }

  ul.errorlist {
    li {
      @apply text-red-500;
    }
  }

  .button {
    @apply block border cursor-pointer px-3 py-2 rounded w-auto;
    @apply text-black;
    @apply dark:text-white;
  }

  .button-primary {
    @apply bg-red-500 border-transparent;
  }

  .button-alternative, .button-alt, .button-secondary {
    @apply bg-transparent border-gray-600 border-1
  }

  .button-success {
    @apply bg-green-300 border-transparent;
  }

  .form-submit-row {
    @apply flex border-1 p-2 border-gray-700 bg-gray-800 justify-end rounded my-3;
  }

  .filter-lookup {
    @apply unfold-input;
  }
}

#user_messages {
  .badge{
    @apply border rounded text-sm p-1 w-24 block uppercase font-bold text-center;
    @apply dark:border-gray-600;
    &.badge-new{
      @apply dark:bg-gray-400  dark:text-black ;
    }
    &.badge-read{
      @apply dark:bg-green-700 dark:text-black;
    }
    &.badge-unread{
      @apply dark:bg-yellow-600 dark:text-black;
    }
  }
  @apply table-auto w-full;
  thead {
    tr {
      @apply p-2;
      th {
        @apply text-left p-2;
      }
    }
  }
  tbody {
    tr {
      @apply p-2 hover:bg-gray-500 cursor-pointer;
      td {
        @apply p-2;
      }
    }
  }

}
